// @graupl/graupl card component variables.
//
// These values are to be used to directly style components and provide a
// cleaner way to reference custom properties.

@use "defaults";
@use "../../defaults" as root-defaults;
@use "../../variables" as root-variables;
@use "../../theme/color/variables" as color;
@use "../../theme/typography/variables" as typography;
@use "sass:map";

// Card properties.
$card-padding-x: var(
  --#{root-defaults.$prefix}-card-padding-x,
  #{map.get(root-variables.$spacers, 0)}
);
$card-padding-y: var(
  --#{root-defaults.$prefix}-card-padding-y,
  #{map.get(root-variables.$spacers, 0)}
);
$card-padding: var(
  --#{root-defaults.$prefix}-card-padding,
  #{$card-padding-y} #{$card-padding-x}
);
$card-transition: var(
  --#{root-defaults.$prefix}-card-transition,
  transform #{map.get(root-variables.$transition-durations, fast)} #{root-variables.$transition-timing-function}
);
$card-transition-reduced-motion: var(
  --#{root-defaults.$prefix}-card-transition-reduced-motion,
  none
);

// Card transform properties.
$card-transform: var(
  --#{root-defaults.$prefix}-card-transform,
  #{defaults.$card-transform}
);
$card-hover-transform: var(
  --#{root-defaults.$prefix}-card-hover-transform,
  #{defaults.$card-hover-transform}
);

// Card gap properties.
$card-column-gap: var(
  --#{root-defaults.$prefix}-card-column-gap,
  #{map.get(root-variables.$spacers, 0)}
);
$card-row-gap: var(
  --#{root-defaults.$prefix}-card-row-gap,
  #{map.get(root-variables.$spacers, 0)}
);
$card-gap: var(
  --#{root-defaults.$prefix}-card-gap,
  #{$card-column-gap} #{$card-row-gap}
);

// Card color properties.
$card-background: var(
  --#{root-defaults.$prefix}-card-background,
  #{color.$root-background}
);
$card-color: var(--#{root-defaults.$prefix}-card-color, #{color.$root-color});

// Card border-properties.
$card-border-color: var(
  --#{root-defaults.$prefix}-card-border-color,
  #{$card-color}
);
$card-top-left-border-radius: var(
  --#{root-defaults.$prefix}-card-top-left-border-radius,
  #{root-variables.$border-radius}
);
$card-top-right-border-radius: var(
  --#{root-defaults.$prefix}-card-top-right-border-radius,
  #{root-variables.$border-radius}
);
$card-bottom-left-border-radius: var(
  --#{root-defaults.$prefix}-card-bottom-left-border-radius,
  #{root-variables.$border-radius}
);
$card-bottom-right-border-radius: var(
  --#{root-defaults.$prefix}-card-bottom-right-border-radius,
  #{root-variables.$border-radius}
);
$card-border-radius: var(
  --#{root-defaults.$prefix}-card-border-radius,
  #{$card-top-left-border-radius} #{$card-top-right-border-radius} #{$card-bottom-right-border-radius}
    #{$card-bottom-left-border-radius}
);
$card-border-style: var(
  --#{root-defaults.$prefix}-card-border-style,
  #{root-variables.$border-style}
);
$card-border-width: var(
  --#{root-defaults.$prefix}-card-border-width,
  #{root-variables.$border-width}
);
$card-border: var(
  --#{root-defaults.$prefix}-card-border,
  #{$card-border-width} #{$card-border-style}
);

// Card layout properties.
$card-content-ratio: var(
  --#{root-defaults.$prefix}-card-content-ratio,
  defaults.$card-content-ratio
);
$card-image-ratio: var(
  --#{root-defaults.$prefix}-card-image-ratio,
  defaults.$card-image-ratio
);
$horizontal-card-content-ratio: var(
  --#{root-defaults.$prefix}-horizontal-card-content-ratio,
  defaults.$horizontal-card-content-ratio
);
$horizontal-card-image-ratio: var(
  --#{root-defaults.$prefix}-horizontal-card-image-ratio,
  defaults.$horizontal-card-image-ratio
);

// Card image properties.
$card-image-padding-x: var(
  --#{root-defaults.$prefix}-card-image-padding-x,
  #{map.get(root-variables.$spacers, 0)}
);
$card-image-padding-y: var(
  --#{root-defaults.$prefix}-card-image-padding-y,
  #{map.get(root-variables.$spacers, 0)}
);
$card-image-padding: var(
  --#{root-defaults.$prefix}-card-image-padding,
  #{$card-image-padding-y} #{$card-image-padding-x}
);

// Card content properties.
$card-content-padding-x: var(
  --#{root-defaults.$prefix}-card-content-padding-x,
  #{map.get(root-variables.$spacers, 5)}
);
$card-content-padding-y: var(
  --#{root-defaults.$prefix}-card-content-padding-y,
  #{map.get(root-variables.$spacers, 3)}
);
$card-content-padding: var(
  --#{root-defaults.$prefix}-card-content-padding,
  #{$card-content-padding-y} #{$card-content-padding-x}
);

// Card content gap properties.
$card-content-column-gap: var(
  --#{root-defaults.$prefix}-card-content-column-gap,
  #{map.get(root-variables.$spacers, 0)}
);
$card-content-row-gap: var(
  --#{root-defaults.$prefix}-card-content-row-gap,
  #{map.get(root-variables.$spacers, 3)}
);
$card-content-gap: var(
  --#{root-defaults.$prefix}-card-content-gap,
  #{$card-content-column-gap} #{$card-content-row-gap}
);

// Card title properties.
$card-title-color: var(
  --#{root-defaults.$prefix}-card-title-color,
  #{$card-color}
);
$card-title-font-size: var(
  --#{root-defaults.$prefix}-card-title-font-size,
  #{typography.$h4-font-size}
);
$card-title-font-weight: var(
  --#{root-defaults.$prefix}-card-title-font-weight,
  #{typography.$h4-font-weight}
);
$card-title-font-family: var(
  --#{root-defaults.$prefix}-card-title-font-family,
  #{typography.$h4-font-family}
);
$card-title-line-height: var(
  --#{root-defaults.$prefix}-card-title-line-height,
  #{typography.$h4-line-height}
);
