// Graupl Container layout.

@use "variables" as *;
@use "../../mixins/layer" as *;
@use "../../defaults" as root-defaults;

@include layer(layout) {
  .container,
  .container > .full-width {
    --#{root-defaults.$prefix}-container-full-width: minmax(
      #{$container-gap},
      1fr
    );
    --#{root-defaults.$prefix}-container-content: min(
      #{$container-content-max-width},
      calc(100% - #{$container-gap} * 2)
    );
    --#{root-defaults.$prefix}-container-breakout: minmax(
      0,
      #{$container-breakout-width}
    );
    --#{root-defaults.$prefix}-container-feature: minmax(
      0,
      #{$container-feature-width}
    );

    display: grid;
    grid-template-columns:
      [full-width-start] var(--#{root-defaults.$prefix}-container-full-width)
      [feature-start] var(--#{root-defaults.$prefix}-container-feature)
      [breakout-start] var(--#{root-defaults.$prefix}-container-breakout)
      [content-start] var(--#{root-defaults.$prefix}-container-content)
      [content-end]
      var(--#{root-defaults.$prefix}-container-breakout) [breakout-end]
      var(--#{root-defaults.$prefix}-container-feature) [feature-end]
      var(--#{root-defaults.$prefix}-container-full-width) [full-width-end];

    > :not(.breakout, .full-width, .feature) {
      grid-column: content;
    }

    .breakout {
      grid-column: breakout;
    }

    .feature {
      grid-column: feature;
    }

    .full-width {
      grid-column: full-width;
    }
  }
}
