// Variables referencing custom properties.

@use "defaults";
@use "../../variables" as root-variables;
@use "../../defaults" as root-defaults;

$container-gap: var(--#{root-defaults.$prefix}-container-gap, #{root-variables.$gap});
$container-content-max-width: var(
  --#{root-defaults.$prefix}-container-content-max-width,
  #{root-variables.$content-max-width}
);
$container-breakout-max-width: var(
  --#{root-defaults.$prefix}-container-breakout-max-width,
  calc(#{$container-content-max-width} + #{defaults.$container-breakout-width})
);
$container-breakout-width: var(
  --#{root-defaults.$prefix}-container-breakout-width,
  calc((#{$container-breakout-max-width} - #{$container-content-max-width}) / 2)
);
$container-feature-max-width: var(
  --#{root-defaults.$prefix}-container-feature-max-width,
  calc(#{$container-breakout-max-width} + #{defaults.$container-feature-width})
);
$container-feature-width: var(
  --#{root-defaults.$prefix}-container-feature-width,
  calc((#{$container-feature-max-width} - #{$container-breakout-max-width}) / 2)
);
