// Default values for Graupl.
//
// Generally, these should not be used directly when styling components.
// They are mainly used to provide default fallbacks for custom properties
// which can be found in the `variables.scss` file.

@use "sass:map";

// Prefix for custom properties and other naming conventions.
$prefix: "graupl" !default;

// Settings.
$use-important: true !default;

// Layout properties.
$content-max-width: 96ch !default;

// Screen sizes.
$base-screen-sizes: (
  xs: 0,
  sm: 469px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  hd: 1920px,
  qhd: 2560px,
  uhd: 3840px,
) !default;
$custom-screen-sizes: () !default;
$screen-sizes: map.merge($base-screen-sizes, $custom-screen-sizes) !default;

// Spacing properties.
$spacer: 1rem !default;
$base-spacer-multipliers: (
  0: 0,
  1: 0.125,
  2: 0.25,
  3: 0.5,
  4: 0.75,
  5: 1,
  6: 1.5,
  7: 2,
  8: 3,
  9: 5,
  10: 10,
) !default;
$custom-spacer-multipliers: () !default;
$spacer-multipliers: map.merge(
  $base-spacer-multipliers,
  $custom-spacer-multipliers
) !default;

// Size properties.
$interactive-min-width: 44px !default;
$interactive-min-height: 44px !default;

// Border properties.
$border-radius: 0.125rem !default;
$border-width: 2px !default;
$border-style: solid !default;

// Transition properties.
$transition-duration-base: 100;
$transition-duration: (
  fast: #{$transition-duration-base * 1.5}ms,
  default: #{$transition-duration-base * 2.5}ms,
  slow: #{$transition-duration-base * 3}ms,
) !default;
$transition-timing-function: ease !default;
