// Variables referencing custom properties.

@use "defaults";
@use "sass:map";

// Layout properties.
$content-max-width: var(
  --#{defaults.$prefix}-content-max-width,
  defaults.$content-max-width
);

// Spacing properties.
$gap: var(--#{defaults.$prefix}-gap, defaults.$gap);
$spacer: var(--#{defaults.$prefix}-spacer, defaults.$spacer);
$spacers: ();

@each $key, $value in defaults.$spacer-multipliers {
  $space: var(--#{defaults.$prefix}-spacer-#{$key}, calc(#{$value} * #{$spacer}));

  $spacers: map.set($spacers, $key, $space);
}

// Border properties.
$border-radius: var(
  --#{defaults.$prefix}-border-radius,
  defaults.$border-radius
);
$border-width: var(--#{defaults.$prefix}-border-width, defaults.$border-width);
$border-style: var(--#{defaults.$prefix}-border-style, defaults.$border-style);

// Font properties.
$font-size: (
  small:
    var(
      --#{defaults.$prefix}-font-size-small,
      map.get(defaults.$font-size, small)
    ),
  default:
    var(
      --#{defaults.$prefix}-font-size-default,
      map.get(defaults.$font-size, default)
    ),
  large:
    var(
      --#{defaults.$prefix}-font-size-large,
      map.get(defaults.$font-size, large)
    ),
);

// Transition properties.
$transition-duration: (
  fast:
    var(
      --#{defaults.$prefix}-transition-duration-fast,
      map.get(defaults.$transition-duration, fast)
    ),
  default:
    var(
      --#{defaults.$prefix}-transition-duration-default,
      map.get(defaults.$transition-duration, default)
    ),
  slow:
    var(
      --#{defaults.$prefix}-transition-duration-slow,
      map.get(defaults.$transition-duration, slow)
    ),
);
$transition-timing-function: var(
  --#{defaults.$prefix}-transition-timing-function,
  defaults.$transition-timing-function
);
