// @graupl/graupl gradient utilities default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "sass:map";

// Gradient properties.
$gradient-selector: "gradient" !default;
$gradient-direction-selector-prefix: "" !default;
$gradient-color-selector-prefix: "" !default;
$gradient-color-from-selector-prefix: "from-" !default;
$gradient-color-to-selector-prefix: "to-" !default;
$base-gradient-directions: (
  to-top: "to top",
  to-top-right: "to top right",
  to-right: "to right",
  to-bottom-right: "to bottom right",
  to-bottom: "to bottom",
  to-bottom-left: "to bottom left",
  to-left: "to left",
  to-top-left: "to top left",
);
$custom-gradient-directions: () !default;
$gradient-directions: map.merge(
  $base-gradient-directions,
  $custom-gradient-directions
);
$base-gradient-colors: (
  transparent: transparent,
);
$custom-gradient-colors: () !default;
$gradient-colors: map.merge($base-gradient-colors, $custom-gradient-colors);

// Utility modifier flags.
$screen-aware: false !default;
$theme-aware: false !default;
$state-aware: false !default;
