// @graupl/graupl gradient utilities default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;
@use "sass:map";

// Utility modifiers.
$selector-base: root-defaults.$utility-selector-base !default;
$use-important: root-defaults.$use-important !default;
$screen-aware: false !default;
$theme-aware: false !default;
$state-aware: false !default;

// Gradient properties.
$gradient-selector: "gradient" !default;
$gradient-type-selector-prefix: "" !default;
$gradient-direction-selector-prefix: "" !default;
$gradient-color-selector-prefix: "" !default;
$gradient-color-from-selector-prefix: "from-" !default;
$gradient-color-to-selector-prefix: "to-" !default;
$base-gradient-types: (
  linear: linear-gradient,
  radial: radial-gradient,
);
$custom-gradient-types: () !default;
$gradient-types: map.merge($base-gradient-types, $custom-gradient-types);
$base-gradient-directions: (
  to-top: "to top",
  to-right: "to right",
  to-bottom: "to bottom",
  to-left: "to left",
  circle: circle,
  circle-at-top: circle at top,
  circle-at-right: circle at right,
  circle-at-bottom: circle at bottom,
  circle-at-left: circle at left,
  ellipse: ellipse,
  ellipse-at-top: ellipse at top,
  ellipse-at-right: ellipse at right,
  ellipse-at-bottom: ellipse at bottom,
  ellipse-at-left: ellipse at left,
  closest-side: closest-side,
  closest-corner: closest-corner,
  farthest-side: farthest-side,
  farthest-corner: farthest-corner,
);
$custom-gradient-directions: () !default;
$gradient-directions: map.merge(
  $base-gradient-directions,
  $custom-gradient-directions
);
$base-gradient-colors: (
  transparent: transparent,
);
$custom-gradient-colors: () !default;
$gradient-colors: map.merge($base-gradient-colors, $custom-gradient-colors);
