// @graupl/navigation-shelf width utilities default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../component/navigation-shelf/variables" as *;
@use "pkg:@graupl/core/src/defaults" as root-defaults;
@use "pkg:@graupl/core/src/utilities/width/defaults" as width-defaults;
@use "pkg:@graupl/core/src/variables" as root-variables;
@use "sass:map";

// Utility modifiers.
$selector-base: width-defaults.$selector-base !default;
$use-important: width-defaults.$use-important !default;
$generate-base-utilities: width-defaults.$generate-base-utilities !default;
$screen-aware: width-defaults.$screen-aware !default;
$theme-aware: width-defaults.$theme-aware !default;
$state-aware: width-defaults.$state-aware !default;
$container-aware: width-defaults.$container-aware !default;
$screen-aware-separator: width-defaults.$screen-aware-separator !default;
$theme-aware-separator: width-defaults.$theme-aware-separator !default;
$state-aware-separator: width-defaults.$state-aware-separator !default;
$container-aware-separator: width-defaults.$container-aware-separator !default;
$screen-aware-selector-prefix: width-defaults.$screen-aware-selector-prefix !default;
$theme-aware-selector-prefix: width-defaults.$theme-aware-selector-prefix !default;
$state-aware-selector-prefix: width-defaults.$state-aware-selector-prefix !default;
$container-aware-selector-prefix: width-defaults.$container-aware-selector-prefix !default;

// Width properties.
$width-selector-prefix: width-defaults.$width-selector-prefix !default;
$max-width-selector-prefix: width-defaults.$max-width-selector-prefix !default;
$min-width-selector-prefix: width-defaults.$min-width-selector-prefix !default;

// Width values.
$-width-values: (
  shelf-min: $navigation-shelf-min-width,
  shelf-max: $navigation-shelf-max-width,
  shelf-current: $navigation-shelf-current-width,
  shelf-closed: $navigation-shelf-closed-width,
  shelf-open: $navigation-shelf-open-width,
);
$custom-width-values: () !default;
$width-values: () !default;

// @todo remove this once $custom-width-values is removed
@if $custom-width-values != () {
  @warn "`$custom-width-values` is deprecated and will be removed in a future release of Graupl. Use `$width-values` instead.";

  $width-values: map.merge($width-values, $custom-width-values);
}

// Merge custom properties with base properties if generating base utilities.
@if $generate-base-utilities {
  $width-values: map.merge($-width-values, $width-values);
}
