// Default values for Graupl.
//
// Generally, these should not be used directly when styling components.
// They are mainly used to provide default fallbacks for custom properties
// which can be found in the `variables.scss` file.

$columns-max-width: 1fr !default;
$columns-count: 3 !default;
$columns-disable-width: 48ch !default;
$columns-min-count: 1 !default;
$columns-max-count: 4 !default;
$columns-span: 1 !default;
