// Graupl Columns layout.

@use "variables" as *;
@use "defaults";
@use "../../defaults" as root-defaults;
@use "../../mixins/layer" as *;

@include layer(layout) {
  .columns {
    display: grid;
    grid-template-columns: $columns-grid-template-columns;
    row-gap: $columns-row-gap;
    column-gap: $columns-column-gap;

    > * {
      grid-column: span $columns-span;
    }
  }

  @for $i from defaults.$columns-min-count through defaults.$columns-max-count {
    .count-#{$i} {
      --#{root-defaults.$prefix}-columns-count: #{$i};
    }

    .span-#{$i} {
      --#{root-defaults.$prefix}-columns-span: #{$i};
    }
  }

  // Disable columns on small screens to avoid horizontal bleeding.
  @media screen and (max-width: #{defaults.$columns-disable-width}) {
    .columns {
      --#{root-defaults.$prefix}-columns-min-width: #{defaults.$columns-max-width};
    }
  }
}
