// @graupl/core disclosure component variables.
//
// These values are to be used to directly style components and provide a
// cleaner way to reference custom properties.

@use "defaults";
@use "../../defaults" as root-defaults;
@use "../../variables" as root-variables;
@use "sass:map";

// Disclosure properties.
$disclosure-padding-x: var(
  --#{root-defaults.$prefix}disclosure-padding-x,
  #{map.get(root-variables.$spacers, 0)}
);
$disclosure-padding-y: var(
  --#{root-defaults.$prefix}disclosure-padding-y,
  #{map.get(root-variables.$spacers, 0)}
);
$disclosure-padding: var(
  --#{root-defaults.$prefix}disclosure-padding,
  #{$disclosure-padding-y} #{$disclosure-padding-x}
);

// Disclosure display properties.
$disclosure-show-display: var(
  --#{root-defaults.$prefix}disclosure-show-display,
  #{defaults.$disclosure-show-display}
);
$disclosure-hide-display: var(
  --#{root-defaults.$prefix}disclosure-hide-display,
  #{defaults.$disclosure-hide-display}
);
$disclosure-transitioning-display: var(
  --#{root-defaults.$prefix}disclosure-transitioning-display,
  #{defaults.$disclosure-transitioning-display}
);
$disclosure-display: var(
  --#{root-defaults.$prefix}disclosure-display,
  #{defaults.$disclosure-hide-display}
);

// Disclosure block-size properties.
$disclosure-show-block-size: var(
  --#{root-defaults.$prefix}disclosure-show-block-size,
  #{defaults.$disclosure-show-block-size}
);
$disclosure-hide-block-size: var(
  --#{root-defaults.$prefix}disclosure-hide-block-size,
  #{defaults.$disclosure-hide-block-size}
);
$disclosure-transitioning-block-size: var(
  --#{root-defaults.$prefix}disclosure-transitioning-block-size,
  #{defaults.$disclosure-transitioning-block-size}
);
$disclosure-block-size: var(
  --#{root-defaults.$prefix}disclosure-block-size,
  #{defaults.$disclosure-hide-block-size}
);

// Opacity properties.
$disclosure-show-opacity: var(
  --#{root-defaults.$prefix}disclosure-show-opacity,
  #{defaults.$disclosure-show-opacity}
);
$disclosure-hide-opacity: var(
  --#{root-defaults.$prefix}disclosure-hide-opacity,
  #{defaults.$disclosure-hide-opacity}
);
$disclosure-transitioning-opacity: var(
  --#{root-defaults.$prefix}disclosure-transitioning-opacity,
  #{defaults.$disclosure-transitioning-opacity}
);
$disclosure-opacity: var(
  --#{root-defaults.$prefix}disclosure-opacity,
  #{$disclosure-hide-opacity}
);

// Transition properties.
$disclosure-transition-duration: var(
  --#{root-defaults.$prefix}disclosure-transition-duration,
  #{map.get(root-variables.$transition-durations, fast)}
);
$disclosure-transition-timing-function: var(
  --#{root-defaults.$prefix}disclosure-transition-timing-function,
  #{root-variables.$transition-timing-function}
);
$disclosure-transition: var(
  --#{root-defaults.$prefix}disclosure-transition,
  opacity #{$disclosure-transition-duration}
    #{$disclosure-transition-timing-function},
  block-size #{$disclosure-transition-duration}
    #{$disclosure-transition-timing-function}
);
