// @graupl/core ratio utilities default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;
@use "sass:map";

// Utility modifiers.
$selector-base: root-defaults.$utility-selector-base !default;
$use-important: root-defaults.$use-important !default;
$generate-base-utilities: root-defaults.$generate-base-utilities !default;
$screen-aware: true !default;
$theme-aware: false !default;
$state-aware: false !default;
$container-aware: true !default;
$screen-aware-separator: root-defaults.$utility-screen-aware-separator !default;
$theme-aware-separator: root-defaults.$utility-theme-aware-separator !default;
$state-aware-separator: root-defaults.$utility-state-aware-separator !default;
$container-aware-separator: root-defaults.$utility-container-aware-separator !default;
$screen-aware-selector-prefix: root-defaults.$utility-screen-aware-selector-prefix !default;
$theme-aware-selector-prefix: root-defaults.$utility-theme-aware-selector-prefix !default;
$state-aware-selector-prefix: root-defaults.$utility-state-aware-selector-prefix !default;
$container-aware-selector-prefix: root-defaults.$utility-container-aware-selector-prefix !default;

// Ratio utilities.
$ratio-selector: "ratio" !default;
$ratio-variant-selector-prefix: "" !default;
$force-ratio-selector: "force-ratio" !default;
$-ratios: (
  "one-by-one": "1",
  "two-by-one": "2 / 1",
  "four-by-three": "4 / 3",
  "four-by-one": "4 / 1",
  "sixteen-by-nine": "16 / 9",
  "three-by-two": "3 / 2",
  "eight-by-five": "8 / 5",
);
$ratios: () !default;

// Merge custom properties with base properties if generating base utilities.
@if $generate-base-utilities {
  $ratios: map.merge($-ratios, $ratios);
}
