// @graupl/core list component default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;

// Card selectors.
$selector-base: root-defaults.$component-selector-base !default;
$modifier-selector-base: root-defaults.$modifier-selector-base !default;
$list-selector-base: $selector-base !default;
$list-selector: "list" !default;
$list-item-selector-base: $selector-base !default;
$list-item-selector: "list-item" !default;

// List item properties.
$list-item-transform: none !default;
$list-item-hover-transform: $list-item-transform !default;
