// @graupl/core card component styles.

@use "../../defaults" as root-defaults;
@use "../../mixins/animation";
@use "../../mixins/layer" as *;
@use "defaults";
@use "sass:map";
@use "variables" as *;

@include layer(component) {
  #{defaults.$list-selector-base}#{defaults.$list-selector} {
    display: grid;
    position: relative;
    margin: $list-margin;
    padding: $list-padding;
    border-width: $list-border-width;
    border-style: $list-border-style;
    border-radius: $list-border-radius;
    list-style: none;
    gap: $list-gap;
  }

  #{defaults.$list-item-selector-base}#{defaults.$list-item-selector} {
    position: relative;
    padding: $list-item-padding;
    transform: $list-item-transform;
    transition: $list-item-transition;
    border-width: $list-item-border-width;
    border-style: $list-item-border-style;
    border-radius: $list-item-border-radius;

    @each $selector in map.get(root-defaults.$state-selectors, hover) {
      &#{$selector} {
        --#{root-defaults.$prefix}list-item-transform: $list-item-hover-transform;
      }
    }
  }
}

@include layer(theme) {
  #{defaults.$list-selector-base}#{defaults.$list-selector} {
    border-color: $list-border-color;
    background: $list-background;
    color: $list-color;
  }

  #{defaults.$list-item-selector-base}#{defaults.$list-item-selector} {
    border-color: $list-item-border-color;
    background: $list-item-background;
    color: $list-item-color;
  }
}
