// @graupl/core list component variables.
//
// These values are to be used to directly style components and provide a
// cleaner way to reference custom properties.

// Custom property defaults:
// | Custom property                               | Default                                                                                                                                                                                             |
// | --------------------------------------------- | --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
// | --graupl-list-padding-x                       | var(--graupl-spacer-0)                                                                                                                                                                              |
// | --graupl-list-padding-y                       | var(--graupl-spacer-0)                                                                                                                                                                              |
// | --graupl-list-padding                         | var(--graupl-list-padding-y) var(--graupl-list-padding-x)                                                                                                                                           |
// | --graupl-list-margin-x                        | var(--graupl-spacer-0)                                                                                                                                                                              |
// | --graupl-list-margin-y                        | var(--graupl-spacer-0)                                                                                                                                                                              |
// | --graupl-list-margin                          | var(--graupl-list-margin-y) var(--graupl-list-margin-x)                                                                                                                                             |
// | --graupl-list-column-gap                      | var(--graupl-spacer-2)                                                                                                                                                                              |
// | --graupl-list-row-gap                         | var(--graupl-spacer-2)                                                                                                                                                                              |
// | --graupl-list-gap                             | var(--graupl-list-column-gap) var(--graupl-list-row-gap)                                                                                                                                            |
// | --graupl-list-background                      | var(--graupl-background)                                                                                                                                                                            |
// | --graupl-list-color                           | var(--graupl-color)                                                                                                                                                                                 |
// | --graupl-list-border-color                    | var(--graupl-border-color)                                                                                                                                                                          |
// | --graupl-list-border-top-left-radius          | var(--graupl-border-top-left-radius)                                                                                                                                                                |
// | --graupl-list-border-top-right-radius         | var(--graupl-border-top-right-radius)                                                                                                                                                               |
// | --graupl-list-border-bottom-left-radius       | var(--graupl-border-bottom-left-radius)                                                                                                                                                             |
// | --graupl-list-border-bottom-right-radius      | var(--graupl-border-bottom-right-radius)                                                                                                                                                            |
// | --graupl-list-border-radius                   | var(--graupl-list-border-top-left-radius) var(--graupl-list-border-top-right-radius) var(--graupl-list-border-bottom-right-radius) var(--graupl-list-border-bottom-left-radius)                     |
// | --graupl-list-border-top-width                | 0                                                                                                                                                                                                   |
// | --graupl-list-border-right-width              | 0                                                                                                                                                                                                   |
// | --graupl-list-border-bottom-width             | 0                                                                                                                                                                                                   |
// | --graupl-list-border-left-width               | 0                                                                                                                                                                                                   |
// | --graupl-list-border-width                    | var(--graupl-list-border-top-width) var(--graupl-list-border-right-width) var(--graupl-list-border-bottom-width) var(--graupl-list-border-left-width)                                               |
// | --graupl-list-border-top-style                | var(--graupl-border-top-style)                                                                                                                                                                      |
// | --graupl-list-border-right-style              | var(--graupl-border-right-style)                                                                                                                                                                    |
// | --graupl-list-border-bottom-style             | var(--graupl-border-bottom-style)                                                                                                                                                                   |
// | --graupl-list-border-left-style               | var(--graupl-border-left-style)                                                                                                                                                                     |
// | --graupl-list-border-style                    | var(--graupl-list-border-top-style) var(--graupl-list-border-right-style) var(--graupl-list-border-bottom-style) var(--graupl-list-border-left-style)                                               |
// | --graupl-list-item-padding-x                  | var(--graupl-spacer-5)                                                                                                                                                                              |
// | --graupl-list-item-padding-y                  | var(--graupl-spacer-3)                                                                                                                                                                              |
// | --graupl-list-item-padding                    | var(--graupl-list-item-padding-y) var(--graupl-list-item-padding-x)                                                                                                                                 |
// | --graupl-list-item-transition                 | transform var(--graupl-transition-duration-fast) var(--graupl-transition-timing-function)                                                                                                           |
// | --graupl-list-item-transition-reduced-motion  | none                                                                                                                                                                                                |
// | --graupl-list-item-transform                  | none                                                                                                                                                                                                |
// | --graupl-list-item-hover-transform            | none                                                                                                                                                                                                |
// | --graupl-list-item-background                 | var(--graupl-background)                                                                                                                                                                            |
// | --graupl-list-item-color                      | var(--graupl-color)                                                                                                                                                                                 |
// | --graupl-list-item-border-color               | var(--graupl-border-color)                                                                                                                                                                          |
// | --graupl-list-item-border-top-left-radius     | var(--graupl-border-top-left-radius)                                                                                                                                                                |
// | --graupl-list-item-border-top-right-radius    | var(--graupl-border-top-right-radius)                                                                                                                                                               |
// | --graupl-list-item-border-bottom-left-radius  | var(--graupl-border-bottom-left-radius)                                                                                                                                                             |
// | --graupl-list-item-border-bottom-right-radius | var(--graupl-border-bottom-right-radius)                                                                                                                                                            |
// | --graupl-list-item-border-radius              | var(--graupl-list-item-border-top-left-radius) var(--graupl-list-item-border-top-right-radius) var(--graupl-list-item-border-bottom-right-radius) var(--graupl-list-item-border-bottom-left-radius) |
// | --graupl-list-item-border-top-width           | var(--graupl-border-top-width)                                                                                                                                                                      |
// | --graupl-list-item-border-right-width         | var(--graupl-border-right-width)                                                                                                                                                                    |
// | --graupl-list-item-border-bottom-width        | var(--graupl-border-bottom-width)                                                                                                                                                                   |
// | --graupl-list-item-border-left-width          | var(--graupl-border-left-width)                                                                                                                                                                     |
// | --graupl-list-item-border-width               | var(--graupl-list-item-border-top-width) var(--graupl-list-item-border-right-width) var(--graupl-list-item-border-bottom-width) var(--graupl-list-item-border-left-width)                           |
// | --graupl-list-item-border-top-style           | var(--graupl-border-top-style)                                                                                                                                                                      |
// | --graupl-list-item-border-right-style         | var(--graupl-border-right-style)                                                                                                                                                                    |
// | --graupl-list-item-border-bottom-style        | var(--graupl-border-bottom-style)                                                                                                                                                                   |
// | --graupl-list-item-border-left-style          | var(--graupl-border-left-style)                                                                                                                                                                     |
// | --graupl-list-item-border-style               | var(--graupl-list-item-border-top-style) var(--graupl-list-item-border-right-style) var(--graupl-list-item-border-bottom-style) var(--graupl-list-item-border-left-style)                           |

@use "../../defaults" as root-defaults;
@use "../../theme/color/variables" as color;
@use "../../variables" as root-variables;
@use "defaults";
@use "sass:map";

// List properties.
// --graupl-list-padding-x
$list-padding-x: var(
  --#{root-defaults.$prefix}list-padding-x,
  #{map.get(root-variables.$spacers, 0)}
);

// --graupl-list-padding-y
$list-padding-y: var(
  --#{root-defaults.$prefix}list-padding-y,
  #{map.get(root-variables.$spacers, 0)}
);

// --graupl-list-padding
$list-padding: var(
  --#{root-defaults.$prefix}list-padding,
  #{$list-padding-y} #{$list-padding-x}
);

// --graupl-list-margin-x
$list-margin-x: var(
  --#{root-defaults.$prefix}list-margin-x,
  #{map.get(root-variables.$spacers, 0)}
);

// --graupl-list-margin-y
$list-margin-y: var(
  --#{root-defaults.$prefix}list-margin-y,
  #{map.get(root-variables.$spacers, 0)}
);

// --graupl-list-margin
$list-margin: var(
  --#{root-defaults.$prefix}list-margin,
  #{$list-margin-y} #{$list-margin-x}
);

// List gap properties.
// --graupl-list-column-gap
$list-column-gap: var(
  --#{root-defaults.$prefix}list-column-gap,
  #{map.get(root-variables.$spacers, 2)}
);

// --graupl-list-row-gap
$list-row-gap: var(
  --#{root-defaults.$prefix}list-row-gap,
  #{map.get(root-variables.$spacers, 2)}
);

// --graupl-list-gap
$list-gap: var(
  --#{root-defaults.$prefix}list-gap,
  #{$list-column-gap} #{$list-row-gap}
);

// List color properties.
// --graupl-list-background
$list-background: var(
  --#{root-defaults.$prefix}list-background,
  #{color.$background}
);

// --graupl-list-color
$list-color: var(--#{root-defaults.$prefix}list-color, #{color.$color});

// List border-properties.
// --graupl-list-border-color
$list-border-color: var(
  --#{root-defaults.$prefix}list-border-color,
  #{color.$border-color}
);

// --graupl-list-border-top-left-radius
$list-border-top-left-radius: var(
  --#{root-defaults.$prefix}list-border-top-left-radius,
  #{root-variables.$border-top-left-radius}
);

// --graupl-list-border-top-right-radius
$list-border-top-right-radius: var(
  --#{root-defaults.$prefix}list-border-top-right-radius,
  #{root-variables.$border-top-right-radius}
);

// --graupl-list-border-bottom-left-radius
$list-border-bottom-left-radius: var(
  --#{root-defaults.$prefix}list-border-bottom-left-radius,
  #{root-variables.$border-bottom-left-radius}
);

// --graupl-list-border-bottom-right-radius
$list-border-bottom-right-radius: var(
  --#{root-defaults.$prefix}list-border-bottom-right-radius,
  #{root-variables.$border-bottom-right-radius}
);

// --graupl-list-border-radius
$list-border-radius: var(
  --#{root-defaults.$prefix}list-border-radius,
  #{$list-border-top-left-radius} #{$list-border-top-right-radius}
    #{$list-border-bottom-right-radius} #{$list-border-bottom-left-radius}
);

// --graupl-list-border-top-width
$list-border-top-width: var(--#{root-defaults.$prefix}list-border-top-width, 0);

// --graupl-list-border-right-width
$list-border-right-width: var(
  --#{root-defaults.$prefix}list-border-right-width,
  0
);

// --graupl-list-border-bottom-width
$list-border-bottom-width: var(
  --#{root-defaults.$prefix}list-border-bottom-width,
  0
);

// --graupl-list-border-left-width
$list-border-left-width: var(
  --#{root-defaults.$prefix}list-border-left-width,
  0
);

// --graupl-list-border-width
$list-border-width: var(
  --#{root-defaults.$prefix}list-border-width,
  #{$list-border-top-width} #{$list-border-right-width}
    #{$list-border-bottom-width} #{$list-border-left-width}
);

// --graupl-list-border-top-style
$list-border-top-style: var(
  --#{root-defaults.$prefix}list-border-top-style,
  #{root-variables.$border-top-style}
);

// --graupl-list-border-right-style
$list-border-right-style: var(
  --#{root-defaults.$prefix}list-border-right-style,
  #{root-variables.$border-right-style}
);

// --graupl-list-border-bottom-style
$list-border-bottom-style: var(
  --#{root-defaults.$prefix}list-border-bottom-style,
  #{root-variables.$border-bottom-style}
);

// --graupl-list-border-left-style
$list-border-left-style: var(
  --#{root-defaults.$prefix}list-border-left-style,
  #{root-variables.$border-left-style}
);

// --graupl-list-border-style
$list-border-style: var(
  --#{root-defaults.$prefix}list-border-style,
  #{$list-border-top-style} #{$list-border-right-style}
    #{$list-border-bottom-style} #{$list-border-left-style}
);

// List item properties.
// --graupl-list-item-padding-x
$list-item-padding-x: var(
  --#{root-defaults.$prefix}list-item-padding-x,
  #{map.get(root-variables.$spacers, 5)}
);

// --graupl-list-item-padding-y
$list-item-padding-y: var(
  --#{root-defaults.$prefix}list-item-padding-y,
  #{map.get(root-variables.$spacers, 3)}
);

// --graupl-list-item-padding
$list-item-padding: var(
  --#{root-defaults.$prefix}list-item-padding,
  #{$list-item-padding-y} #{$list-item-padding-x}
);

// --graupl-list-item-transition
$list-item-transition: var(
  --#{root-defaults.$prefix}list-item-transition,
  transform #{map.get(root-variables.$transition-durations, fast)}
    #{root-variables.$transition-timing-function}
);

// --graupl-list-item-transition-reduced-motion
$list-item-transition-reduced-motion: var(
  --#{root-defaults.$prefix}list-item-transition-reduced-motion,
  none
);

// List item transform properties.
// --graupl-list-item-transform
$list-item-transform: var(
  --#{root-defaults.$prefix}list-item-transform,
  #{defaults.$list-item-transform}
);

// --graupl-list-item-hover-transform
$list-item-hover-transform: var(
  --#{root-defaults.$prefix}list-item-hover-transform,
  #{defaults.$list-item-hover-transform}
);

// List item color properties.
// --graupl-list-item-background
$list-item-background: var(
  --#{root-defaults.$prefix}list-item-background,
  #{color.$background}
);

// --graupl-list-item-color
$list-item-color: var(
  --#{root-defaults.$prefix}list-item-color,
  #{color.$color}
);

// List item border-properties.
// --graupl-list-item-border-color
$list-item-border-color: var(
  --#{root-defaults.$prefix}list-item-border-color,
  #{color.$border-color}
);

// --graupl-list-item-border-top-left-radius
$list-item-border-top-left-radius: var(
  --#{root-defaults.$prefix}list-item-border-top-left-radius,
  #{root-variables.$border-top-left-radius}
);

// --graupl-list-item-border-top-right-radius
$list-item-border-top-right-radius: var(
  --#{root-defaults.$prefix}list-item-border-top-right-radius,
  #{root-variables.$border-top-right-radius}
);

// --graupl-list-item-border-bottom-left-radius
$list-item-border-bottom-left-radius: var(
  --#{root-defaults.$prefix}list-item-border-bottom-left-radius,
  #{root-variables.$border-bottom-left-radius}
);

// --graupl-list-item-border-bottom-right-radius
$list-item-border-bottom-right-radius: var(
  --#{root-defaults.$prefix}list-item-border-bottom-right-radius,
  #{root-variables.$border-bottom-right-radius}
);

// --graupl-list-item-border-radius
$list-item-border-radius: var(
  --#{root-defaults.$prefix}list-item-border-radius,
  #{$list-item-border-top-left-radius} #{$list-item-border-top-right-radius}
    #{$list-item-border-bottom-right-radius}
    #{$list-item-border-bottom-left-radius}
);

// --graupl-list-item-border-top-width
$list-item-border-top-width: var(
  --#{root-defaults.$prefix}list-item-border-top-width,
  #{root-variables.$border-top-width}
);

// --graupl-list-item-border-right-width
$list-item-border-right-width: var(
  --#{root-defaults.$prefix}list-item-border-right-width,
  #{root-variables.$border-right-width}
);

// --graupl-list-item-border-bottom-width
$list-item-border-bottom-width: var(
  --#{root-defaults.$prefix}list-item-border-bottom-width,
  #{root-variables.$border-bottom-width}
);

// --graupl-list-item-border-left-width
$list-item-border-left-width: var(
  --#{root-defaults.$prefix}list-item-border-left-width,
  #{root-variables.$border-left-width}
);

// --graupl-list-item-border-width
$list-item-border-width: var(
  --#{root-defaults.$prefix}list-item-border-width,
  #{$list-item-border-top-width} #{$list-item-border-right-width}
    #{$list-item-border-bottom-width} #{$list-item-border-left-width}
);

// --graupl-list-item-border-top-style
$list-item-border-top-style: var(
  --#{root-defaults.$prefix}list-item-border-top-style,
  #{root-variables.$border-top-style}
);

// --graupl-list-item-border-right-style
$list-item-border-right-style: var(
  --#{root-defaults.$prefix}list-item-border-right-style,
  #{root-variables.$border-right-style}
);

// --graupl-list-item-border-bottom-style
$list-item-border-bottom-style: var(
  --#{root-defaults.$prefix}list-item-border-bottom-style,
  #{root-variables.$border-bottom-style}
);

// --graupl-list-item-border-left-style
$list-item-border-left-style: var(
  --#{root-defaults.$prefix}list-item-border-left-style,
  #{root-variables.$border-left-style}
);

// --graupl-list-item-border-style
$list-item-border-style: var(
  --#{root-defaults.$prefix}list-item-border-style,
  #{$list-item-border-top-style} #{$list-item-border-right-style}
    #{$list-item-border-bottom-style} #{$list-item-border-left-style}
);
