// @gruapl/graupl accordion component styles.

@use "defaults";
@use "variables" as *;
@use "../../defaults" as root-defaults;
@use "../../mixins/layer" as *;

#{defaults.$accordion-selector} {
  @include layer(component) {
    overflow: hidden;
    background-color: red !important;

    #{defaults.$accordion-trigger-selector} {
      --#{root-defaults.$prefix}-button-active-transform: none;
      justify-content: $accordion-trigger-justify-content;
      width: 100%;
    }

    #{defaults.$accordion-panel-selector} {
      transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
    }

    &[aria-expanded="true"] #{defaults.$accordion-icon-selector} {
      // TODO: Get the icon to work.
      transform: translateY(-50%) rotate(-135deg);
    }

    #{defaults.$accordion-title-selector} {
      display: block;
      pointer-events: none;
      padding: #{$accordion-trigger-title-padding};
      outline: #{$accordion-trigger-title-outline};
    }

    #{defaults.$accordion-icon-selector} {
      // TODO: Get the icon to work.
      height: #{$accordion-icon-height};
      position: absolute;
      right: 2em;
      top: 50%;
      transform: translateY(-60%) rotate(45deg);
      width: #{$accordion-icon-width};
    }

    #{defaults.$accordion-transition-selector} {
      #{defaults.$accordion-panel-selector} {
        opacity: 0;
        transform: translateY(-100%)
      }
    }

    #{defaults.$accordion-close-selector} {
      #{defaults.$accordion-panel-selector} {
        display: none;
        opacity: 0;
        transform: translateY(-100%)
      }
    }

    #{defaults.$accordion-open-selector} {
      #{defaults.$accordion-panel-selector} {
        display: block;
        opacity: 1;
      }
    }

  }

  @include layer(theme) {
    #{defaults.$accordion-item-selector} {
      overflow: hidden;
    }

    #{defaults.$accordion-trigger-wrapper} {
      z-index: 2;
      position: relative;
      margin: #{$accordion-item-margin};
      border: #{$accordion-trigger-title-border};
    }

    #{defaults.$accordion-icon-selector} {
      border: #{$accordion-icon-border};
      pointer-events: none;
    }

    #{defaults.$accordion-panel-selector} {
      z-index: 1;
      margin: #{$accordion-panel-margin};
      padding: #{$accordion-panel-padding};
      border: #{$accordion-border};
      background-color: #{$accordion-panel-background};
    }

    #{defaults.$accordion-footer-selector} {
      padding: #{$accordion-footer-padding};
    }
  }
}
