// @gruapl/graupl accordion component styles.

@use "defaults";
@use "variables" as *;
@use "../../defaults" as root-defaults;
@use "../../mixins/layer" as *;

#{defaults.$accordion-selector} {
  @include layer(component) {
    #{defaults.$accordion-trigger-selector} {
      display: block;
      position: relative;
      text-align: #{$accordion-trigger-text-align};
      width: 100%;
    }

    &[aria-expanded="true"] #{defaults.$accordion-icon-selector} {
      transform: translateY(-50%) rotate(-135deg);
    }

    #{defaults.$accordion-title-selector} {
      display: block;
      pointer-events: none;
      border: #{$accordion-trigger-title-border};
      border-radius: #{$accordion-trigger-title-border-radius};
      padding: #{$accordion-trigger-title-padding};
      outline: #{$accordion-trigger-title-outline};
    }

    #{defaults.$accordion-icon-selector} {
      height: #{$accordion-icon-height};
      position: absolute;
      right: 2em;
      top: 50%;
      transform: translateY(-60%) rotate(45deg);
      width: #{$accordion-icon-width};
    }

    #{defaults.$accordion-close-selector} {
      #{defaults.$accordion-panel-selector} {
        overflow: hidden;
        display: none;
      }
    }

    // TODO: See how I can use the transitioning class to transiton open the accordion.
    // .transitioning {
    //   #{defaults.$accordion-panel-selector} {
    //     transition: max-height 4s ease-in-out;
    //   }
    // }
  }

  @include layer(theme) {
    border-radius: #{$accordion-border-radius};
    border: #{$accordion-border};

    #{defaults.$accordion-item-selector} {
      &>*:first-child {
        margin: #{$accordion-item-margin};

        #{defaults.$accordion-trigger-selector} {
          border-style: #{$accordion-trigger-border-style};
        }
      }
    }

    #{defaults.$accordion-trigger-selector} {
      background: #{$accordion-trigger-background};
      color: #{$accordion-trigger-text-color};
      font-size: #{$accordion-trigger-font-size};
      font-weight: #{$accordion-trigger-font-weight};
      margin: #{$accordion-trigger-margin};
      padding: #{$accordion-trigger-padding};
      outline: #{$accordion-trigger-outline};
    }

    #{defaults.$accordion-trigger-selector}:hover {
      background-color: #{$accordion-trigger-background-active};
    }

    #{defaults.$accordion-trigger-selector}:hover #{defaults.$accordion-icon-selector} {
      border-color: #{$accordion-icon-border-color};
    }

    #{defaults.$accordion-icon-selector} {
      border: #{$accordion-icon-border};
      pointer-events: none;
    }

    #{defaults.$accordion-panel-selector} {
      margin: #{$accordion-panel-margin};
      padding: #{$accordion-panel-padding};
      background-color: #{$accordion-panel-background};
    }
  }

  &>*:not(:first-child) {
    border-top: #{$accordion-border-top};
  }

  &>*:last-child #{defaults.$accordion-trigger-selector},
  &>*:last-child {
    border-radius: #{$accordion-border-radius};
  }
}
