// @gruapl/graupl card component styles.

@use "defaults";
@use "variables" as *;
@use "../../defaults" as root-defaults;
@use "../../mixins/layer" as *;

#{defaults.$accordion-selector} {
  @include layer(component) {
    border: black solid 1px;

    #{defaults.$accordion-toggle-selector} {
      display: block;
      width: 100%;
      border: none;
    }

    #{defaults.$accordion-title-selector} {
      text-align: left;
    }

    #{defaults.$accordion-toggle-selector} {
      margin-bottom: 1rem;
    }

    #{defaults.$accordion-panel-selector} {
      padding: 0.5rem 1rem;
    }
  }
}
