// @graupl/core flex columns layout default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;

// Flex columns selectors.
$flex-columns-selector-base: root-defaults.$component-selector-base !default;
$flex-columns-selector: "flex-columns" !default;
$flex-columns-column-selector-base: $flex-columns-selector-base !default;
$flex-columns-column-selector: "col-" !default;
$flex-columns-fill-selector-base: $flex-columns-selector-base !default;
$flex-columns-fill-selector: "fill" !default;
$flex-columns-screen-aware-separator: root-defaults.$screen-aware-selector-separator !default;
$flex-columns-container-aware-separator: root-defaults.$container-aware-selector-separator !default;
$flex-columns-screen-aware-selector-prefix: root-defaults.$screen-aware-selector-prefix !default;
$flex-columns-container-aware-selector-prefix: root-defaults.$container-aware-selector-prefix !default;

// Flex columns properties.
$flex-columns-min-count: 1 !default;
$flex-columns-max-count: 12 !default;
$flex-columns-size: auto !default;
$flex-columns-max-width: unset !default;
$flex-columns-container-type: "inline-size" !default;
