// @graupl/core flex columns layout variables.
//
// These values are to be used to directly style components and provide a
// cleaner way to reference custom properties.
//
// Custom property defaults:
// | Custom property                      | Default                |
// | ------------------------------------ | ---------------------- |
// | --graupl-flex-columns-row-gap        | var(--graupl-spacer-5) |
// | --graupl-flex-columns-column-gap     | var(--graupl-spacer-5) |
// | --graupl-flex-columns-size           | auto                   |
// | --graupl-flex-columns-max-width      | unset                  |
// | --graupl-flex-columns-container-type | inline-size            |

@use "defaults";
@use "../../defaults" as root-defaults;
@use "../columns/variables" as columns-variables;

// Flex columns properties.
// --graupl-flex-columns-row-gap
$flex-columns-row-gap: var(
  --#{root-defaults.$prefix}flex-columns-row-gap,
  #{columns-variables.$columns-row-gap}
);

// --graupl-flex-columns-column-gap
$flex-columns-column-gap: var(
  --#{root-defaults.$prefix}flex-columns-column-gap,
  #{columns-variables.$columns-column-gap}
);

// --graupl-flex-columns-size
$flex-columns-size: var(
  --#{root-defaults.$prefix}flex-columns-size,
  #{defaults.$flex-columns-size}
);

// --graupl-flex-columns-max-width
$flex-columns-max-width: var(
  --#{root-defaults.$prefix}flex-columns-max-width,
  #{defaults.$flex-columns-max-width}
);

// --graupl-flex-columns-container-type
$flex-columns-container-type: var(
  --#{root-defaults.$prefix}flex-columns-container-type,
  #{defaults.$flex-columns-container-type}
);
