// @graupl/graupl ratio utilities styles.
//
// Responsive class must be within their own loop to prevent specificity issues.
// This keeps responsive specificity tied to screen size before property order.

@use "../../defaults" as root-defaults;
@use "../../mixins/layer" as *;
@use "../../mixins/screen";
@use "../../mixins/utility";
@use "defaults";
@use "sass:map";
@use "variables" as *;

@include layer(utilities) {
  .#{defaults.$ratio-class} {
    position: relative;
    width: 100%;

    &::before {
      content: "";
      display: block;
      padding-top: $ratio;
    }

    .#{defaults.$force-ratio-class} {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @each $ratio-class, $value in defaults.$ratios {
    .#{defaults.$ratio-variant-class-prefix}#{$ratio-class} {
      --#{root-defaults.$prefix}ratio: #{$value};
    }
  }

  // Generate responsive utilities.
  @if defaults.$responsive and root-defaults.$responsive-utilities {
    @each $screen-size in map.keys(root-defaults.$screen-sizes) {
      @each $ratio-class, $value in defaults.$ratios {
        .#{$screen-size}#{root-defaults.$responsive-separator}#{defaults.$ratio-variant-class-prefix}#{$ratio-class} {
          @include screen.up($screen-size) {
            --#{root-defaults.$prefix}ratio: #{$value};
          }
        }
      }
    }
  }
}
