// Variables referencing custom properties.

@use "../../variables" as base;
@use "../../theme/variables" as theme;
@use "defaults";
@use "sass:map";

$input-padding-x: var(--#{defaults.$prefix}-input-padding-x, #{base.$gap});
$input-padding-y: var(
  --#{defaults.$prefix}-input-padding-y,
  calc(#{base.$gap} / 2)
);
$input-padding: var(
  --#{defaults.$prefix}-input-padding,
  #{$input-padding-y} #{$input-padding-x}
);
$input-font-size: var(
  --#{defaults.$prefix}-input-font-size,
  #{map.get(base.$font-size, default)}
);
$label-font-size: var(
  --#{defaults.$prefix}-label-font-size,
  #{$input-font-size}
);
$fieldset-direction: var(
  --#{defaults.$prefix}-fieldset-direction,
  #{defaults.$fieldset-direction}
);
$fieldset-gap: var(--#{defaults.$prefix}-fieldset-gap, calc(#{base.$gap} / 4));
$fieldset-padding-x: var(
  --#{defaults.$prefix}-fieldset-padding-x,
  #{$input-padding-x}
);
$fieldset-padding-y: var(
  --#{defaults.$prefix}-fieldset-padding-y,
  #{$input-padding-y}
);
$fieldset-padding: var(
  --#{defaults.$prefix}-fieldset-padding,
  #{$fieldset-padding-y} #{$fieldset-padding-x}
);
$fieldset-font-size: var(
  --#{defaults.$prefix}-fieldset-font-size,
  #{$input-font-size}
);

// Background properties.
$input-background: var(
  --#{defaults.$prefix}-input-background,
  #{theme.$theme-active--light}
);
$fieldset-background: var(
  --#{defaults.$prefix}-fieldset-background,
  #{$input-background}
);

// Text properties.
$input-color: var(
  --#{defaults.$prefix}-input-color,
  #{theme.$theme-active--dark}
);
$input-placeholder-color: var(
  --#{defaults.$prefix}-input-placeholder-color,
  #{theme.$theme-active--secondary--light}
);
$label-color: var(--#{defaults.$prefix}-label-color, #{$input-color});
$fieldset-color: var(--#{defaults.$prefix}-fieldset-color, #{$input-color});
$input-disabled-color: var(
  --#{defaults.$prefix}-input-disabled-color,
  #{theme.$theme-active--secondary--light}
);
$input-disabled-placeholder-color: var(
  --#{defaults.$prefix}-input-disabled-placeholder-color,
  #{$input-disabled-color}
);
$label-disabled-color: var(
  --#{defaults.$prefix}-label-disabled-color,
  #{$input-disabled-color}
);
$fieldset-disabled-color: var(
  --#{defaults.$prefix}-fieldset-disabled-color,
  #{$input-disabled-color}
);

// Border properties.
$input-border-width: var(
  --#{defaults.$prefix}-input-border-width,
  #{base.$border-width}
);
$input-border-style: var(
  --#{defaults.$prefix}-botton-border-style,
  #{base.$border-style}
);
$input-border-radius: var(
  --#{defaults.$prefix}-input-border-radius,
  #{base.$border-radius}
);
$fieldset-border-width: var(
  --#{defaults.$prefix}-fieldset-border-width,
  #{$input-border-width}
);
$fieldset-border-style: var(
  --#{defaults.$prefix}-fieldset-border-style,
  #{$input-border-style}
);
$fieldset-border-radius: var(
  --#{defaults.$prefix}-fieldset-border-radius,
  #{$input-border-radius}
);

// Border colour properties.
$input-border-color: var(
  --#{defaults.$prefix}-input-border-color,
  #{theme.$theme-active--secondary}
);
$input-disabled-border-color: var(
  --#{defaults.$prefix}-input-disabled-border-color,
  #{theme.$theme-active--shade--light}
);
$fieldset-border-color: var(
  --#{defaults.$prefix}-fieldset-border-color,
  #{$input-border-color}
);
$fieldset-disabled-border-color: var(
  --#{defaults.$prefix}-fieldset-disabled-border-color,
  #{$input-disabled-border-color}
);

// Accent color properties.
$input-accent-color: var(
  --#{defaults.$prefix}-input-accent-color,
  #{theme.$theme-active--primary}
);
