// Variables referencing custom properties.

@use "defaults";
@use "../../variables" as root-variables;
@use "../../defaults" as root-defaults;
@use "../../functions/theme";
@use "sass:map";

$input-padding-x: var(
  --#{root-defaults.$prefix}-input-padding-x,
  #{map.get(root-variables.$spacers, 5)}
);
$input-padding-y: var(
  --#{root-defaults.$prefix}-input-padding-y,
  #{map.get(root-variables.$spacers, 3)}
);
$input-padding: var(
  --#{root-defaults.$prefix}-input-padding,
  #{$input-padding-y} #{$input-padding-x}
);
$input-font-size: var(
  --#{root-defaults.$prefix}-input-font-size,
  #{map.get(root-variables.$font-size, default)}
);
$label-font-size: var(
  --#{root-defaults.$prefix}-label-font-size,
  #{$input-font-size}
);
$fieldset-direction: var(
  --#{root-defaults.$prefix}-fieldset-direction,
  #{defaults.$fieldset-direction}
);
$fieldset-gap: var(
  --#{root-defaults.$prefix}-fieldset-gap,
  map.get(root-variables.$spacers, 2)
);
$fieldset-padding-x: var(
  --#{root-defaults.$prefix}-fieldset-padding-x,
  #{$input-padding-x}
);
$fieldset-padding-y: var(
  --#{root-defaults.$prefix}-fieldset-padding-y,
  #{$input-padding-y}
);
$fieldset-padding: var(
  --#{root-defaults.$prefix}-fieldset-padding,
  #{$fieldset-padding-y} #{$fieldset-padding-x}
);
$fieldset-font-size: var(
  --#{root-defaults.$prefix}-fieldset-font-size,
  #{$input-font-size}
);

// Background properties.
$input-background: var(
  --#{root-defaults.$prefix}-input-background,
  #{theme.get(primary, 100)}
);
$fieldset-background: var(
  --#{root-defaults.$prefix}-fieldset-background,
  #{$input-background}
);

// Text properties.
$input-color: var(
  --#{root-defaults.$prefix}-input-color,
  #{theme.get(primary, 900)}
);
$input-placeholder-color: var(
  --#{root-defaults.$prefix}-input-placeholder-color,
  #{theme.get(secondary, 600)}
);
$label-color: var(--#{root-defaults.$prefix}-label-color, #{$input-color});
$fieldset-color: var(
  --#{root-defaults.$prefix}-fieldset-color,
  #{$input-color}
);
$input-disabled-color: var(
  --#{root-defaults.$prefix}-input-disabled-color,
  #{theme.get(secondary, 400)}
);
$input-disabled-placeholder-color: var(
  --#{root-defaults.$prefix}-input-disabled-placeholder-color,
  #{$input-disabled-color}
);
$label-disabled-color: var(
  --#{root-defaults.$prefix}-label-disabled-color,
  #{$input-disabled-color}
);
$fieldset-disabled-color: var(
  --#{root-defaults.$prefix}-fieldset-disabled-color,
  #{$input-disabled-color}
);

// Border properties.
$input-border-width: var(
  --#{root-defaults.$prefix}-input-border-width,
  #{root-variables.$border-width}
);
$input-border-style: var(
  --#{root-defaults.$prefix}-botton-border-style,
  #{root-variables.$border-style}
);
$input-border-radius: var(
  --#{root-defaults.$prefix}-input-border-radius,
  #{root-variables.$border-radius}
);
$fieldset-border-width: var(
  --#{root-defaults.$prefix}-fieldset-border-width,
  #{$input-border-width}
);
$fieldset-border-style: var(
  --#{root-defaults.$prefix}-fieldset-border-style,
  #{$input-border-style}
);
$fieldset-border-radius: var(
  --#{root-defaults.$prefix}-fieldset-border-radius,
  #{$input-border-radius}
);

// Border colour properties.
$input-border-color: var(
  --#{root-defaults.$prefix}-input-border-color,
  #{theme.get(secondary, 700)}
);
$input-disabled-border-color: var(
  --#{root-defaults.$prefix}-input-disabled-border-color,
  #{theme.get(secondary, 200)}
);
$fieldset-border-color: var(
  --#{root-defaults.$prefix}-fieldset-border-color,
  #{$input-border-color}
);
$fieldset-disabled-border-color: var(
  --#{root-defaults.$prefix}-fieldset-disabled-border-color,
  #{$input-disabled-border-color}
);

// Accent color properties.
$input-accent-color: var(
  --#{root-defaults.$prefix}-input-accent-color,
  #{theme.get(primary, 700)}
);
