// Focus style mixins.

@use "../base/defaults" as *;

@mixin apply-focus() {
  outline-color: var(
    --#{$prefix}-focus-outline-color,
    var(--#{$prefix}-active-theme-dark)
  ) !important;
  outline-offset: var(
    --#{$prefix}-focus-outline-offset,
    calc(var(--#{$prefix}-focus-width, 2px) * -1)
  ) !important;
  outline-style: var(
    --#{$prefix}-focus-outline-style,
    dotted
  ) !important;
  outline-width: var(--#{$prefix}-focus-width, 2px) !important;
  box-shadow:
    var(--#{$prefix}-focus-width, 2px)
      var(--#{$prefix}-focus-width, 2px) 0 0
      var(--#{$prefix}-focus-box-shadow-style, inset)
      var(--#{$prefix}-focus-box-shadow-color, var(--#{$prefix}-active-theme-light)),
    0 0 0 var(--#{$prefix}-focus-width, 2px)
      var(--#{$prefix}-focus-box-shadow-style, inset)
      var(--#{$prefix}-focus-box-shadow-color, var(--#{$prefix}-active-theme-light)) !important;
  border-color: transparent;
}
