// @graupl/core focus state variables.
//
// These values are to be used to directly style components and provide a
// cleaner way to reference custom properties.

@use "../../variables" as root-variables;
@use "defaults";
@use "../../defaults" as root-defaults;
@use "../../theme/color/variables" as color;

$focus-width: var(
  --#{root-defaults.$prefix}focus-width,
  #{root-variables.$border-width}
);
$focus-outline-color: var(
  --#{root-defaults.$prefix}focus-outline-color,
  #{color.$color}
);
$focus-outline-width: var(
  --#{root-defaults.$prefix}focus-outline-width,
  #{$focus-width}
);
$focus-outline-style: var(
  --#{root-defaults.$prefix}focus-outline-style,
  #{defaults.$focus-outline-style}
);
$focus-outline: var(
  --#{root-defaults.$prefix}focus-outline,
  #{$focus-outline-width} #{$focus-outline-style} #{$focus-outline-color}
);
$focus-outline-offset: var(
  --#{root-defaults.$prefix}focus-outline-offset,
  calc(-1 * #{$focus-outline-width})
);
$focus-box-shadow-color: var(
  --#{root-defaults.$prefix}focus-box-shadow-color,
  #{color.$background}
);
$focus-border-color: var(
  --#{root-defaults.$prefix}focus-border-color,
  #{color.$background}
);
$focus-box-shadow: var(
  --#{root-defaults.$prefix}focus-box-shadow,
  0 0 0 #{$focus-width} inset #{$focus-box-shadow-color}
);
$focus-box-shadow-bordered: var(
  --#{root-defaults.$prefix}focus-box-shadow-bordered,
  0 0 0 #{$focus-width} #{$focus-box-shadow-color}
);
