// @gruapl/graupl form base styles.

@use "defaults";
@use "variables" as *;
@use "../../mixins/layer" as *;

@include layer(base) {
  #{defaults.$input-selector},
  #{defaults.$textarea-selector},
  #{defaults.$select-selector} {
    padding: $input-padding;
    border-width: $input-border-width;
    border-style: $input-border-style;
    border-radius: $input-border-radius;
    font-size: $input-font-size;

    &:disabled {
      cursor: not-allowed;
    }
  }

  #{defaults.$label-selector} {
    font-size: $label-font-size;
  }

  #{defaults.$fieldset-selector} {
    display: flex;
    flex-flow: $fieldset-direction wrap;
    gap: $fieldset-gap;
    padding: $fieldset-padding;
    border-width: $fieldset-border-width;
    border-style: $fieldset-border-style;
    border-radius: $fieldset-border-radius;
    font-size: $fieldset-font-size;

    &:disabled {
      #{defaults.$input-selector},
      #{defaults.$textarea-selector},
      #{defaults.$select-selector} {
        cursor: not-allowed;
      }
    }
  }
}

@include layer(theme) {
  #{defaults.$input-selector},
  #{defaults.$textarea-selector},
  #{defaults.$select-selector} {
    border-color: $input-border-color;
    background: $input-background;
    color: $input-color;
    accent-color: $input-accent-color;

    &::placeholder {
      color: $input-placeholder-color;
    }

    &:disabled {
      border-color: $input-disabled-border-color;
      color: $input-disabled-color;

      &::placeholder {
        color: $input-disabled-placeholder-color;
      }
    }
  }

  #{defaults.$label-selector} {
    color: $label-color;

    &:has(
        + #{defaults.$input-selector}:disabled,
        + #{defaults.$textarea-selector}:disabled,
        + #{defaults.$select-selector}:disabled
      ) {
      color: $label-disabled-color;
    }
  }

  #{defaults.$fieldset-selector} {
    border-color: $fieldset-border-color;
    background: $fieldset-background;
    color: $fieldset-color;

    &:disabled {
      border-color: $fieldset-disabled-border-color;
      color: $fieldset-disabled-color;

      #{defaults.$label-selector} {
        color: $label-disabled-color;
      }
    }
  }
}
