// @graupl/graupl form base variables.
//
// These values are to be used to directly style bases and provide a
// cleaner way to reference custom properties.

@use "defaults";
@use "../../variables" as root-variables;
@use "../../defaults" as root-defaults;
@use "../../theme/typography/variables" as typography;
@use "../../theme/color/variables" as color;
@use "../../functions/theme";
@use "sass:map";

$input-padding-x: var(
  --#{root-defaults.$prefix}input-padding-x,
  #{map.get(root-variables.$spacers, 5)}
);
$input-padding-y: var(
  --#{root-defaults.$prefix}input-padding-y,
  #{map.get(root-variables.$spacers, 3)}
);
$input-padding: var(
  --#{root-defaults.$prefix}input-padding,
  #{$input-padding-y} #{$input-padding-x}
);
$input-font-size: var(
  --#{root-defaults.$prefix}input-font-size,
  #{map.get(typography.$font-sizes, base)}
);
$label-font-size: var(
  --#{root-defaults.$prefix}label-font-size,
  #{$input-font-size}
);
$fieldset-direction: var(
  --#{root-defaults.$prefix}fieldset-direction,
  #{defaults.$fieldset-direction}
);
$fieldset-gap: var(
  --#{root-defaults.$prefix}fieldset-gap,
  map.get(root-variables.$spacers, 2)
);
$fieldset-padding-x: var(
  --#{root-defaults.$prefix}fieldset-padding-x,
  #{$input-padding-x}
);
$fieldset-padding-y: var(
  --#{root-defaults.$prefix}fieldset-padding-y,
  #{$input-padding-y}
);
$fieldset-padding: var(
  --#{root-defaults.$prefix}fieldset-padding,
  #{$fieldset-padding-y} #{$fieldset-padding-x}
);
$fieldset-font-size: var(
  --#{root-defaults.$prefix}fieldset-font-size,
  #{$input-font-size}
);

// Background properties.
$input-background: var(
  --#{root-defaults.$prefix}input-background,
  #{color.$background}
);
$fieldset-background: var(
  --#{root-defaults.$prefix}fieldset-background,
  #{$input-background}
);

// Text properties.
$input-color: var(--#{root-defaults.$prefix}input-color, #{color.$color});
$input-placeholder-color: var(
  --#{root-defaults.$prefix}input-placeholder-color,
  #{theme.get(secondary, 600)}
);
$label-color: var(--#{root-defaults.$prefix}label-color, #{$input-color});
$fieldset-color: var(--#{root-defaults.$prefix}fieldset-color, #{$input-color});
$input-disabled-color: var(
  --#{root-defaults.$prefix}input-disabled-color,
  #{theme.get(secondary, 400)}
);
$input-placeholder-disabled-color: var(
  --#{root-defaults.$prefix}input-placeholder-disabled-color,
  #{$input-disabled-color}
);
$label-disabled-color: var(
  --#{root-defaults.$prefix}label-disabled-color,
  #{$input-disabled-color}
);
$fieldset-disabled-color: var(
  --#{root-defaults.$prefix}fieldset-disabled-color,
  #{$input-disabled-color}
);

// Border properties.
$input-border-top-width: var(
  --#{root-defaults.$prefix}input-border-top-width,
  #{root-variables.$border-top-width}
);
$input-border-right-width: var(
  --#{root-defaults.$prefix}input-border-right-width,
  #{root-variables.$border-right-width}
);
$input-border-bottom-width: var(
  --#{root-defaults.$prefix}input-border-bottom-width,
  #{root-variables.$border-bottom-width}
);
$input-border-left-width: var(
  --#{root-defaults.$prefix}input-border-left-width,
  #{root-variables.$border-left-width}
);
$input-border-width: var(
  --#{root-defaults.$prefix}input-border-width,
  #{$input-border-top-width} #{$input-border-right-width}
    #{$input-border-bottom-width} #{$input-border-left-width}
);
$input-border-top-style: var(
  --#{root-defaults.$prefix}input-border-top-style,
  #{root-variables.$border-top-style}
);
$input-border-right-style: var(
  --#{root-defaults.$prefix}input-border-right-style,
  #{root-variables.$border-right-style}
);
$input-border-bottom-style: var(
  --#{root-defaults.$prefix}input-border-bottom-style,
  #{root-variables.$border-bottom-style}
);
$input-border-left-style: var(
  --#{root-defaults.$prefix}input-border-left-style,
  #{root-variables.$border-left-style}
);
$input-border-style: var(
  --#{root-defaults.$prefix}input-border-style,
  #{$input-border-top-style} #{$input-border-right-style}
    #{$input-border-bottom-style} #{$input-border-left-style}
);
$input-border-top-left-radius: var(
  --#{root-defaults.$prefix}input-border-top-left-radius,
  #{root-variables.$border-top-left-radius}
);
$input-border-top-right-radius: var(
  --#{root-defaults.$prefix}input-border-top-right-radius,
  #{root-variables.$border-top-right-radius}
);
$input-border-bottom-left-radius: var(
  --#{root-defaults.$prefix}input-border-bottom-left-radius,
  #{root-variables.$border-bottom-left-radius}
);
$input-border-bottom-right-radius: var(
  --#{root-defaults.$prefix}input-border-bottom-right-radius,
  #{root-variables.$border-bottom-right-radius}
);
$input-border-radius: var(
  --#{root-defaults.$prefix}input-border-radius,
  #{$input-border-top-left-radius} #{$input-border-top-right-radius}
    #{$input-border-bottom-right-radius} #{$input-border-bottom-left-radius}
);
$fieldset-border-top-width: var(
  --#{root-defaults.$prefix}fieldset-border-top-width,
  #{$input-border-top-width}
);
$fieldset-border-right-width: var(
  --#{root-defaults.$prefix}fieldset-border-right-width,
  #{$input-border-right-width}
);
$fieldset-border-bottom-width: var(
  --#{root-defaults.$prefix}fieldset-border-bottom-width,
  #{$input-border-bottom-width}
);
$fieldset-border-left-width: var(
  --#{root-defaults.$prefix}fieldset-border-left-width,
  #{$input-border-left-width}
);
$fieldset-border-width: var(
  --#{root-defaults.$prefix}fieldset-border-width,
  #{$fieldset-border-top-width} #{$fieldset-border-right-width}
    #{$fieldset-border-bottom-width} #{$fieldset-border-left-width}
);
$fieldset-border-top-style: var(
  --#{root-defaults.$prefix}fieldset-border-top-style,
  #{$input-border-top-style}
);
$fieldset-border-right-style: var(
  --#{root-defaults.$prefix}fieldset-border-right-style,
  #{$input-border-right-style}
);
$fieldset-border-bottom-style: var(
  --#{root-defaults.$prefix}fieldset-border-bottom-style,
  #{$input-border-bottom-style}
);
$fieldset-border-left-style: var(
  --#{root-defaults.$prefix}fieldset-border-left-style,
  #{$input-border-left-style}
);
$fieldset-border-style: var(
  --#{root-defaults.$prefix}fieldset-border-style,
  #{$fieldset-border-top-style} #{$fieldset-border-right-style}
    #{$fieldset-border-bottom-style} #{$fieldset-border-left-style}
);
$fieldset-border-top-left-radius: var(
  --#{root-defaults.$prefix}fieldset-border-top-left-radius,
  #{$input-border-top-left-radius}
);
$fieldset-border-top-right-radius: var(
  --#{root-defaults.$prefix}fieldset-border-top-right-radius,
  #{$input-border-top-right-radius}
);
$fieldset-border-bottom-left-radius: var(
  --#{root-defaults.$prefix}fieldset-border-bottom-left-radius,
  #{$input-border-bottom-left-radius}
);
$fieldset-border-bottom-right-radius: var(
  --#{root-defaults.$prefix}fieldset-border-bottom-right-radius,
  #{$input-border-bottom-right-radius}
);
$fieldset-border-radius: var(
  --#{root-defaults.$prefix}fieldset-border-radius,
  #{$fieldset-border-top-left-radius} #{$fieldset-border-top-right-radius}
    #{$fieldset-border-bottom-right-radius}
    #{$fieldset-border-bottom-left-radius}
);

// Border colour properties.
$input-border-color: var(
  --#{root-defaults.$prefix}input-border-color,
  #{color.$border-color}
);
$input-disabled-border-color: var(
  --#{root-defaults.$prefix}input-disabled-border-color,
  #{theme.get(secondary, 200)}
);
$fieldset-border-color: var(
  --#{root-defaults.$prefix}fieldset-border-color,
  #{$input-border-color}
);
$fieldset-disabled-border-color: var(
  --#{root-defaults.$prefix}fieldset-disabled-border-color,
  #{$input-disabled-border-color}
);

// Accent color properties.
$input-accent-color: var(
  --#{root-defaults.$prefix}input-accent-color,
  #{$input-color}
);
