// @graupl/graupl button base default values.
//
// Generally, these should not be used directly when styling bases unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "sass:map";

// Button selectors.
$button-selector: ".button" !default;
$button-link-selector: ".link" !default;
$button-theme-selector-prefix: "." !default;

// Button properties.
$button-transform: none !default;
$button-visited-transform: $button-transform !default;
$button-focus-transform: $button-transform !default;
$button-hover-transform: $button-transform !default;
$button-active-transform: scale(0.95) !default;
$button-disabled-transform: $button-transform !default;

// Button state theme defaults.
// This map is used to define the default colour shades for the
// themed button bases.
//
// e.g.
// Primary buttons will use primary--900 as the text colour, primary--100 as the background
// and primary--900 as the border colour.
//
// Secondary/tertiary buttons will use the same shade for their respective colours.
$base-button-state-theme-map: (
  color: 900,
  border-color: 700,
  visited-color: 900,
  visited-border-color: 700,
  focus-color: 900,
  focus-border-color: 700,
  hover-color: 100,
  hover-background: 700,
  hover-border-color: 700,
  active-color: 100,
  active-background: 700,
  active-border-color: 700,
  disabled-color: 200,
  disabled-border-color: 200,
);
$custom-button-state-theme-map: () !default;
$button-state-theme-map: map.merge(
  $base-button-state-theme-map,
  $custom-button-state-theme-map
);
