// @gruapl/graupl button base styles.

@use "defaults";
@use "../../defaults" as root-defaults;
@use "../../theme/color/variables" as color;
@use "../../base/link/variables" as link;
@use "variables" as *;
@use "../../mixins/layer" as *;
@use "../../mixins/media-queries" as *;
@use "sass:map";

@include layer(base) {
  #{defaults.$button-selector} {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $button-min-width;
    min-height: $button-min-height;
    padding: $button-padding;
    transform: $button-transform;
    transition: $button-transition;
    border-width: $button-border-width;
    border-style: $button-border-style;
    border-radius: $button-border-radius;
    font-size: $button-font-size;
    cursor: pointer;

    &:hover {
      --#{root-defaults.$prefix}-button-transform: #{$button-hover-transform};
    }

    &:active {
      --#{root-defaults.$prefix}-button-transform: #{$button-active-transform};
    }

    &:not(#{defaults.$button-link-selector}) {
      --#{root-defaults.$prefix}-link-text-decoration: none;
      --#{root-defaults.$prefix}-link-padding: #{$button-padding};
      --#{root-defaults.$prefix}-link-transition: #{$button-transition};
      --#{root-defaults.$prefix}-link-transition-reduced-motion: #{$button-transition-reduced-motion};
      --#{root-defaults.$prefix}-link-transform: #{$button-transform};
      --#{root-defaults.$prefix}-link-hover-transform: #{$button-hover-transform};
      --#{root-defaults.$prefix}-link-active-transform: #{$button-active-transform};
    }

    &:disabled,
    &[disabled] {
      cursor: not-allowed;

      &:hover,
      &:active {
        transform: none;
      }
    }

    &#{defaults.$button-link-selector} {
      --#{root-defaults.$prefix}-button-padding: #{link.$link-padding};
      --#{root-defaults.$prefix}-button-transition: #{link.$link-transition};
      --#{root-defaults.$prefix}-button-transition-reduced-motion: #{link.$link-transition-reduced-motion};
      --#{root-defaults.$prefix}-button-transform: #{link.$link-transform};
      --#{root-defaults.$prefix}-button-hover-transform: #{link.$link-hover-transform};
      --#{root-defaults.$prefix}-button-active-transform: #{link.$link-active-transform};

      min-width: auto;
      min-height: auto;
      border: 0;
      font-size: inherit;
      text-decoration: link.$link-text-decoration;
      text-decoration-thickness: link.$link-text-decoration-thickness;
    }
  }

  @include animation-off {
    #{defaults.$button-selector} {
      --#{root-defaults.$prefix}-button-transition: #{$button-transition-reduced-motion};
      --#{root-defaults.$prefix}-button-hover-transform: #{$button-hover-transform-reduced-motion};
      --#{root-defaults.$prefix}-button-active-transform: #{$button-active-transform-reduced-motion};
    }
  }
}

@include layer(theme) {
  #{defaults.$button-selector} {
    border-color: $button-border-color;
    background: $button-background;
    color: $button-color;

    @each $color, $map in color.$theme-active {
      &#{defaults.$button-theme-selector-prefix}#{$color} {
        @each $prop, $shade in defaults.$button-state-theme-map {
          --#{root-defaults.$prefix}-button-#{$prop}: #{map.get($map, $shade)};
        }
      }
    }

    &#{defaults.$button-link-selector} {
      --#{root-defaults.$prefix}-button-color: #{link.$link-color};
      --#{root-defaults.$prefix}-button-hover-color: #{link.$link-hover-color};
      --#{root-defaults.$prefix}-button-active-color: #{link.$link-active-color};
      --#{root-defaults.$prefix}-button-disabled-color: #{link.$link-disabled-color};
      --#{root-defaults.$prefix}-button-background: #{link.$link-background};
      --#{root-defaults.$prefix}-button-hover-background: #{link.$link-hover-background};
      --#{root-defaults.$prefix}-button-active-background: #{link.$link-active-background};
      --#{root-defaults.$prefix}-button-disabled-background: #{link.$link-disabled-background};
      --#{root-defaults.$prefix}-button-border-color: none;
      --#{root-defaults.$prefix}-button-hover-border-color: none;
      --#{root-defaults.$prefix}-button-active-border-color: none;
      --#{root-defaults.$prefix}-button-disabled-border-color: none;
      --#{root-defaults.$prefix}-button-hover-transform: none;
      --#{root-defaults.$prefix}-button-active-transform: none;
    }

    &:not(#{defaults.$button-link-selector}) {
      --#{root-defaults.$prefix}-link-color: #{$button-color};
      --#{root-defaults.$prefix}-link-hover-color: #{$button-hover-color};
      --#{root-defaults.$prefix}-link-active-color: #{$button-active-color};
      --#{root-defaults.$prefix}-link-visited-color: #{$button-hover-color};
      --#{root-defaults.$prefix}-link-disabled-color: #{$button-disabled-color};
    }

    &:hover {
      --#{root-defaults.$prefix}-button-border-color: #{$button-hover-border-color};
      --#{root-defaults.$prefix}-button-background: #{$button-hover-background};
      --#{root-defaults.$prefix}-button-color: #{$button-hover-color};
    }

    &:active {
      --#{root-defaults.$prefix}-button-border-color: #{$button-active-border-color};
      --#{root-defaults.$prefix}-button-background: #{$button-active-background};
      --#{root-defaults.$prefix}-button-color: #{$button-active-color};
    }

    &:disabled,
    &[disabled] {
      --#{root-defaults.$prefix}-button-border-color: #{$button-disabled-border-color};
      --#{root-defaults.$prefix}-button-background: #{$button-disabled-background};
      --#{root-defaults.$prefix}-button-color: #{$button-disabled-color};

      &:hover,
      &:active {
        --#{root-defaults.$prefix}-button-border-color: #{$button-disabled-border-color};
        --#{root-defaults.$prefix}-button-background: #{$button-disabled-background};
        --#{root-defaults.$prefix}-button-color: #{$button-disabled-color};
      }
    }
  }
}
