// @graupl/graupl button base variables.
//
// These values are to be used to directly style bases and provide a
// cleaner way to reference custom properties.

@use "defaults";
@use "../../variables" as root-variables;
@use "../../defaults" as root-defaults;
@use "../../theme/color/variables" as color;
@use "../../theme/typography/variables" as typography;
@use "../../functions/theme";
@use "sass:map";

// Button properties.
$button-min-width: var(
  --#{root-defaults.$prefix}-button-min-width,
  #{root-defaults.$interactive-min-width}
);
$button-min-height: var(
  --#{root-defaults.$prefix}-button-min-height,
  #{root-defaults.$interactive-min-height}
);
$button-padding-x: var(
  --#{root-defaults.$prefix}-button-padding-x,
  #{map.get(root-variables.$spacers, 5)}
);
$button-padding-y: var(
  --#{root-defaults.$prefix}-button-padding-y,
  #{map.get(root-variables.$spacers, 3)}
);
$button-padding: var(
  --#{root-defaults.$prefix}-button-padding,
  #{$button-padding-y} #{$button-padding-x}
);
$button-font-size: var(
  --#{root-defaults.$prefix}-button-font-size,
  #{map.get(typography.$font-sizes, base)}
);
$button-transition: var(
  --#{root-defaults.$prefix}-button-transition,
  background #{map.get(root-variables.$transition-durations, fast)} #{root-variables.$transition-timing-function},
  color #{map.get(root-variables.$transition-durations, fast)} #{root-variables.$transition-timing-function},
  transform #{map.get(root-variables.$transition-durations, fast)} #{root-variables.$transition-timing-function}
);
$button-transition-reduced-motion: var(
  --#{root-defaults.$prefix}-button-transition-reduced-motion,
  background #{map.get(root-variables.$transition-durations, none)} #{root-variables.$transition-timing-function},
  color #{map.get(root-variables.$transition-durations, none)} #{root-variables.$transition-timing-function}
);

// Transform properties.
$button-transform: var(
  --#{root-defaults.$prefix}-button-transform,
  #{defaults.$button-transform}
);
$button-visited-transform: var(
  --#{root-defaults.$prefix}-button-visited-transform,
  #{defaults.$button-visited-transform}
);
$button-focus-transform: var(
  --#{root-defaults.$prefix}-button-focus-transform,
  #{defaults.$button-focus-transform}
);
$button-hover-transform: var(
  --#{root-defaults.$prefix}-button-hover-transform,
  #{defaults.$button-hover-transform}
);
$button-active-transform: var(
  --#{root-defaults.$prefix}-button-active-transform,
  #{defaults.$button-active-transform}
);
$button-disabled-transform: var(
  --#{root-defaults.$prefix}-button-disabled-transform,
  #{defaults.$button-disabled-transform}
);

// Background properties.
$button-background: var(
  --#{root-defaults.$prefix}-button-background,
  #{color.$root-background}
);
$button-visited-background: var(
  --#{root-defaults.$prefix}-button-visited-background,
  #{color.$root-background}
);
$button-focus-background: var(
  --#{root-defaults.$prefix}-button-focus-background,
  #{color.$root-background}
);
$button-hover-background: var(
  --#{root-defaults.$prefix}-button-hover-background,
  #{theme.get(primary, 900)}
);
$button-active-background: var(
  --#{root-defaults.$prefix}-button-active-background,
  #{theme.get(primary, 900)}
);
$button-disabled-background: var(
  --#{root-defaults.$prefix}-button-disabled-background,
  #{color.$root-background}
);

// Text properties.
$button-color: var(
  --#{root-defaults.$prefix}-button-color,
  #{color.$root-color}
);
$button-visited-color: var(
  --#{root-defaults.$prefix}-button-visited-color,
  #{color.$root-color}
);
$button-focus-color: var(
  --#{root-defaults.$prefix}-button-focus-color,
  #{color.$root-color}
);
$button-hover-color: var(
  --#{root-defaults.$prefix}-button-hover-color,
  #{theme.get(primary, 100)}
);
$button-active-color: var(
  --#{root-defaults.$prefix}-button-active-color,
  #{theme.get(primary, 100)}
);
$button-disabled-color: var(
  --#{root-defaults.$prefix}-button-disabled-color,
  #{theme.get(primary, 200)}
);

// Border properties.
$button-border-width: var(
  --#{root-defaults.$prefix}-button-border-width,
  #{root-variables.$border-width}
);
$button-border-style: var(
  --#{root-defaults.$prefix}-botton-border-style,
  #{root-variables.$border-style}
);
$button-border-radius: var(
  --#{root-defaults.$prefix}-button-border-radius,
  #{root-variables.$border-radius}
);

// Border colour properties.
$button-border-color: var(
  --#{root-defaults.$prefix}-button-border-color,
  #{color.$root-color}
);
$button-visited-border-color: var(
  --#{root-defaults.$prefix}-button-visited-border-color,
  #{color.$root-color}
);
$button-focus-border-color: var(
  --#{root-defaults.$prefix}-button-focus-border-color,
  #{color.$root-color}
);
$button-hover-border-color: var(
  --#{root-defaults.$prefix}-button-hover-border-color,
  #{color.$root-color}
);
$button-active-border-color: var(
  --#{root-defaults.$prefix}-button-active-border-color,
  #{color.$root-color}
);
$button-disabled-border-color: var(
  --#{root-defaults.$prefix}-button-disabled-border-color,
  #{theme.get(primary, 200)}
);
