// Graupl Button Component.

@use "defaults";
@use "../../theme/variables" as theme;
@use "variables" as *;
@use "../../mixins/layer" as *;

@include layer(component) {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $button-min-width;
    min-height: $button-min-height;
    padding: $button-padding;
    transition: $button-transition;
    border-width: $button-border-width;
    border-style: $button-border-style;
    border-radius: $button-border-radius;
    font-size: $button-font-size;
    cursor: pointer;

    &:hover {
      transform: $button-hover-transform;
    }

    &:active {
      transform: $button-active-transform;
    }
  }
}

@include layer(theme) {
  .button {
    border-color: $button-border-color;
    background: $button-background;
    color: $button-color;

    &:hover {
      border-color: $button-hover-border-color;
      background: $button-hover-background;
      color: $button-hover-color;
    }

    &:active {
      border-color: $button-active-border-color;
      background: $button-active-background;
      color: $button-active-color;
    }

    &.primary {
      --#{defaults.$prefix}-button-hover-background: #{theme.$theme-active--primary--700};
      --#{defaults.$prefix}-button-active-background: #{theme.$theme-active--primary--700};
      --#{defaults.$prefix}-button-border-color: #{theme.$theme-active--primary--700};
      --#{defaults.$prefix}-button-hover-border-color: #{theme.$theme-active--primary--700};
      --#{defaults.$prefix}-button-active-border-color: #{theme.$theme-active--primary--700};
    }

    &.secondary {
      --#{defaults.$prefix}-button-hover-background: #{theme.$theme-active--secondary--700};
      --#{defaults.$prefix}-button-active-background: #{theme.$theme-active--secondary--700};
      --#{defaults.$prefix}-button-border-color: #{theme.$theme-active--secondary--700};
      --#{defaults.$prefix}-button-hover-border-color: #{theme.$theme-active--secondary--700};
      --#{defaults.$prefix}-button-active-border-color: #{theme.$theme-active--secondary--700};
    }

    &.tertiary {
      --#{defaults.$prefix}-button-hover-background: #{theme.$theme-active--tertiary--700};
      --#{defaults.$prefix}-button-active-background: #{theme.$theme-active--tertiary--700};
      --#{defaults.$prefix}-button-border-color: #{theme.$theme-active--tertiary--700};
      --#{defaults.$prefix}-button-hover-border-color: #{theme.$theme-active--tertiary--700};
      --#{defaults.$prefix}-button-active-border-color: #{theme.$theme-active--tertiary--700};
    }
  }
}
