// Default values for Graupl.
//
// Generally, these should not be used directly when styling components.
// They are mainly used to provide default fallbacks for custom properties
// which can be found in the `variables.scss` file.

$link-text-decoration: underline;
