// Variables referencing custom properties.

@use "../../variables" as base;
@use "defaults";
@use "../../functions/theme";

// Link properties.
$link-text-decoration: var(
  --#{defaults.$prefix}-link-text-decoration,
  #{defaults.$link-text-decoration}
);
$link-text-decoration-thickness: var(
  --#{defaults.$prefix}-link-text-decoration-thickness,
  #{base.$border-width}
);
$link-color: var(--#{defaults.$prefix}-link-color, #{theme.get(primary, 700)});
$link-hover-color: var(
  --#{defaults.$prefix}-link-hover-color,
  #{theme.get(tertiary, 700)}
);
$link-active-color: var(
  --#{defaults.$prefix}-link-active-color,
  #{theme.get(tertiary, 700)}
);
$link-visited-color: var(
  --#{defaults.$prefix}-link-visited-color,
  #{theme.get(primary, 700)}
);
