// Variables referencing custom properties.

@use "../../variables" as base;
@use "../../theme/variables" as theme;
@use "defaults";

// Link properties.
$link-text-decoration: var(
  --#{defaults.$prefix}-link-text-decoration,
  defaults.$link-text-decoration
);
$link-text-decoration-thickness: var(
  --#{defaults.$prefix}-link-text-decoration-thickness,
  base.$border-width
);
$link-color: var(
  --#{defaults.$prefix}-link-color,
  theme.$theme-active--primary
);
$link-hover-color: var(
  --#{defaults.$prefix}-link-hover-color,
  theme.$theme-active--secondary
);
$link-active-color: var(
  --#{defaults.$prefix}-link-active-color,
  theme.$theme-active--secondary
);
$link-visited-color: var(
  --#{defaults.$prefix}-link-visited-color,
  theme.$theme-active--primary
);
