// @graupl/graupl color theme styles.

@use "variables" as *;
@use "../../mixins/layer" as *;
@use "defaults";
@use "../../defaults" as root-defaults;
@use "sass:map";
@use "../../functions/theme";

@include layer(theme) {
  :root {
    background: $root-background;
    color: $root-color;

    // Generate the default colour properties.
    @each $color, $map in defaults.$colors {
      @each $shade, $value in $map {
        --#{root-defaults.$prefix}#{$color}--#{$shade}: #{$value};
      }
    }

    // Generate the active theme properties.
    @each $color, $map in map.get($themes, defaults.$default-theme) {
      @each $shade, $value in $map {
        --#{root-defaults.$prefix}theme-active--#{$color}--#{$shade}: #{$value};
      }
    }
  }

  // Generate the available theme properties.
  @each $theme-name, $theme in $themes {
    #{defaults.$theme-selector-prefix}#{$theme-name}#{defaults.$theme-selector-suffix} {
      @each $color, $map in $theme {
        @each $shade, $value in $map {
          --#{root-defaults.$prefix}theme-active--#{$color}--#{$shade}: #{$value};
        }
      }

      color-scheme: #{$theme-name};
    }
  }
}
