// @graupl/core input group component default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;

// Input group selectors.
$selector-base: root-defaults.$component-selector-base !default;
$modifier-selector-base: root-defaults.$modifier-selector-base !default;
$screen-aware: true !default;
$theme-aware: false !default;
$state-aware: false !default;
$container-aware: false !default;
$input-group-selector-base: $selector-base !default;
$input-group-selector: "input-group" !default;
$input-group-stacked-selector-base: $modifier-selector-base !default;
$input-group-stacked-selector: "stacked" !default;
$input-group-inline-selector-base: $modifier-selector-base !default;
$input-group-inline-selector: "inline" !default;
$input-group-help-text-selector-base: $selector-base !default;
$input-group-help-text-selector: "help-text" !default;
$input-group-top-selector-base: $modifier-selector-base !default;
$input-group-top-selector: "top" !default;
$input-group-bottom-selector-base: $modifier-selector-base !default;
$input-group-bottom-selector: "bottom" !default;
$input-group-left-selector-base: $modifier-selector-base !default;
$input-group-left-selector: "left" !default;
$input-group-right-selector-base: $modifier-selector-base !default;
$input-group-right-selector: "right" !default;
$input-group-inverse-selector-base: $modifier-selector-base !default;
$input-group-inverse-selector: "inverse" !default;
$input-group-screen-aware-selector-separator: root-defaults.$screen-aware-selector-separator !default;
$input-group-screen-aware-selector-prefix: root-defaults.$screen-aware-selector-prefix !default;
$input-group-theme-aware-selector-separator: root-defaults.$theme-aware-selector-separator !default;
$input-group-theme-aware-selector-prefix: root-defaults.$theme-aware-selector-prefix !default;
$input-group-state-aware-selector-separator: root-defaults.$state-aware-selector-separator !default;
$input-group-state-aware-selector-prefix: root-defaults.$state-aware-selector-prefix !default;
$input-group-container-aware-selector-separator: root-defaults.$container-aware-selector-separator !default;
$input-group-container-aware-selector-prefix: root-defaults.$container-aware-selector-prefix !default;
