// @graupl/graupl link base default values.
//
// Generally, these should not be used directly when styling bases unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;

// Link selectors.
$selector-base: root-defaults.$element-selector-base !default;
$modifier-selector-base: root-defaults.$modifier-selector-base !default;
$link-selector-base: $selector-base !default;
$link-selector: "a" !default;
$stretched-link-selector-base: $modifier-selector-base !default;
$stretched-link-selector: "stretched" !default;
$stretched-link-pseudo-selector: "before" !default;

// Link properties.
$link-initial-text-decoration: underline !default;
$link-final-text-decoration: $link-initial-text-decoration !default;
$link-disabled-text-decoration: $link-initial-text-decoration !default;
$link-initial-text-decoration-style: solid !default;
$link-final-text-decoration-style: $link-initial-text-decoration-style !default;
$link-disabled-text-decoration-style: $link-initial-text-decoration-style !default;
$link-initial-transform: none !default;
$link-final-transform: $link-initial-transform !default;
$link-disabled-transform: $link-initial-transform !default;
$link-border-width: 0 !default;
$link-min-width: auto;
$link-min-height: auto;

// Stretched link properties.
$stretched-link-z-index: 5 !default;
