// Link base styles.

@use "variables" as *;
@use "../../defaults" as root-defaults;
@use "../../mixins/layer" as *;

@include layer(base) {
  a {
    text-decoration: $link-text-decoration;
    text-decoration-thickness: $link-text-decoration-thickness;

    &:disabled {
      cursor: not-allowed;
    }
  }
}

@include layer(theme) {
  a {
    color: $link-color;

    &:hover {
      --#{root-defaults.$prefix}-link-color: #{$link-hover-color};
    }

    &:active {
      --#{root-defaults.$prefix}-link-color: #{$link-active-color};
    }

    // stylelint-disable no-descending-specificity
    &:visited {
      &,
      &:hover {
        --#{root-defaults.$prefix}-link-color: #{$link-hover-color};
      }
    }

    &[disabled] {
      pointer-events: none;

      &,
      &:hover,
      &:active,
      &:visited {
        --#{root-defaults.$prefix}-link-color: #{$link-disabled-color};
      }
    }
    // stylelint-enable no-descending-specificity
  }
}
