// @graupl/graupl link base styles.

@use "defaults";
@use "variables" as *;
@use "../../defaults" as root-defaults;
@use "../../mixins/layer" as *;
@use "../../mixins/animation";

@include layer(base) {
  #{defaults.$link-selector} {
    min-width: $link-min-width;
    min-height: $link-min-height;
    padding: $link-padding;
    transform: $link-transform;
    transition: $link-transition;
    border: $link-border;
    border-radius: $link-border-radius;
    text-decoration: $link-text-decoration;
    text-decoration-style: $link-text-decoration-style;
    text-decoration-thickness: $link-text-decoration-thickness;

    &:visited {
      text-decoration: $link-visited-text-decoration;
      text-decoration-thickness: $link-visited-text-decoration-thickness;
      text-decoration-style: $link-visited-text-decoration-style;
      transform: $link-visited-transform;
    }

    &:focus-visible {
      text-decoration: $link-focus-text-decoration;
      text-decoration-thickness: $link-focus-text-decoration-thickness;
      text-decoration-style: $link-focus-text-decoration-style;
      transform: $link-focus-transform;
    }

    &:hover {
      text-decoration: $link-hover-text-decoration;
      text-decoration-thickness: $link-hover-text-decoration-thickness;
      text-decoration-style: $link-hover-text-decoration-style;
      transform: $link-hover-transform;
    }

    &:active {
      text-decoration: $link-active-text-decoration;
      text-decoration-thickness: $link-active-text-decoration-thickness;
      text-decoration-style: $link-active-text-decoration-style;
      transform: $link-active-transform;
    }

    &:disabled,
    &[disabled] {
      cursor: not-allowed;

      &,
      &:visited,
      &:focus-visible,
      &:hover,
      &:active {
        text-decoration: $link-disabled-text-decoration;
        text-decoration-thickness: $link-disabled-text-decoration-thickness;
        text-decoration-style: $link-disabled-text-decoration-style;
        transform: $link-disabled-transform;
      }
    }

    &#{defaults.$stretched-link-selector} {
      isolation: isolate;

      &::#{defaults.$stretched-link-pseudo-selector} {
        content: "";
        position: absolute;
        inset: 0;
        z-index: $stretched-link-z-index;
      }
    }
  }

  @include animation.off {
    #{defaults.$link-selector} {
      --#{root-defaults.$prefix}link-transition: #{$link-transition-reduced-motion};
    }
  }
}

@include layer(theme) {
  #{defaults.$link-selector} {
    border-color: $link-border-color;
    background: $link-background;
    color: $link-color;
    text-decoration-color: $link-text-decoration-color;

    &:visited {
      color: $link-visited-color;
      background: $link-visited-background;
      border-color: $link-visited-border-color;
      text-decoration-color: $link-visited-text-decoration-color;
    }

    &:focus-visible {
      color: $link-focus-color;
      background: $link-focus-background;
      border-color: $link-focus-border-color;
      text-decoration-color: $link-focus-text-decoration-color;
    }

    &:hover {
      color: $link-hover-color;
      background: $link-hover-background;
      border-color: $link-hover-border-color;
      text-decoration-color: $link-hover-text-decoration-color;
    }

    &:active {
      color: $link-active-color;
      background: $link-active-background;
      border-color: $link-active-border-color;
      text-decoration-color: $link-active-text-decoration-color;
    }

    &:disabled,
    &[disabled] {
      &,
      &:visited,
      &:focus-visible,
      &:hover,
      &:active {
        color: $link-disabled-color;
        background: $link-disabled-background;
        border-color: $link-disabled-border-color;
        text-decoration-color: $link-disabled-text-decoration-color;
      }
    }
  }
}
