// Variables referencing custom properties.

@use "defaults";
@use "../../variables" as root-variables;
@use "../../defaults" as root-defaults;
@use "../../functions/theme";

// Link properties.
$link-text-decoration: var(
  --#{root-defaults.$prefix}-link-text-decoration,
  #{defaults.$link-text-decoration}
);
$link-text-decoration-thickness: var(
  --#{root-defaults.$prefix}-link-text-decoration-thickness,
  #{root-variables.$border-width}
);
$link-color: var(
  --#{root-defaults.$prefix}-link-color,
  #{theme.get(primary, 700)}
);
$link-hover-color: var(
  --#{root-defaults.$prefix}-link-hover-color,
  #{theme.get(tertiary, 700)}
);
$link-active-color: var(
  --#{root-defaults.$prefix}-link-active-color,
  #{theme.get(tertiary, 700)}
);
$link-visited-color: var(
  --#{root-defaults.$prefix}-link-visited-color,
  #{theme.get(primary, 700)}
);
$link-disabled-color: var(
  --#{root-defaults.$prefix}-link-disabled-color,
  #{theme.get(primary, 200)}
);
