// @graupl/core background utilities default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;
@use "sass:map";

// Utility modifiers.
$selector-base: root-defaults.$utility-selector-base !default;
$use-important: root-defaults.$use-important !default;
$screen-aware: false !default;
$theme-aware: false !default;
$state-aware: false !default;
$container-aware: false !default;
$screen-aware-separator: root-defaults.$utility-screen-aware-separator !default;
$theme-aware-separator: root-defaults.$utility-theme-aware-separator !default;
$state-aware-separator: root-defaults.$utility-state-aware-separator !default;
$container-aware-separator: root-defaults.$utility-container-aware-separator !default;
$screen-aware-selector-prefix: root-defaults.$utility-screen-aware-selector-prefix !default;
$theme-aware-selector-prefix: root-defaults.$utility-theme-aware-selector-prefix !default;
$state-aware-selector-prefix: root-defaults.$utility-state-aware-selector-prefix !default;
$container-aware-selector-prefix: root-defaults.$utility-container-aware-selector-prefix !default;

// Background attachment properties.
$background-attachment-selector-prefix: "bg-attachment-" !default;
$base-background-attachment-properties: (
  scroll: scroll,
  fixed: fixed,
  local: local,
);
$custom-background-attachment-properties: () !default;
$background-attachment-properties: map.merge(
  $base-background-attachment-properties,
  $custom-background-attachment-properties
);

// Background clip properties.
$background-clip-selector-prefix: "bg-clip-" !default;
$base-background-clip-properties: (
  border-box: border-box,
  padding-box: padding-box,
  content-box: content-box,
  text: text,
  border-area: border-area,
);
$custom-background-clip-properties: () !default;
$background-clip-properties: map.merge(
  $base-background-clip-properties,
  $custom-background-clip-properties
);

// Background image properties.
$background-image-selector-prefix: "bg-image-" !default;
$base-background-image-properties: (
  none: none,
);
$custom-background-image-properties: () !default;
$background-image-properties: map.merge(
  $base-background-image-properties,
  $custom-background-image-properties
);

// Background origin properties.
$background-origin-selector-prefix: "bg-origin-" !default;
$base-background-origin-properties: (
  border-box: border-box,
  padding-box: padding-box,
  content-box: content-box,
);
$custom-background-origin-properties: () !default;
$background-origin-properties: map.merge(
  $base-background-origin-properties,
  $custom-background-origin-properties
);

// Background position properties.
$background-position-selector-prefix: "bg-position-" !default;
$base-background-position-properties: (
  top: top,
  right: right,
  bottom: bottom,
  left: left,
  center: center,
);
$custom-background-position-properties: () !default;
$background-position-properties: map.merge(
  $base-background-position-properties,
  $custom-background-position-properties
);

// Background repeat properties.
$background-repeat-selector-prefix: "bg-repeat-" !default;
$base-background-repeat-properties: (
  repeat: repeat,
  repeat-x: repeat-x,
  repeat-y: repeat-y,
  space: space,
  round: round,
  no-repeat: no-repeat,
);
$custom-background-repeat-properties: () !default;
$background-repeat-properties: map.merge(
  $base-background-repeat-properties,
  $custom-background-repeat-properties
);

// Background size properties.
$background-size-selector-prefix: "bg-size-" !default;
$base-background-size-properties: (
  auto: auto,
  cover: cover,
  contain: contain,
);
$custom-background-size-properties: () !default;
$background-size-properties: map.merge(
  $base-background-size-properties,
  $custom-background-size-properties
);
