// @graupl/graupl container layout default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;

// Container selectors.
$container-selector-base: root-defaults.$selector-base !default;
$container-selector: "container" !default;
$container-breakout-selector-base: $container-selector-base !default;
$container-breakout-selector: "breakout" !default;
$container-feature-selector-base: $container-selector-base !default;
$container-feature-selector: "feature" !default;
$container-full-width-selector-base: $container-selector-base !default;
$container-full-width-selector: "full-width" !default;
$container-contain-selector-base: $container-selector-base !default;
$container-contain-selector: "contain" !default;
$container-sidebars-selector-base: $container-selector-base !default;
$container-sidebars-selector: "sidebars" !default;
$container-content-selector-base: $container-selector-base !default;
$container-content-selector: "content" !default;
$container-sidebar-selector-base: $container-selector-base !default;
$container-sidebar-selector: "sidebar" !default;
$container-left-selector-suffix: "-left" !default;
$container-right-selector-suffix: "-right" !default;
$container-inner-selector-prefix: "inner-" !default;

// Container properties.
$container-breakout-width: 15ch !default;
$container-feature-width: 20ch !default;
$container-sidebar-width: 20ch !default;
