// @graupl/core theme functions.
//
// Functions to help with getting information about the theme.

@use "sass:map";
@use "sass:string";
@use "map" as map-functions;
@use "../theme/color/variables" as color;

/// Get a specific color shade in a specific theme.
///
/// $color and $shade both have special values for returning specific colours.
/// "transparent", "none", "inherit", and "initial" will all return their respective
/// default CSS values.
///
/// If a shade cannot be found in a requested colour, it will fall back to the `_default` shade before returning `null`.
///
/// @param {string}        $color
///   The color.
/// @param {string|number} $shade [null]
///   The shade.
/// @param {string}        $theme [active]
///   The theme.
/// @param {string|null}   $fallback [null]
///   The fallback color to use if none is found.
///
/// @return {string|null}
///   The custom property pointing to the correct colour or null if none is found.
@function get($color, $shade: null, $theme: "active", $fallback: null) {
  $color: string.quote(#{$color});
  $theme: string.quote(#{$theme});
  $shade: string.quote(#{$shade});

  @if $shade == "transparent" or $color == "transparent" {
    @return transparent;
  }

  @if $shade == "none" or $color == "none" {
    @return none;
  }

  @if $shade == "inherit" or $color == "inherit" {
    @return inherit;
  }

  @if $shade == "initial" or $color == "initial" {
    @return initial;
  }

  @if map.has-key(color.$themes, $theme, $color, $shade) {
    @return map.get(map.get(map.get(color.$themes, $theme), $color), $shade);
  }

  @if map.has-key(color.$themes, $theme, $color, "_default") {
    @return map.get(
      map.get(map.get(color.$themes, $theme), $color),
      "_default"
    );
  }

  @return null;
}

/// Gets a full shade map of a specific color in a specific theme.
///
/// @param {string} $color
///   The color.
/// @param {string} $theme [active]
///   The theme.
///
/// @return {map|null}
///   The shade map or null if none is found.
@function get-color($color, $theme: "active") {
  $color: string.quote(#{$color});
  $theme: string.quote(#{$theme});

  @if map.has-key(color.$themes, $theme, $color) {
    @return map.get(map.get(color.$themes, $theme), $color);
  }

  @return null;
}

/// Gets the names of all colours in a specific theme.
///
/// @param {string} $theme [active]
///   The theme.
///
/// @return {map}
///   The map of color names.
@function get-colors($theme: "active") {
  $theme: string.quote(#{$theme});

  @if map.has-key(color.$themes, $theme) {
    @return map.keys(map.get(color.$themes, $theme));
  }

  @return ();
}

/// Generates a map to tie different properties to color/shade values based on all colors in a specific theme.
///
/// @param {map}    $mapping
///   The mapping of properties to shades.
/// @param {string} $theme [active]
///   The theme.
///
/// @return {map}
///   The generated property map.
@function generate-property-map($mapping, $theme: "active") {
  $theme: string.quote(#{$theme});
  $theme-map: ();

  @each $color in map.keys(map.get(color.$themes, $theme)) {
    $map: ();

    @each $prop, $shade in $mapping {
      $map: map.merge(
        $map,
        (
          "#{$prop}": (
              "color": $color,
              "shade": $shade,
            ),
        )
      );
    }

    $theme-map: map.merge(
      $theme-map,
      (
        "#{$color}": $map,
      )
    );
  }

  @return $theme-map;
}
