// @graupl/core utility functions.
//
// Functions to help generate utility classes.

@use "sass:map";

/// Convert a property and value to a map.
///
/// This mixin is used internally.
///
/// @param {string|List} $property
///   The property/properties to convert to keys.
/// @param {string}      $value
///   The value to use for keys.
@function convert-property-values-to-map($property, $value) {
  $map: ();

  @each $prop in $property {
    $map: map.merge(
      $map,
      (
        "#{$prop}": $value,
      )
    );
  }

  @return $map;
}

/// Convert a map of properties and a map of values into a single utility map.
///
/// This mixin is used internally.
///
/// @param {Map} $properties
///   The map of properties.
/// @param {Map} $values
///   The map of values.
/// @param {string} $separator
///   The separator to use for the selector.
@function generate-utility-map($properties, $values, $separator) {
  $map: ();

  @each $name, $property-list in $properties {
    @if $property-list {
      @each $key, $value in $values {
        $selector: #{$name}#{$separator}#{$key};
        $property-map: convert-property-values-to-map($property-list, $value);
        $map: map.merge($map, (#{$selector}: $property-map));
      }
    }
  }

  @return $map;
}
