// @graupl/core color theme default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "sass:map";
@use "sass:list";

$theme-selector-prefix: "." !default;
$theme-selector-suffix: "-mode" !default;

// The site will have colours, defaulting to primary, secondary, and tertiary.
// Each colour will have a shade mapping, defaulting to 100-900.
// Users can add custom colours/overrides for both colours and shades.

// The site will use themes, defaulting to light and dark.
// Users can add custom themes/overrides.

// Each theme will have a mapping of colours, defaulting to cover all colours and shades.
// Users can add custom mappings/overrides.

// The combinations of colours, themes, and shades will be combined into a giant map.
// It will be sorted by theme > color > shade where each shade is derived from the mapping.
// Users can override any part of this giant map, allowing for fine-tuned control of theme colours.

// Colours.
$default-colors: (
  primary: (
    100: hsl(219deg 100% 95%),
    200: hsl(219deg 90% 80%),
    300: hsl(219deg 80% 65%),
    400: hsl(219deg 75% 55%),
    500: hsl(219deg 75% 50%),
    600: hsl(219deg 75% 45%),
    700: hsl(219deg 80% 35%),
    800: hsl(219deg 90% 20%),
    900: hsl(219deg 100% 10%),
  ),
  secondary: (
    100: hsl(235deg 40% 95%),
    200: hsl(235deg 30% 80%),
    300: hsl(235deg 20% 65%),
    400: hsl(235deg 15% 55%),
    500: hsl(235deg 15% 50%),
    600: hsl(235deg 15% 45%),
    700: hsl(235deg 20% 35%),
    800: hsl(235deg 30% 20%),
    900: hsl(235deg 40% 10%),
  ),
  tertiary: (
    100: hsl(340deg 85% 95%),
    200: hsl(340deg 75% 80%),
    300: hsl(340deg 65% 65%),
    400: hsl(340deg 60% 55%),
    500: hsl(340deg 60% 50%),
    600: hsl(340deg 60% 45%),
    700: hsl(340deg 65% 35%),
    800: hsl(340deg 75% 20%),
    900: hsl(340deg 85% 10%),
  ),
);
$custom-colors: () !default;
$colors: () !default;

// @todo remove this once $custom-colors is removed
@if $custom-colors != () {
  @warn "`$custom-colors` is deprecated and will be removed in a future release of Graupl. Use `$colors` instead.";

  $colors: map.deep-merge($colors, $custom-colors);
}

$colors: map.deep-merge($default-colors, $colors);

// Themes.
$default-themes: (light, dark);
$custom-themes: () !default;
$themes: () !default;

// @todo remove this once $custom-themes is removed
@if $custom-themes != () {
  @warn "`$custom-themes` is deprecated and will be removed in a future release of Graupl. Use `$themes` instead.";

  $themes: list.join($themes, $custom-themes);
}

$themes: list.join($default-themes, $themes);

$default-theme: light !default;

// Theme mappings.
$default-theme-mappings: (
  light: (
    100: 100,
    200: 200,
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700,
    800: 800,
    900: 900,
  ),
  dark: (
    100: 900,
    200: 800,
    300: 700,
    400: 600,
    500: 500,
    600: 400,
    700: 300,
    800: 200,
    900: 100,
  ),
);
$custom-theme-mappings: () !default;
$theme-mappings: () !default;

// @todo remove this once $custom-theme-mappings is removed
@if $custom-theme-mappings != () {
  @warn "`$custom-theme-mappings` is deprecated and will be removed in a future release of Graupl. Use `$theme-mappings` instead.";

  $theme-mappings: map.deep-merge($theme-mappings, $custom-theme-mappings);
}

$theme-mappings: map.deep-merge($default-theme-mappings, $theme-mappings);

// Theme map.
$default-theme-map: ();

@each $theme in $themes {
  $theme-map: ();

  @each $color-name, $color-map in $colors {
    $color-theme-map: ();

    @each $shade, $value in $color-map {
      $color-theme-map: map.merge(
        $color-theme-map,
        (
          $shade: (
              color: $color-name,
              shade: map.get($theme-mappings, $theme, $shade),
            ),
        )
      );
    }

    $theme-map: map.merge(
      $theme-map,
      (
        $color-name: $color-theme-map,
      )
    );
  }

  $default-theme-map: map.merge(
    $default-theme-map,
    (
      $theme: $theme-map,
    )
  );
}

$custom-theme-map: () !default;
$theme-map: map.deep-merge($default-theme-map, $custom-theme-map);
