// @graupl/graupl color utilities default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;
@use "sass:map";

// Utility modifiers.
$selector-base: root-defaults.$utility-selector-base !default;
$use-important: root-defaults.$use-important !default;
$screen-aware: false !default;
$theme-aware: true !default;
$state-aware: true !default;

// Background utility properties.
$background-selector-prefix: "bg-" !default;
$base-background-properties: (
  inherit: inherit,
  current: currentcolor,
  transparent: transparent,
);
$custom-background-properties: () !default;
$background-properties: map.merge(
  $base-background-properties,
  $custom-background-properties
);

// Text utility properties.
$text-selector-prefix: "text-" !default;
$base-text-properties: (
  inherit: inherit,
  current: currentcolor,
  transparent: transparent,
);
$custom-text-properties: () !default;
$text-properties: map.merge($base-text-properties, $custom-text-properties);
