// @graupl/core alert component default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;
@use "../../functions/theme";
@use "sass:map";

// Alert selectors.
$selector-base: root-defaults.$component-selector-base !default;
$modifier-selector-base: root-defaults.$modifier-selector-base !default;
$generate-base-theme-map: root-defaults.$generate-base-theme-maps !default;
$alert-selector-base: $selector-base !default;
$alert-selector: "alert" !default;
$alert-theme-selector-prefix-base: $modifier-selector-base !default;
$alert-theme-selector-prefix: "" !default;
$alert-body-selector-base: $selector-base !default;
$alert-body-selector: "alert-body" !default;
$alert-header-selector-base: $selector-base !default;
$alert-header-selector: "alert-header" !default;
$alert-footer-selector-base: $selector-base !default;
$alert-footer-selector: "alert-footer" !default;
$alert-title-selector-base: $selector-base !default;
$alert-title-selector: "alert-title" !default;
$alert-dismisser-selector-base: $selector-base !default;
$alert-dismisser-selector: "alert-dismisser" !default;
$alert-hidden-selector-base: $modifier-selector-base !default;
$alert-hidden-selector: "hide" !default;
$alert-shown-selector-base: $modifier-selector-base !default;
$alert-shown-selector: "show" !default;
$alert-transition-selector-base: $modifier-selector-base !default;
$alert-transition-selector: "transitioning" !default;

// Alert state theme defaults.
// This map is used to define the default colour shades for the
// themed alert components.
//
// e.g.
// Primary alerts will use primary--900 as the text colour, primary--100 as the background
// and primary--900 as the border colour.
//
// Secondary/tertiary alerts will use the same shade for their respective colours.
$-alert-theme-mappings: (
  color: 900,
  background: 200,
  border-color: 700,
  title-color: 800,
  button-border-color: transparent,
  link-color: 800,
  link-visited-color: 800,
  link-focus-color: 800,
  link-hover-color: 900,
  link-active-color: 900,
  link-disabled-color: 400,
);
$custom-alert-state-theme-map: () !default;
$alert-state-theme-map: () !default;
$alert-theme-mappings: () !default;

// @todo remove this once $custom-alert-state-theme-map is removed
@if $custom-alert-state-theme-map != () {
  @warn "`$custom-alert-state-theme-map` is deprecated and will be removed in a future release of Graupl. Use `$alert-theme-mappings` instead.";

  $alert-state-theme-map: map.merge(
    $alert-theme-mappings,
    $custom-alert-state-theme-map
  );
}

// @todo remove the once $alert-state-theme-map is removed
@if $alert-state-theme-map != () {
  @warn "`$alert-state-theme-map` is deprecated and will be removed in a future release of Graupl. Use `$alert-theme-mappings` instead.";

  $alert-theme-mappings: map.merge(
    $alert-theme-mappings,
    $alert-state-theme-map
  );
}

// Merge the custom alert state theme map with the default one.
@if $generate-base-theme-map {
  $alert-theme-mappings: map.merge(
    $-alert-theme-mappings,
    $alert-theme-mappings
  );
}

$-alert-theme-map: theme.generate-property-map($alert-theme-mappings);
$alert-theme-map: () !default;
$alert-theme-map: map.deep-merge($-alert-theme-map, $alert-theme-map);
