// @graupl/graupl menu component default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

// Menu selectors.
$menu-selector: ".menu" !default;
$submenu-selector: ".submenu" !default;
$menu-item-selector: ".menu-item" !default;
$menu-link-selector: ".menu-link" !default;
$submenu-toggle-selector: ".submenu-toggle" !default;
$menu-show-selector: ".show" !default;
$menu-hide-selector: ".hide" !default;

// Flex properties.
$menu-flex-direction: row !default;
$submenu-flex-direction: column !default;

// Menu link properties.
$menu-link-text-decoration: none !default;
$menu-link-hover-text-decoration: none !default;
$menu-link-transform: none !default;
$menu-link-hover-transform: none !default;
$menu-link-hover-transform-reduced-motion: none !default;
$menu-link-active-transform: none !default;
$menu-link-active-transform-reduced-motion: none !default;
$menu-link-border-width: 0 !default;
$menu-link-border-style: solid !default;
