// @graupl/graupl menu component variables.
//
// These values are to be used to directly style components and provide a
// cleaner way to reference custom properties.

@use "defaults";
@use "../../defaults" as root-defaults;
@use "../../variables" as root-variables;
@use "../../theme/color/variables" as color;
@use "../../functions/theme";
@use "sass:map";

// Menu properties.
$menu-flex-direction: var(--#{root-defaults.$prefix}-menu-flex-direction, row);
$menu-padding-x: var(
  --#{root-defaults.$prefix}-menu-padding-x,
  #{map.get(root-variables.$spacers, 0)}
);
$menu-padding-y: var(
  --#{root-defaults.$prefix}-menu-padding-y,
  #{map.get(root-variables.$spacers, 0)}
);
$menu-padding: var(
  --#{root-defaults.$prefix}-menu-padding,
  #{$menu-padding-y} #{$menu-padding-x}
);

// Menu gap properties.
$menu-column-gap: var(
  --#{root-defaults.$prefix}-menu-column-gap,
  #{map.get(root-variables.$spacers, 0)}
);
$menu-row-gap: var(
  --#{root-defaults.$prefix}-menu-row-gap,
  #{map.get(root-variables.$spacers, 0)}
);
$menu-gap: var(
  --#{root-defaults.$prefix}-menu-gap,
  #{$menu-column-gap} #{$menu-row-gap}
);

// Menu display properties.
$menu-show-display: var(--#{root-defaults.$prefix}-menu-show-display, flex);
$menu-hide-display: var(--#{root-defaults.$prefix}-menu-hide-display, none);
$menu-display: var(--#{root-defaults.$prefix}-menu-display, flex);

// Menu color properties.
$menu-background: var(
  --#{root-defaults.$prefix}-menu-background,
  #{color.$root-background}
);
$menu-color: var(--#{root-defaults.$prefix}-menu-color, #{color.$root-color});

// Menu border properties.
$menu-border-color: var(
  --#{root-defaults.$prefix}-menu-border-color,
  #{$menu-color}
);
$menu-border-radius: var(
  --#{root-defaults.$prefix}-menu-border-radius,
  #{root-variables.$border-radius}
);
$menu-border-style: var(
  --#{root-defaults.$prefix}-menu-border-style,
  #{root-variables.$border-style}
);
$menu-border-width: var(--#{root-defaults.$prefix}-menu-border-width, 0);

// Submenu properties
$submenu-flex-direction: var(
  --#{root-defaults.$prefix}-submenu-flex-direction,
  column
);
$submenu-z-index: var(--#{root-defaults.$prefix}-submenu-z-index, 2);
$submenu-padding-x: var(
  --#{root-defaults.$prefix}-submenu-padding-x,
  #{map.get(root-variables.$spacers, 0)}
);
$submenu-padding-y: var(
  --#{root-defaults.$prefix}-submenu-padding-y,
  #{map.get(root-variables.$spacers, 0)}
);
$submenu-padding: var(
  --#{root-defaults.$prefix}-submenu-padding,
  #{$submenu-padding-y} #{$submenu-padding-x}
);

// Submenu gap properties.
$submenu-column-gap: var(
  --#{root-defaults.$prefix}-submenu-column-gap,
  #{$menu-column-gap}
);
$submenu-row-gap: var(
  --#{root-defaults.$prefix}-submenu-row-gap,
  #{$menu-row-gap}
);
$submenu-gap: var(
  --#{root-defaults.$prefix}-submenu-gap,
  #{$submenu-column-gap} #{$submenu-row-gap}
);

// Submenu display properties.
$submenu-show-display: var(
  --#{root-defaults.$prefix}-submenu-show-display,
  flex
);
$submenu-hide-display: var(
  --#{root-defaults.$prefix}-submenu-hide-display,
  none
);
$submenu-display: var(--#{root-defaults.$prefix}-submenu-display, flex);

// Submenu color properties.
$submenu-background: var(
  --#{root-defaults.$prefix}-submenu-background,
  #{$menu-background}
);
$submenu-color: var(--#{root-defaults.$prefix}-submenu-color, #{$menu-color});

// Submenu border properties.
$submenu-border-color: var(
  --#{root-defaults.$prefix}-submenu-border-color,
  #{$submenu-color}
);
$submenu-border-radius: var(
  --#{root-defaults.$prefix}-submenu-border-radius,
  #{root-variables.$border-radius}
);
$submenu-border-style: var(
  --#{root-defaults.$prefix}-submenu-border-style,
  #{root-variables.$border-style}
);
$submenu-border-width: var(
  --#{root-defaults.$prefix}-submenu-border-width,
  #{root-variables.$border-width}
);

// Submenu position properties.
$submenu-position: var(--#{root-defaults.$prefix}-submenu-position, absolute);
$submenu-top: var(--#{root-defaults.$prefix}-submenu-top, 100%);
$submenu-right: var(--#{root-defaults.$prefix}-submenu-right, auto);
$submenu-bottom: var(--#{root-defaults.$prefix}-submenu-bottom, auto);
$submenu-left: var(--#{root-defaults.$prefix}-submenu-left, 0);
$submenu-inset: var(
  --#{root-defaults.$prefix}-submenu-inset,
  #{$submenu-top} #{$submenu-right} #{$submenu-bottom} #{$submenu-left}
);

// Menu item properties.
$menu-item-min-width: var(
  --#{root-defaults.$prefix}-menu-item-min-width,
  max-content
);
$menu-item-padding-x: var(
  --#{root-defaults.$prefix}-menu-item-padding-x,
  #{map.get(root-variables.$spacers, 0)}
);
$menu-item-padding-y: var(
  --#{root-defaults.$prefix}-menu-item-padding-y,
  #{map.get(root-variables.$spacers, 0)}
);
$menu-item-padding: var(
  --#{root-defaults.$prefix}-menu-item-padding,
  #{$menu-item-padding-y} #{$menu-item-padding-x}
);

// Submenu item properties.
$submenu-item-width: var(
  --#{root-defaults.$prefix}-submenu-item-width,
  #{defaults.$submenu-item-width}
);

// Menu link properties.
$menu-link-padding-x: var(
  --#{root-defaults.$prefix}-menu-link-padding-x,
  #{map.get(root-variables.$spacers, 5)}
);
$menu-link-padding-y: var(
  --#{root-defaults.$prefix}-menu-link-padding-y,
  #{map.get(root-variables.$spacers, 3)}
);
$menu-link-padding: var(
  --#{root-defaults.$prefix}-menu-link-padding,
  #{$menu-link-padding-y} #{$menu-link-padding-x}
);

// Menu link text decoration properties.
$menu-link-text-decoration: var(
  --#{root-defaults.$prefix}-menu-link-text-decoration,
  none
);
$menu-link-text-decoration-thickness: var(
  --#{root-defaults.$prefix}-menu-link-text-decoration-thickness,
  0
);
$menu-link-text-decoration-style: var(
  --#{root-defaults.$prefix}-menu-link-text-decoration-style,
  solid
);
$menu-link-text-decoration-color: var(
  --#{root-defaults.$prefix}-menu-link-text-decoration-color,
  currentColor
);
$menu-link-visited-text-decoration: var(
  --#{root-defaults.$prefix}-menu-link-visited-text-decoration,
  #{$menu-link-text-decoration}
);
$menu-link-visited-text-decoration-thickness: var(
  --#{root-defaults.$prefix}-menu-link-visited-text-decoration-thickness,
  #{$menu-link-text-decoration-thickness}
);
$menu-link-visited-text-decoration-style: var(
  --#{root-defaults.$prefix}-menu-link-visited-text-decoration-style,
  #{$menu-link-text-decoration-style}
);
$menu-link-visited-text-decoration-color: var(
  --#{root-defaults.$prefix}-menu-link-visited-text-decoration-color,
  #{$menu-link-text-decoration-color}
);
$menu-link-focus-text-decoration: var(
  --#{root-defaults.$prefix}-menu-link-focus-text-decoration,
  #{$menu-link-text-decoration}
);
$menu-link-focus-text-decoration-thickness: var(
  --#{root-defaults.$prefix}-menu-link-focus-text-decoration-thickness,
  #{$menu-link-text-decoration-thickness}
);
$menu-link-focus-text-decoration-style: var(
  --#{root-defaults.$prefix}-menu-link-focus-text-decoration-style,
  #{$menu-link-text-decoration-style}
);
$menu-link-focus-text-decoration-color: var(
  --#{root-defaults.$prefix}-menu-link-focus-text-decoration-color,
  #{$menu-link-text-decoration-color}
);
$menu-link-hover-text-decoration: var(
  --#{root-defaults.$prefix}-menu-link-hover-text-decoration,
  #{$menu-link-text-decoration}
);
$menu-link-hover-text-decoration-thickness: var(
  --#{root-defaults.$prefix}-menu-link-hover-text-decoration-thickness,
  #{$menu-link-text-decoration-thickness}
);
$menu-link-hover-text-decoration-style: var(
  --#{root-defaults.$prefix}-menu-link-hover-text-decoration-style,
  #{$menu-link-text-decoration-style}
);
$menu-link-hover-text-decoration-color: var(
  --#{root-defaults.$prefix}-menu-link-hover-text-decoration-color,
  #{$menu-link-text-decoration-color}
);
$menu-link-active-text-decoration: var(
  --#{root-defaults.$prefix}-menu-link-active-text-decoration,
  #{$menu-link-text-decoration}
);
$menu-link-active-text-decoration-thickness: var(
  --#{root-defaults.$prefix}-menu-link-active-text-decoration-thickness,
  #{$menu-link-text-decoration-thickness}
);
$menu-link-active-text-decoration-style: var(
  --#{root-defaults.$prefix}-menu-link-active-text-decoration-style,
  #{$menu-link-text-decoration-style}
);
$menu-link-active-text-decoration-color: var(
  --#{root-defaults.$prefix}-menu-link-active-text-decoration-color,
  #{$menu-link-text-decoration-color}
);
$menu-link-disabled-text-decoration: var(
  --#{root-defaults.$prefix}-menu-link-disabled-text-decoration,
  #{$menu-link-text-decoration}
);
$menu-link-disabled-text-decoration-thickness: var(
  --#{root-defaults.$prefix}-menu-link-disabled-text-decoration-thickness,
  #{$menu-link-text-decoration-thickness}
);
$menu-link-disabled-text-decoration-style: var(
  --#{root-defaults.$prefix}-menu-link-disabled-text-decoration-style,
  #{$menu-link-text-decoration-style}
);
$menu-link-disabled-text-decoration-color: var(
  --#{root-defaults.$prefix}-menu-link-disabled-text-decoration-color,
  #{$menu-link-text-decoration-color}
);

// Menu link transform properties.
$menu-link-transition: var(
  --#{root-defaults.$prefix}-menu-link-transition,
  background #{map.get(root-variables.$transition-durations, fast)} #{root-variables.$transition-timing-function},
  color #{map.get(root-variables.$transition-durations, fast)} #{root-variables.$transition-timing-function}
);
$menu-link-transition-reduced-motion: var(
  --#{root-defaults.$prefix}-menu-link-transition-reduced-motion,
  background #{map.get(root-variables.$transition-durations, none)} #{root-variables.$transition-timing-function},
  color #{map.get(root-variables.$transition-durations, none)} #{root-variables.$transition-timing-function}
);
$menu-link-transform: var(--#{root-defaults.$prefix}-menu-link-transform, none);
$menu-link-visited-transform: var(
  --#{root-defaults.$prefix}-menu-link-visited-transform,
  #{$menu-link-transform}
);
$menu-link-focus-transform: var(
  --#{root-defaults.$prefix}-menu-link-focus-transform,
  #{$menu-link-transform}
);
$menu-link-hover-transform: var(
  --#{root-defaults.$prefix}-menu-link-hover-transform,
  #{$menu-link-transform}
);
$menu-link-active-transform: var(
  --#{root-defaults.$prefix}-menu-link-active-transform,
  #{$menu-link-transform}
);
$menu-link-disabled-transform: var(
  --#{root-defaults.$prefix}-menu-link-disabled-transform,
  #{$menu-link-transform}
);

// Menu link gap properties.
$menu-link-column-gap: var(
  --#{root-defaults.$prefix}-menu-link-column-gap,
  #{$menu-link-padding-x}
);
$menu-link-row-gap: var(
  --#{root-defaults.$prefix}-menu-link-row-gap,
  #{map.get(root-variables.$spacers, 0)}
);
$menu-link-gap: var(
  --#{root-defaults.$prefix}-menu-link-gap,
  #{$menu-link-column-gap} #{$menu-link-row-gap}
);

// Menu link colors.
$menu-link-background: var(
  --#{root-defaults.$prefix}-menu-link-background,
  #{$menu-background}
);
$menu-link-visited-background: var(
  --#{root-defaults.$prefix}-menu-link-visited-background,
  #{$menu-link-background}
);
$menu-link-focus-background: var(
  --#{root-defaults.$prefix}-menu-link-focus-background,
  #{$menu-link-background}
);
$menu-link-hover-background: var(
  --#{root-defaults.$prefix}-menu-link-hover-background,
  #{$menu-color}
);
$menu-link-active-background: var(
  --#{root-defaults.$prefix}-menu-link-active-background,
  #{$menu-link-hover-background}
);
$menu-link-disabled-background: var(
  --#{root-defaults.$prefix}-menu-link-disabled-background,
  #{color.$root-background}
);
$menu-link-color: var(
  --#{root-defaults.$prefix}-menu-link-color,
  #{$menu-color}
);
$menu-link-visited-color: var(
  --#{root-defaults.$prefix}-menu-link-visited-color,
  #{$menu-link-color}
);
$menu-link-focus-color: var(
  --#{root-defaults.$prefix}-menu-link-focus-color,
  #{$menu-link-color}
);
$menu-link-hover-color: var(
  --#{root-defaults.$prefix}-menu-link-hover-color,
  #{$menu-background}
);
$menu-link-active-color: var(
  --#{root-defaults.$prefix}-menu-link-active-color,
  #{$menu-link-hover-color}
);
$menu-link-disabled-color: var(
  --#{root-defaults.$prefix}-menu-link-disabled-color,
  #{theme.get(primary, 200)}
);

// Menu link border properties.
$menu-link-border-radius: var(
  --#{root-defaults.$prefix}-menu-link-border-radius,
  #{root-variables.$border-radius}
);
$menu-link-border-style: var(
  --#{root-defaults.$prefix}-menu-link-border-style,
  #{root-variables.$border-style}
);
$menu-link-border-width: var(
  --#{root-defaults.$prefix}-menu-link-border-width,
  #{defaults.$menu-link-border-width}
);
$menu-link-border-color: var(
  --#{root-defaults.$prefix}-menu-link-border-color,
  #{$menu-link-color}
);
$menu-link-visited-border-color: var(
  --#{root-defaults.$prefix}-menu-link-visited-border-color,
  #{$menu-link-border-color}
);
$menu-link-focus-border-color: var(
  --#{root-defaults.$prefix}-menu-link-focus-border-color,
  #{$menu-link-border-color}
);
$menu-link-hover-border-color: var(
  --#{root-defaults.$prefix}-menu-link-hover-border-color,
  #{$menu-link-border-color}
);
$menu-link-active-border-color: var(
  --#{root-defaults.$prefix}-menu-link-active-border-color,
  #{$menu-link-hover-border-color}
);
$menu-link-disabled-border-color: var(
  --#{root-defaults.$prefix}-menu-link-disabled-border-color,
  #{$menu-link-border-color}
);
