// @graupl/graupl menu component variables.
//
// These values are to be used to directly style components and provide a
// cleaner way to reference custom properties.

@use "defaults";
@use "../../defaults" as root-defaults;
@use "../../variables" as root-variables;
@use "../../theme/color/variables" as color;
@use "../../functions/theme";
@use "sass:map";

// Menu properties.
$menu-flex-direction: var(--#{root-defaults.$prefix}-menu-flex-direction, #{defaults.$menu-flex-direction});

// Menu gap properties.
$menu-column-gap: var(--#{root-defaults.$prefix}-menu-column-gap, #{map.get(root-variables.$spacers, 0)});
$menu-row-gap: var(--#{root-defaults.$prefix}-menu-row-gap, #{map.get(root-variables.$spacers, 0)});
$menu-gap: var(--#{root-defaults.$prefix}-menu-gap, #{$menu-column-gap} #{$menu-row-gap});

// Menu display properties.
$menu-show-display: var(--#{root-defaults.$prefix}-menu-show-display, #{defaults.$menu-show-display});
$menu-hide-display: var(--#{root-defaults.$prefix}-menu-hide-display, #{defaults.$menu-hide-display});
$menu-display: var(--#{root-defaults.$prefix}-menu-display, $menu-show-display);

// Menu color properties.
$menu-background: var(--#{root-defaults.$prefix}-menu-background, #{color.$root-background});
$menu-color: var(--#{root-defaults.$prefix}-menu-color, #{color.$root-color});

// Submenu properties
$submenu-flex-direction: var(--#{root-defaults.$prefix}-submenu-flex-direction, #{defaults.$submenu-flex-direction});
$submenu-z-index: var(--#{root-defaults.$prefix}-submenu-z-index, #{defaults.$submenu-z-index});

// Submenu gap properties.
$submenu-column-gap: var(--#{root-defaults.$prefix}-submenu-column-gap, #{$menu-column-gap});
$submenu-row-gap: var(--#{root-defaults.$prefix}-submenu-row-gap, #{$menu-row-gap});
$submenu-gap: var(--#{root-defaults.$prefix}-submenu-gap, #{$submenu-column-gap} #{$submenu-row-gap});

// Submenu display properties.
$submenu-show-display: var(--#{root-defaults.$prefix}-submenu-show-display, #{defaults.$submenu-show-display});
$submenu-hide-display: var(--#{root-defaults.$prefix}-submenu-hide-display, #{defaults.$submenu-hide-display});
$submenu-display: var(--#{root-defaults.$prefix}-submenu-display, $submenu-show-display);

// Submenu color properties.
$submenu-background: var(--#{root-defaults.$prefix}-submenu-background, #{$menu-background});
$submenu-color: var(--#{root-defaults.$prefix}-submenu-color, #{$menu-color});

// Submenu border properties.
$submenu-border-color: var(--#{root-defaults.$prefix}-submenu-border-color, #{$submenu-color});
$submenu-border-radius: var(--#{root-defaults.$prefix}-submenu-border-radius, #{root-variables.$border-radius});
$submenu-border-style: var(--#{root-defaults.$prefix}-submenu-border-style, #{root-variables.$border-style});
$submenu-border-width: var(--#{root-defaults.$prefix}-submenu-border-width, #{root-variables.$border-width});

// Submenu position properties.
$submenu-position: var(--#{root-defaults.$prefix}-submenu-position, #{defaults.$submenu-position});
$submenu-top: var(--#{root-defaults.$prefix}-submenu-top, #{defaults.$submenu-top});
$submenu-right: var(--#{root-defaults.$prefix}-submenu-right, #{defaults.$submenu-right});
$submenu-bottom: var(--#{root-defaults.$prefix}-submenu-bottom, #{defaults.$submenu-bottom});
$submenu-left: var(--#{root-defaults.$prefix}-submenu-left, #{defaults.$submenu-left});
$submenu-inset: var(--#{root-defaults.$prefix}-submenu-inset, #{$submenu-top} #{$submenu-right} #{$submenu-bottom} #{$submenu-left});

// Menu item properties.
$menu-item-width: var(--#{root-defaults.$prefix}-menu-item-width, #{defaults.$menu-item-width});

// Submenu item properties.
$submenu-item-width: var(--#{root-defaults.$prefix}-submenu-item-width, #{defaults.$submenu-item-width});

// Menu link properties.
$menu-link-background: var(--#{root-defaults.$prefix}-menu-link-background, #{$menu-background});
$menu-link-active-background: var(--#{root-defaults.$prefix}-menu-link-active-background, #{$menu-link-hover-background});
$menu-link-active-color: var(--#{root-defaults.$prefix}-menu-link-active-color, #{$menu-link-hover-color});
$menu-link-active-transform-reduced-motion: var(--#{root-defaults.$prefix}-menu-link-active-transform-reduced-motion, #{defaults.$menu-link-active-transform-reduced-motion});
$menu-link-active-transform: var(--#{root-defaults.$prefix}-menu-link-active-transform, #{defaults.$menu-link-active-transform});
$menu-link-border-radius: var(--#{root-defaults.$prefix}-menu-link-border-radius, #{root-variables.$border-radius});
$menu-link-border-style: var(--#{root-defaults.$prefix}-botton-border-style, #{defaults.$menu-link-border-style});
$menu-link-border-width: var(--#{root-defaults.$prefix}-menu-link-border-width, #{defaults.$menu-link-border-width});
$menu-link-color: var(--#{root-defaults.$prefix}-menu-link-color, #{$menu-color});
$menu-link-column-gap: var(--#{root-defaults.$prefix}-menu-link-column-gap, #{$menu-link-padding-x});
$menu-link-disabled-background: var(--#{root-defaults.$prefix}-menu-link-disabled-background, #{color.$root-background});
$menu-link-disabled-color: var(--#{root-defaults.$prefix}-menu-link-disabled-color, #{theme.get(primary, 200)});
$menu-link-gap: var(--#{root-defaults.$prefix}-menu-link-gap, #{$menu-link-column-gap} #{$menu-link-row-gap});
$menu-link-hover-background: var(--#{root-defaults.$prefix}-menu-link-hover-background, #{$menu-color});
$menu-link-hover-color: var(--#{root-defaults.$prefix}-menu-link-hover-color, #{$menu-background});
$menu-link-hover-text-decoration-thickness: var(--#{root-defaults.$prefix}-menu-link-hover-text-decoration-thickness, 0);
$menu-link-hover-text-decoration: var(--#{root-defaults.$prefix}-menu-link-hover-text-decoration, #{defaults.$menu-link-hover-text-decoration});
$menu-link-hover-transform-reduced-motion: var(--#{root-defaults.$prefix}-menu-link-hover-transform-reduced-motion, #{defaults.$menu-link-hover-transform-reduced-motion});
$menu-link-hover-transform: var(--#{root-defaults.$prefix}-menu-link-hover-transform, #{defaults.$menu-link-hover-transform});
$menu-link-padding-x: var(--#{root-defaults.$prefix}-menu-link-padding-x, #{map.get(root-variables.$spacers, 5)});
$menu-link-padding-y: var(--#{root-defaults.$prefix}-menu-link-padding-y, #{map.get(root-variables.$spacers, 3)});
$menu-link-padding: var(--#{root-defaults.$prefix}-menu-link-padding, #{$menu-link-padding-y} #{$menu-link-padding-x});
$menu-link-row-gap: var(--#{root-defaults.$prefix}-menu-link-row-gap, #{map.get(root-variables.$spacers, 0)});
$menu-link-text-decoration-thickness: var(--#{root-defaults.$prefix}-menu-link-text-decoration-thickness, 0);
$menu-link-text-decoration: var(--#{root-defaults.$prefix}-menu-link-text-decoration, #{defaults.$menu-link-text-decoration});
$menu-link-transform: var(--#{root-defaults.$prefix}-menu-link-transform, #{defaults.$menu-link-transform});
$menu-link-transition-reduced-motion: var(--#{root-defaults.$prefix}-menu-link-transition-reduced-motion, background #{map.get(root-variables.$transition-durations, none)} #{root-variables.$transition-timing-function}, color #{map.get(root-variables.$transition-durations, none)} #{root-variables.$transition-timing-function});
$menu-link-transition: var(--#{root-defaults.$prefix}-menu-link-transition, background #{map.get(root-variables.$transition-durations, fast)} #{root-variables.$transition-timing-function}, color #{map.get(root-variables.$transition-durations, fast)} #{root-variables.$transition-timing-function});
$menu-link-visited-background: var(--#{root-defaults.$prefix}-menu-link-visited-background, #{$menu-link-background});
$menu-link-visited-color: var(--#{root-defaults.$prefix}-menu-link-visited-color, #{$menu-link-color});

// Submenu link properties.
$submenu-link-active-background: var(--#{root-defaults.$prefix}-submenu-link-active-background, #{$submenu-link-hover-background});
$submenu-link-active-color: var(--#{root-defaults.$prefix}-submenu-link-active-color, #{$submenu-link-hover-color});
$submenu-link-background: var(--#{root-defaults.$prefix}-submenu-link-background, #{$submenu-background});
$submenu-link-color: var(--#{root-defaults.$prefix}-submenu-link-color, #{$submenu-color});
$submenu-link-disabled-background: var(--#{root-defaults.$prefix}-submenu-link-disabled-background, #{$menu-link-disabled-background});
$submenu-link-disabled-color: var(--#{root-defaults.$prefix}-submenu-link-disabled-color, #{$menu-link-disabled-color});
$submenu-link-hover-background: var(--#{root-defaults.$prefix}-submenu-link-hover-background, #{$submenu-color});
$submenu-link-hover-color: var(--#{root-defaults.$prefix}-submenu-link-hover-color, #{$submenu-background});
$submenu-link-padding-x: var(--#{root-defaults.$prefix}-submenu-link-padding-x, #{$menu-link-padding-x});
$submenu-link-padding-y: var(--#{root-defaults.$prefix}-submenu-link-padding-y, #{$menu-link-padding-y});
$submenu-link-padding: var(--#{root-defaults.$prefix}-submenu-link-padding, #{$submenu-link-padding-y} #{$submenu-link-padding-x});
$submenu-link-visited-background: var(--#{root-defaults.$prefix}-submenu-link-visited-background, #{$submenu-link-background});
$submenu-link-visited-color: var(--#{root-defaults.$prefix}-submenu-link-visited-color, #{$submenu-link-color});
