// @graupl/graupl menu component variables.
//
// These values are to be used to directly style components and provide a
// cleaner way to reference custom properties.

@use "defaults";
@use "../../defaults" as root-defaults;
@use "../../variables" as root-variables;
@use "../../theme/color/variables" as color;
@use "../../functions/theme";
@use "sass:map";

// Gap properties.
$menu-row-gap: var(
  --#{root-defaults.$prefix}-menu-row-gap,
  #{map.get(root-variables.$spacers, 0)}
);
$menu-column-gap: var(
  --#{root-defaults.$prefix}-menu-column-gap,
  #{map.get(root-variables.$spacers, 0)}
);
$menu-gap: var(
  --#{root-defaults.$prefix}-menu-gap,
  #{$menu-column-gap} #{$menu-row-gap}
);

// Flex properties.
$menu-flex-direction: var(
  --#{root-defaults.$prefix}-menu-flex-direction,
  #{defaults.$menu-flex-direction}
);
$submenu-flex-direction: var(
  --#{root-defaults.$prefix}-submenu-flex-direction,
  #{defaults.$submenu-flex-direction}
);

// Menu item properties.
$menu-item-text-decoration: var(
  --#{root-defaults.$prefix}-menu-item-text-decoration,
  #{defaults.$menu-item-text-decoration}
);
$menu-item-text-decoration-thickness: var(
  --#{root-defaults.$prefix}-menu-item-text-decoration-thickness,
  0
);
$menu-item-hover-text-decoration: var(
  --#{root-defaults.$prefix}-menu-item-hover-text-decoration,
  #{defaults.$menu-item-hover-text-decoration}
);
$menu-item-hover-text-decoration-thickness: var(
  --#{root-defaults.$prefix}-menu-item-hover-text-decoration-thickness,
  0
);
$menu-item-padding-x: var(
  --#{root-defaults.$prefix}-menu-item-padding-x,
  #{map.get(root-variables.$spacers, 5)}
);
$menu-item-padding-y: var(
  --#{root-defaults.$prefix}-menu-item-padding-y,
  #{map.get(root-variables.$spacers, 3)}
);
$menu-item-padding: var(
  --#{root-defaults.$prefix}-menu-item-padding,
  #{$menu-item-padding-y} #{$menu-item-padding-x}
);
$menu-item-background: var(
  --#{root-defaults.$prefix}-menu-item-background,
  #{color.$root-background}
);
$menu-item-color: var(
  --#{root-defaults.$prefix}-menu-item-color,
  #{color.$root-color}
);
$menu-item-hover-background: var(
  --#{root-defaults.$prefix}-menu-item-hover-background,
  #{color.$root-color}
);
$menu-item-hover-color: var(
  --#{root-defaults.$prefix}-menu-item-hover-color,
  #{color.$root-background}
);
$menu-item-active-background: var(
  --#{root-defaults.$prefix}-menu-item-active-background,
  #{color.$root-color}
);
$menu-item-active-color: var(
  --#{root-defaults.$prefix}-menu-item-active-color,
  #{color.$root-background}
);
$menu-item-visited-background: var(
  --#{root-defaults.$prefix}-menu-item-visited-background,
  #{color.$root-background}
);
$menu-item-visited-color: var(
  --#{root-defaults.$prefix}-menu-item-visited-color,
  #{color.$root-color}
);
$menu-item-disabled-background: var(
  --#{root-defaults.$prefix}-menu-item-disabled-background,
  #{color.$root-background}
);
$menu-item-disabled-color: var(
  --#{root-defaults.$prefix}-menu-item-disabled-color,
  #{theme.get(primary, 200)}
);
$menu-item-row-gap: var(
  --#{root-defaults.$prefix}-menu-item-row-gap,
  #{map.get(root-variables.$spacers, 0)}
);
$menu-item-column-gap: var(
  --#{root-defaults.$prefix}-menu-item-column-gap,
  #{$menu-item-padding-x}
);
$menu-item-gap: var(
  --#{root-defaults.$prefix}-menu-item-gap,
  #{$menu-item-column-gap} #{$menu-item-row-gap}
);
$menu-item-transition: var(
  --#{root-defaults.$prefix}-menu-item-transition,
  background #{map.get(root-variables.$transition-durations, fast)} #{root-variables.$transition-timing-function},
  color #{map.get(root-variables.$transition-durations, fast)} #{root-variables.$transition-timing-function}
);
$menu-item-transition-reduced-motion: var(
  --#{root-defaults.$prefix}-menu-item-transition-reduced-motion,
  background #{map.get(root-variables.$transition-durations, none)} #{root-variables.$transition-timing-function},
  color #{map.get(root-variables.$transition-durations, none)} #{root-variables.$transition-timing-function}
);
$menu-item-border-width: var(
  --#{root-defaults.$prefix}-menu-item-border-width,
  #{defaults.$menu-item-border-width}
);
$menu-item-border-style: var(
  --#{root-defaults.$prefix}-botton-border-style,
  #{defaults.$menu-item-border-style}
);
$menu-item-border-radius: var(
  --#{root-defaults.$prefix}-menu-item-border-radius,
  #{root-variables.$border-radius}
);
$menu-item-transform: var(
  --#{root-defaults.$prefix}-menu-item-transform,
  #{defaults.$menu-item-transform}
);
$menu-item-hover-transform: var(
  --#{root-defaults.$prefix}-menu-item-hover-transform,
  #{defaults.$menu-item-hover-transform}
);
$menu-item-active-transform: var(
  --#{root-defaults.$prefix}-menu-item-active-transform,
  #{defaults.$menu-item-active-transform}
);
$menu-item-hover-transform-reduced-motion: var(
  --#{root-defaults.$prefix}-menu-item-hover-transform-reduced-motion,
  #{defaults.$menu-item-hover-transform-reduced-motion}
);
$menu-item-active-transform-reduced-motion: var(
  --#{root-defaults.$prefix}-menu-item-active-transform-reduced-motion,
  #{defaults.$menu-item-active-transform-reduced-motion}
);
