// @graupl/core container mixins.
//
// A series of mixins to generate breakpoints.

// @use "../defaults" as root-defaults;
@use "../functions/container";
@use "../defaults" as root-defaults;
@use "sass:map";
@use "sass:meta";

// A mixin to generate a minimum container width media query.
@mixin up($size) {
  $container-size: container.min($size);

  @container (#{$container-size} <= width) {
    @content;
  }
}

// A mixin to generate a maximum container width media query.
@mixin down($size) {
  $container-size: container.max($size);

  @container (width <= #{$container-size}) {
    @content;
  }
}

// A mixin to generate a range of container widths media query.
@mixin between($min, $max) {
  $container-size: container.range($min, $max);
  $min: map.get($container-size, "min");
  $max: map.get($container-size, "max");

  @container (#{$min} <= width <= #{$max}) {
    @content;
  }
}

@mixin only($size) {
  @include between($size, $size) {
    @content;
  }
}

@mixin trigger($trigger) {
  @if not map.has-key(root-defaults.$container-size-triggers, $trigger) {
    @error "The container size trigger \"#{$trigger}\" does not exist.";
  }

  $container-size-trigger: map.get(
    root-defaults.$container-size-triggers,
    $trigger
  );

  @if not map.has-key($container-size-trigger, "mixin") {
    @error "The container size trigger \"#{$trigger}\" does not have a mixin key.";
  }

  @if not map.has-key($container-size-trigger, "args") {
    @error "The container size trigger \"#{$trigger}\" does not have an args key.";
  }

  $mixin-name: map.get($container-size-trigger, "mixin");
  $mixin-args: map.get($container-size-trigger, "args");

  @if not meta.mixin-exists($mixin-name) {
    @error "The mixin \"#{$mixin-name}\" does not exist.";
  }

  $mixin: meta.get-mixin($mixin-name);

  @if meta.accepts-content($mixin) {
    @include meta.apply($mixin, $mixin-args...) {
      @content;
    }
  } @else {
    @warn "The mixin \"#{$mixin-name}\" does not accept content.";
  }
}
