// @graupl/core utility mixins.
//
// Mixins to help generate utility classes.

@use "./screen";
@use "./container";
@use "./state";
@use "./theme";
@use "../functions/important";
@use "../functions/utility";
@use "../defaults" as root-defaults;
@use "../theme/color/defaults" as color-defaults;
@use "sass:map";
@use "sass:string";

/// Insert a map of properties and values into a utility class.
///
/// @param {Map} $map
///   The map of properties and values to apply to the selector.
/// @param {Boolean} $important
///   A flag to determine if the important flag should be added.
@mixin _insert($map, $important: null) {
  @each $prop, $value in $map {
    // Do not attempt to insert important values inside of custom properties.
    @if string.slice($prop, 1, 2) != "--" {
      #{$prop}: important.insert(#{$value}, $override: $important);
    } @else {
      #{$prop}: #{$value};
    }
  }

  // Allow for custom overrides and additional styles.
  @content;
}

/// Handles wrapping utilities with a conditional state.
///
/// @param {?string} $state
///   The state to wrap.
@mixin _handle-state($state: null) {
  @if $state {
    @include state.state($state) {
      @content;
    }
  } @else {
    @content;
  }
}

/// Handles wrapping utilities with a conditional screen.
///
/// @param {?string} $screen
///   The screen to wrap.
@mixin _handle-screen($screen: null) {
  @if $screen {
    @include screen.up($screen) {
      @content;
    }
  } @else {
    @content;
  }
}

/// Handles wrapping utilities with a conditional container.
///
/// @param {?string} $container
///   The container to wrap.
@mixin _handle-container($container: null) {
  @if $container {
    @include container.up($container) {
      @content;
    }
  } @else {
    @content;
  }
}

/// Handles wrapping utilities with a conditional theme.
///
/// @param {?string} $theme
///   The theme mode to wrap.
@mixin _handle-theme($theme: null) {
  @if $theme {
    @include theme.theme($theme) {
      @content;
    }
  } @else {
    @content;
  }
}

/// Handles wrapping utilities with a conditional scheme.
///
/// @param {?string} $scheme
///   The scheme mode to wrap.
@mixin _handle-scheme($scheme: null) {
  @if $scheme {
    @include theme.scheme($scheme) {
      @content;
    }
  } @else {
    @content;
  }
}

/// Create a utility class with a list of properties and a single value.
///
/// @param {string}      $selector
///   The selector to apply the utility class to.
/// @param {string|List} $property
///   The property/properties to apply to the selector.
/// @param {string}      $value
///   The value to apply to the property/properties.
/// @param {?Boolean}    $important
///   A flag to determine if the important flag should be added.
/// @param {?string}     $screen
///   The screen to apply the utility class to.
/// @param {?string}     $theme
///   The theme to apply the utility class to.
/// @param {?string}     $scheme
///   The scheme mode to apply the utility class to.
/// @param {?string}     $state
///   The state to apply the utility class to.
@mixin create(
  $selector,
  $property,
  $value,
  $important: null,
  $screen: null,
  $theme: null,
  $scheme: null,
  $state: null,
  $container: null
) {
  $map: utility.convert-property-values-to-map($property, $value);

  @include create-mapped(
    $selector,
    $map,
    $important: $important,
    $screen: $screen,
    $theme: $theme,
    $scheme: $scheme,
    $state: $state,
    $container: $container
  ) {
    @content;
  }
}

/// Create a utility class with a map of properties and values.
///
/// @param {string}   $selector
///   The selector to apply the utility class to.
/// @param {Map}      $map
///   The map of properties and values to apply to the selector.
/// @param {?Boolean} $important
///   A flag to determine if the important flag should be added.
/// @param {?string}  $screen
///   The screen to apply the utility class to.
/// @param {?string}  $theme
///   The theme to apply the utility class to.
/// @param {?string}  $scheme
///   The scheme mode to apply the utility class to.
/// @param {?string}  $state
///   The state to apply the utility class to.
@mixin create-mapped(
  $selector,
  $map,
  $important: null,
  $screen: null,
  $theme: null,
  $scheme: null,
  $state: null,
  $container: null
) {
  @include _handle-theme($theme) {
    @include _handle-scheme($scheme) {
      #{$selector} {
        @if $screen or $container {
          @if $screen {
            @include _handle-screen($screen) {
              @include _handle-state($state) {
                @include _insert($map, $important) {
                  @content;
                }
              }
            }
          }

          @if $container {
            @include _handle-container($container) {
              @include _handle-state($state) {
                @include _insert($map, $important) {
                  @content;
                }
              }
            }
          }
        } @else {
          @include _handle-state($state) {
            @include _insert($map, $important) {
              @content;
            }
          }
        }
      }
    }
  }
}

/// Create a suite of utilities for all base and responsive classes.
///
/// Takes a utility map that is generated by the generate-utility-map() function.
///
/// @param {?Map}     $map [()]
///   The utility map.
/// @param {?string}  $selector-base [root-defaults.$utility-selector-base]
///   The selector base to use for all generated utilities.
/// @param {?string}  $selector-prefix [root-defaults.$utility-selector-prefix]
///   The selector prefix to use for all generated utilities.
/// @param {?string}  $selector-suffix [root-defaults.$utility-selector-suffix]
///   The selector suffix to use for all generated utilities.
/// @param {?Boolean} $screen-aware [false]
///   A flag to enable screen-aware utility generation.
/// @param {?string}  $screen-aware-selector-prefix [root-defaults.$utility-screen-aware-selector-prefix]
///   The selector base to use for all generated screen-aware utilities.
/// @param {?string}  $screen-aware-selector-suffix [root-defaults.$utility-screen-aware-selector-suffix]
///   The selector prefix to use for all generated screen-aware utilities.
/// @param {?string}  $screen-aware-selector-separator [root-defaults.$utility-screen-aware-selector-separator]
///   The selector suffix to use for all generated screen-aware utilities.
/// @param {?Boolean} $theme-aware [false]
///   A flag to enable theme-aware utility generation.
/// @param {?string}  $theme-aware-selector-prefix [root-defaults.$utility-theme-aware-selector-prefix]
///   The selector base to use for all generated theme-aware utilities.
/// @param {?string}  $theme-aware-selector-suffix [root-defaults.$utility-theme-aware-selector-suffix]
///   The selector prefix to use for all generated theme-aware utilities.
/// @param {?string}  $theme-aware-selector-separator [root-defaults.$utility-theme-aware-selector-separator]
///   The selector suffix to use for all generated theme-aware utilities.
/// @param {?Boolean} $scheme-aware [false]
///   A flag to enable scheme-aware utility generation.
/// @param {?string}  $scheme-aware-selector-prefix [root-defaults.$utility-scheme-aware-selector-prefix]
///   The selector base to use for all generated scheme-aware utilities.
/// @param {?string}  $scheme-aware-selector-suffix [root-defaults.$utility-scheme-aware-selector-suffix]
///   The selector prefix to use for all generated scheme-aware utilities.
/// @param {?string}  $scheme-aware-selector-separator [root-defaults.$utility-scheme-aware-selector-separator]
///   The selector suffix to use for all generated scheme-aware utilities.
/// @param {?Boolean} $state-aware [false]
///   A flag to enable state-aware utility generation.
/// @param {?string}  $state-aware-selector-prefix [root-defaults.$utility-state-aware-selector-prefix]
///   The selector base to use for all generated state-aware utilities.
/// @param {?string}  $state-aware-selector-suffix [root-defaults.$utility-state-aware-selector-suffix]
///   The selector prefix to use for all generated state-aware utilities.
/// @param {?string}  $state-aware-selector-separator [root-defaults.$utility-state-aware-selector-separator]
///   The selector suffix to use for all generated state-aware utilities.
/// @param {?Boolean} $container-aware [false]
///   A flag to enable container-aware utility generation.
/// @param {?string}  $container-aware-selector-prefix [root-defaults.$utility-container-aware-selector-prefix]
///   The selector base to use for all generated container-aware utilities.
/// @param {?string}  $container-aware-selector-suffix [root-defaults.$utility-container-aware-selector-suffix]
///   The selector prefix to use for all generated container-aware utilities.
/// @param {?string}  $container-aware-selector-separator [root-defaults.$utility-container-aware-selector-separator]
///   The selector suffix to use for all generated container-aware utilities.
/// @param {?Boolean} $important [root-defaults.$use-important]
///   A flag to determine if the important flag should be added to all utility properties.
@mixin generate(
  $map: (),
  $selector-base: root-defaults.$utility-selector-base,
  $selector-prefix: root-defaults.$utility-selector-prefix,
  $selector-suffix: root-defaults.$utility-selector-suffix,
  $screen-aware: false,
  $screen-aware-selector-prefix:
    root-defaults.$utility-screen-aware-selector-prefix,
  $screen-aware-selector-suffix:
    root-defaults.$utility-screen-aware-selector-suffix,
  $screen-aware-selector-separator:
    root-defaults.$utility-screen-aware-selector-separator,
  $theme-aware: false,
  $theme-aware-selector-prefix:
    root-defaults.$utility-theme-aware-selector-prefix,
  $theme-aware-selector-suffix:
    root-defaults.$utility-theme-aware-selector-suffix,
  $theme-aware-selector-separator:
    root-defaults.$utility-theme-aware-selector-separator,
  $scheme-aware: false,
  $scheme-aware-selector-prefix:
    root-defaults.$utility-scheme-aware-selector-prefix,
  $scheme-aware-selector-suffix:
    root-defaults.$utility-scheme-aware-selector-suffix,
  $scheme-aware-selector-separator:
    root-defaults.$utility-scheme-aware-selector-separator,
  $state-aware: false,
  $state-aware-selector-prefix:
    root-defaults.$utility-state-aware-selector-prefix,
  $state-aware-selector-suffix:
    root-defaults.$utility-state-aware-selector-suffix,
  $state-aware-selector-separator:
    root-defaults.$utility-state-aware-selector-separator,
  $container-aware: false,
  $container-aware-selector-prefix:
    root-defaults.$utility-container-aware-selector-prefix,
  $container-aware-selector-suffix:
    root-defaults.$utility-container-aware-selector-suffix,
  $container-aware-selector-separator:
    root-defaults.$utility-container-aware-selector-separator,
  $important: root-defaults.$use-important
) {
  $utility-selector-prefix: $selector-base;

  // Generate all base utilities.
  @each $selector, $properties in $map {
    $utility-selector: #{$selector-prefix}#{$selector}#{$selector-suffix};

    @include create-mapped(
      #{$utility-selector-prefix}#{$utility-selector},
      $properties,
      $important
    ) {
      @content ($selector, $properties, $responsive-name: null, $responsive-type: null);
    }
  }

  // Generate screen-aware utilities.
  @if $screen-aware and root-defaults.$screen-aware-utilities {
    @each $screen-name in map.keys(root-defaults.$screen-sizes) {
      // e.g. `.md:` or `.lg:`
      $utility-selector-prefix: #{$selector-base}#{$screen-aware-selector-prefix}#{$screen-name}#{$screen-aware-selector-suffix}#{$screen-aware-selector-separator};

      @each $selector, $properties in $map {
        $utility-selector: #{$selector-prefix}#{$selector}#{$selector-suffix};

        @include create-mapped(
          #{$utility-selector-prefix}#{$utility-selector},
          $properties,
          $important,
          $screen: $screen-name
        ) {
          @content ($selector, $properties, $responsive-name: $screen-name, $responsive-type: "screen");
        }
      }
    }
  }

  // Generate theme-aware utilities.
  @if $theme-aware and root-defaults.$theme-aware-utilities {
    @each $theme-name in color-defaults.$themes {
      // e.g. `.default-theme:`
      $utility-selector-prefix: #{$selector-base}#{$theme-aware-selector-prefix}#{$theme-name}#{$theme-aware-selector-suffix}#{$theme-aware-selector-separator};

      @each $selector, $properties in $map {
        $utility-selector: #{$selector-prefix}#{$selector}#{$selector-suffix};

        @include create-mapped(
          #{$utility-selector-prefix}#{$utility-selector},
          $properties,
          $important,
          $theme: $theme-name
        ) {
          @content ($selector, $properties, $responsive-name: $theme-name, $responsive-type: "theme");
        }
      }
    }
  }

  // Generate scheme-aware utilities.
  @if $scheme-aware and root-defaults.$scheme-aware-utilities {
    @each $scheme-name in color-defaults.$schemes {
      // e.g. `.light-mode:` or `.dark-mode:`
      $utility-selector-prefix: #{$selector-base}#{$scheme-aware-selector-prefix}#{$scheme-name}#{$scheme-aware-selector-suffix}#{$scheme-aware-selector-separator};

      @each $selector, $properties in $map {
        $utility-selector: #{$selector-prefix}#{$selector}#{$selector-suffix};

        @include create-mapped(
          #{$utility-selector-prefix}#{$utility-selector},
          $properties,
          $important,
          $scheme: $scheme-name
        ) {
          @content ($selector, $properties, $responsive-name: $scheme-name, $responsive-type: "scheme");
        }
      }
    }
  }

  // Generate state-aware utilities.
  @if $state-aware and root-defaults.$state-aware-utilities {
    @each $state-name in root-defaults.$state-selectors {
      // e.g. `.hover:` or `.focus:`
      $utility-selector-prefix: #{$selector-base}#{$state-aware-selector-prefix}#{$state-name}#{$state-aware-selector-suffix}#{$state-aware-selector-separator};

      @each $selector, $properties in $map {
        $utility-selector: #{$selector-prefix}#{$selector}#{$selector-suffix};

        @include create-mapped(
          #{$utility-selector-prefix}#{$utility-selector},
          $properties,
          $important,
          $state: $state-name
        ) {
          @content ($selector, $properties, $responsive-name: $state-name, $responsive-type: "state");
        }
      }
    }
  }

  // Generate container-aware utilities.
  @if $container-aware and root-defaults.$container-aware-utilities {
    @each $container-name in map.keys(root-defaults.$container-sizes) {
      // e.g. `.cq:md:` or `.cq:lg:`
      $utility-selector-prefix: #{$selector-base}#{$container-aware-selector-prefix}#{$container-name}#{$container-aware-selector-suffix}#{$container-aware-selector-separator};

      @each $selector, $properties in $map {
        $utility-selector: #{$selector-prefix}#{$selector}#{$selector-suffix};

        @include create-mapped(
          #{$utility-selector-prefix}#{$utility-selector},
          $properties,
          $important,
          $container: $container-name
        ) {
          @content ($selector, $properties, $responsive-name: $container-name, $responsive-type: "container");
        }
      }
    }
  }
}
