// @graupl/core gradient color utilities default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../../defaults" as root-defaults;
@use "../defaults" as gradient-defaults;
@use "../../../functions/theme";
@use "../../../functions/utility";
@use "../../../theme/color/variables" as color;
@use "sass:map";

// Utility modifiers.
$selector-base: gradient-defaults.$selector-base !default;
$selector-prefix: gradient-defaults.$selector-prefix !default;
$selector-suffix: gradient-defaults.$selector-suffix !default;
$selector-separator: gradient-defaults.$selector-separator !default;
$use-important: gradient-defaults.$use-important !default;
$generate-base-utilities: gradient-defaults.$generate-base-utilities !default;
$screen-aware: gradient-defaults.$screen-aware !default;
$theme-aware: gradient-defaults.$theme-aware !default;
$scheme-aware: gradient-defaults.$scheme-aware !default;
$state-aware: gradient-defaults.$state-aware !default;
$container-aware: gradient-defaults.$container-aware !default;
$screen-aware-selector-separator: gradient-defaults.$screen-aware-selector-separator !default;
$theme-aware-selector-separator: gradient-defaults.$theme-aware-selector-separator !default;
$scheme-aware-selector-separator: gradient-defaults.$scheme-aware-selector-separator !default;
$state-aware-selector-separator: gradient-defaults.$state-aware-selector-separator !default;
$container-aware-selector-separator: gradient-defaults.$container-aware-selector-separator !default;
$screen-aware-selector-prefix: gradient-defaults.$screen-aware-selector-prefix !default;
$theme-aware-selector-prefix: gradient-defaults.$theme-aware-selector-prefix !default;
$scheme-aware-selector-prefix: gradient-defaults.$scheme-aware-selector-prefix !default;
$state-aware-selector-prefix: gradient-defaults.$state-aware-selector-prefix !default;
$container-aware-selector-prefix: gradient-defaults.$container-aware-selector-prefix !default;
$screen-aware-selector-suffix: gradient-defaults.$screen-aware-selector-suffix !default;
$theme-aware-selector-suffix: gradient-defaults.$theme-aware-selector-suffix !default;
$scheme-aware-selector-suffix: gradient-defaults.$scheme-aware-selector-suffix !default;
$state-aware-selector-suffix: gradient-defaults.$state-aware-selector-suffix !default;
$container-aware-selector-suffix: gradient-defaults.$container-aware-selector-suffix !default;

// Properties.
$-utility-properties: (
  "to": --#{root-defaults.$prefix}gradient-to,
  "from": --#{root-defaults.$prefix}gradient-from,
);
$utility-properties: () !default;

// Values.
$-utility-values: (
  transparent: transparent,
);
$utility-values: () !default;

// Add all of the active theme colours to the utility base values.
@each $color in theme.get-colors() {
  $map: theme.get-color($color);

  @each $shade, $value in $map {
    // Handle _default shade vs proper shade mappings.
    $name: null;

    @if $shade == "_default" {
      $name: #{$color};
    } @else {
      $name: #{$color}-#{$shade};
    }

    $-utility-values: map.merge($-utility-values, (#{$name}: #{$value}));
  }
}

// Merge custom and base properties/values if generating base utilities.
@if $generate-base-utilities {
  $utility-properties: map.merge($-utility-properties, $utility-properties);
  $utility-values: map.merge($-utility-values, $utility-values);
}

// Set up all utility classes and properties for cleaner generation in the index file.
//
// The end result of this map is something like:
// $-utility-map: (
//   class-name: (
//     property: value,
//     property: value,
//     ...
//   ),
//   class-name: (
//     property: value,
//     property: value,
//     ...
//   ),
//   ...
// );
$-utility-map: ();
$-utility-map: map.deep-merge(
  $-utility-map,
  utility.generate-utility-map(
    $utility-properties,
    $utility-values,
    $selector-separator
  )
);
$utility-map: () !default;
$utility-map: map.deep-merge($-utility-map, $utility-map);
