// @graupl/core default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "sass:list";
@use "sass:map";

// Prefix for custom properties and other naming conventions.
$id: "graupl" !default;
$prefix: "#{$id}-" !default;

// Settings.
$use-important: true !default;
$generate-base-colors: true !default;
$generate-base-themes: true !default;
$generate-base-theme-maps: true !default;
$generate-base-font-sizes: true !default;
$generate-base-font-weights: true !default;
$generate-state-classes: true !default;
$generate-base-utilities: true !default;
$screen-aware-utilities: true !default;
$theme-aware-utilities: true !default;
$state-aware-utilities: true !default;
$container-aware-utilities: false !default;
$themeable-components: true !default;
$use-layers: true !default;
$show-warnings: true !default;

// Layout properties.
$content-max-width: 96ch !default;

// Screen sizes.
$-screen-sizes: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  hd: 1500px,
  qhd: 1921px,
  uhd: 2561px,
);
$screen-sizes: () !default;
$screen-sizes: map.merge($-screen-sizes, $screen-sizes);
$-screen-size-triggers: (
  navigation-collapse: (
    mixin: "down",
    args: (
      "sm",
    ),
  ),
  navigation-expand: (
    mixin: "up",
    args: (
      "md",
    ),
  ),
  force-vertical-card: (
    mixin: "down",
    args: (
      "sm",
    ),
  ),
  force-single-column: (
    mixin: "down",
    args: (
      "xs",
    ),
  ),
  allow-sidebars: (
    mixin: "up",
    args: (
      "lg",
    ),
  ),
);
$screen-size-triggers: () !default;
$screen-size-triggers: map.merge($-screen-size-triggers, $screen-size-triggers);

// Container sizes.
$-container-sizes: $screen-sizes;
$container-sizes: () !default;
$container-sizes: map.merge($-container-sizes, $container-sizes);
$-container-size-triggers: $screen-size-triggers;
$container-size-triggers: () !default;
$container-size-triggers: map.merge(
  $-container-size-triggers,
  $container-size-triggers
);

// Spacing properties.
$spacer: 1rem !default;
$-spacer-multipliers: (
  0: 0,
  1: 0.125,
  2: 0.25,
  3: 0.5,
  4: 0.75,
  5: 1,
  6: 1.5,
  7: 2,
  8: 3,
  9: 5,
  10: 10,
);
$spacer-multipliers: () !default;
$spacer-multipliers: map.merge($-spacer-multipliers, $spacer-multipliers);

// Size properties.
$interactive-min-width: 44px !default;
$interactive-min-height: 44px !default;

// Border properties.
$border-radius: 0.125rem !default;
$border-width: 0.125rem !default;
$border-style: solid !default;

// Transition properties.
$transition-duration-base: 100 !default;
$transition-timing-function: ease !default;
$-transition-durations: (
  fast: #{$transition-duration-base * 1.5}ms,
  default: #{$transition-duration-base * 2.5}ms,
  slow: #{$transition-duration-base * 3}ms,
);
$transition-durations: () !default;
$transition-durations: map.merge($-transition-durations, $transition-durations);

// Selector properties.
$element-selector-base: "" !default;
$component-selector-base: "." !default;
$modifier-selector-base: "." !default;
$screen-aware-selector-separator: "\\:" !default;
$theme-aware-selector-separator: "\\:" !default;
$state-aware-selector-separator: "\\:" !default;
$container-aware-selector-separator: "\\:" !default;

// Selector prefixes.
$screen-aware-selector-prefix: "" !default;
$theme-aware-selector-prefix: "" !default;
$state-aware-selector-prefix: "" !default;
$container-aware-selector-prefix: "cq\\:" !default;

// State selectors.
$state-selector-base: $modifier-selector-base !default;
$-state-selectors: (
  visited: (
    ":visited",
  ),
  focus: (
    ":focus-visible",
  ),
  hover: (
    ":hover",
  ),
  active: (
    ":active",
  ),
  disabled: (
    ":disabled",
    "[disabled]",
    "[aria-disabled=true]",
  ),
  selected: (
    "[aria-selected=true]",
  ),
  current: (
    "[aria-current=true]",
  ),
);
$-state-class-selectors: (
  visited: (
    "#{$state-selector-base}visited",
  ),
  focus: (
    "#{$state-selector-base}focus",
  ),
  hover: (
    "#{$state-selector-base}hover",
  ),
  active: (
    "#{$state-selector-base}active",
  ),
  disabled: (
    "#{$state-selector-base}disabled",
  ),
  selected: (
    "#{$state-selector-base}selected",
  ),
  current: (
    "#{$state-selector-base}current",
  ),
);

// Merge the state class selectors with the state selectors.
@if $generate-state-classes {
  @each $state, $selectors in $-state-selectors {
    $-state-selectors: map.set(
      $-state-selectors,
      $state,
      list.join($selectors, map.get($-state-class-selectors, $state))
    );
  }
}

$state-selectors: () !default;

@each $state, $selectors in $-state-selectors {
  @if map.has-key($state-selectors, $state) {
    $state-selectors: map.set(
      $state-selectors,
      $state,
      list.join(map.get($state-selectors, $state), $selectors)
    );
  } @else {
    $state-selectors: map.set($state-selectors, $state, $selectors);
  }
}

// Utility properties.
$utility-selector-base: $modifier-selector-base !default;

// Utility modifier separators.
$utility-screen-aware-selector-separator: $screen-aware-selector-separator !default;
$utility-theme-aware-selector-separator: $theme-aware-selector-separator !default;
$utility-state-aware-selector-separator: $state-aware-selector-separator !default;
$utility-container-aware-selector-separator: $container-aware-selector-separator !default;
$utility-screen-aware-selector-prefix: $screen-aware-selector-prefix !default;
$utility-theme-aware-selector-prefix: $theme-aware-selector-prefix !default;
$utility-state-aware-selector-prefix: $state-aware-selector-prefix !default;
$utility-container-aware-selector-prefix: $container-aware-selector-prefix !default;

// Selectors.
$root-selector-base: ":" !default;
$root-selector: "root" !default;
