// @graupl/graupl list utilities styles.
//
// Responsive class must be within their own loop to prevent specificity issues.
// This keeps responsive specificity tied to screen size before property order.

@use "../../defaults" as root-defaults;
@use "../../mixins/layer" as *;
@use "../../mixins/utility";
@use "../../theme/color/variables" as color;
@use "defaults";
@use "sass:map";
@use "variables" as *;

@include layer(utilities) {
  $selector-prefix: root-defaults.$utility-selector-base;

  // For each list style type property, create a utility class.
  @each $name, $property in defaults.$list-style-type-properties {
    $selector: "#{$selector-prefix}#{defaults.$list-style-type-selector-prefix}#{$name}";

    @include utility.create($selector, list-style-type, $property);
  }

  // For each list style position property, create a utility class.
  @each $name, $property in defaults.$list-style-position-properties {
    $selector: "#{$selector-prefix}#{defaults.$list-style-position-selector-prefix}#{$name}";

    @include utility.create($selector, list-style-position, $property);
  }

  // Generate screen-aware utilities.
  @if defaults.$screen-aware and root-defaults.$screen-aware-utilities {
    @each $screen-name in map.keys(root-defaults.$screen-sizes) {
      $selector-prefix: "#{root-defaults.$utility-selector-base}#{$screen-name}#{root-defaults.$utility-screen-aware-separator}";

      // For each list style type property, create a utility class.
      @each $name, $property in defaults.$list-style-type-properties {
        $selector: "#{$selector-prefix}#{defaults.$list-style-type-selector-prefix}#{$name}";

        @include utility.create(
          $selector,
          list-style-type,
          $property,
          $screen: $screen-name
        );
      }

      // For each list style position property, create a utility class.
      @each $name, $property in defaults.$list-style-position-properties {
        $selector: "#{$selector-prefix}#{defaults.$list-style-position-selector-prefix}#{$name}";

        @include utility.create(
          $selector,
          list-style-position,
          $property,
          $screen: $screen-name
        );
      }
    }
  }

  // Generate theme-aware utilities.
  @if defaults.$theme-aware and root-defaults.$theme-aware-utilities {
    @each $theme-name, $colors in color.$themes {
      @if $theme-name != active {
        $selector-prefix: "#{root-defaults.$utility-selector-base}#{$theme-name}#{root-defaults.$utility-theme-aware-separator}";

        // For each list style type property, create a utility class.
        @each $name, $property in defaults.$list-style-type-properties {
          $selector: "#{$selector-prefix}#{defaults.$list-style-type-selector-prefix}#{$name}";

          @include utility.create(
            $selector,
            list-style-type,
            $property,
            $theme: $theme-name
          );
        }

        // For each list style position property, create a utility class.
        @each $name, $property in defaults.$list-style-position-properties {
          $selector: "#{$selector-prefix}#{defaults.$list-style-position-selector-prefix}#{$name}";

          @include utility.create(
            $selector,
            list-style-position,
            $property,
            $theme: $theme-name
          );
        }
      }
    }
  }

  // Generate state-aware utilities.
  @if defaults.$state-aware and root-defaults.$state-aware-utilities {
    @each $state-name, $value in root-defaults.$state-selectors {
      $selector-prefix: "#{root-defaults.$utility-selector-base}#{$state-name}#{root-defaults.$utility-state-aware-separator}";

      // For each list style type property, create a utility class.
      @each $name, $property in defaults.$list-style-type-properties {
        $selector: "#{$selector-prefix}#{defaults.$list-style-type-selector-prefix}#{$name}";

        @include utility.create(
          $selector,
          list-style-type,
          $property,
          $state: $state-name
        );
      }

      // For each list style position property, create a utility class.
      @each $name, $property in defaults.$list-style-position-properties {
        $selector: "#{$selector-prefix}#{defaults.$list-style-position-selector-prefix}#{$name}";

        @include utility.create(
          $selector,
          list-style-position,
          $property,
          $state: $state-name
        );
      }
    }
  }
}
