// @graupl/core typography text transform default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../defaults" as typography-defaults;
@use "../../../functions/utility";
@use "../../../theme/typography/variables" as typography;
@use "sass:map";

// Utility modifiers.
$selector-base: typography-defaults.$selector-base !default;
$selector-prefix: typography-defaults.$selector-prefix !default;
$selector-suffix: typography-defaults.$selector-suffix !default;
$selector-separator: typography-defaults.$selector-separator !default;
$use-important: typography-defaults.$use-important !default;
$generate-base-utilities: typography-defaults.$generate-base-utilities !default;
$screen-aware: typography-defaults.$screen-aware !default;
$theme-aware: typography-defaults.$theme-aware !default;
$scheme-aware: typography-defaults.$scheme-aware !default;
$state-aware: typography-defaults.$state-aware !default;
$container-aware: typography-defaults.$container-aware !default;
$screen-aware-selector-prefix: typography-defaults.$screen-aware-selector-prefix !default;
$screen-aware-selector-suffix: typography-defaults.$screen-aware-selector-suffix !default;
$screen-aware-selector-separator: typography-defaults.$screen-aware-selector-separator !default;
$theme-aware-selector-prefix: typography-defaults.$theme-aware-selector-prefix !default;
$theme-aware-selector-suffix: typography-defaults.$theme-aware-selector-suffix !default;
$theme-aware-selector-separator: typography-defaults.$theme-aware-selector-separator !default;
$scheme-aware-selector-prefix: typography-defaults.$scheme-aware-selector-prefix !default;
$scheme-aware-selector-suffix: typography-defaults.$scheme-aware-selector-suffix !default;
$scheme-aware-selector-separator: typography-defaults.$scheme-aware-selector-separator !default;
$state-aware-selector-prefix: typography-defaults.$state-aware-selector-prefix !default;
$state-aware-selector-suffix: typography-defaults.$state-aware-selector-suffix !default;
$state-aware-selector-separator: typography-defaults.$state-aware-selector-separator !default;
$container-aware-selector-prefix: typography-defaults.$container-aware-selector-prefix !default;
$container-aware-selector-suffix: typography-defaults.$container-aware-selector-suffix !default;
$container-aware-selector-separator: typography-defaults.$container-aware-selector-separator !default;

// Properties.
$-utility-properties: (
  "text": text-transform,
);
$utility-properties: () !default;

// Values.
$-utility-values: (
  "uppercase": uppercase,
  "lowercase": lowercase,
  "capitalize": capitalize,
  "none": none,
);
$utility-values: () !default;

// Merge custom and base properties/values if generating base utilities.
@if $generate-base-utilities {
  $utility-properties: map.deep-merge(
    $-utility-properties,
    $utility-properties
  );
  $utility-values: map.deep-merge($-utility-values, $utility-values);
}

// Set up all utility classes and properties for cleaner generation in the index file.
//
// The end result of this map is something like:
// $-utility-map: (
//   class-name: (
//     property: value,
//     property: value,
//     ...
//   ),
//   class-name: (
//     property: value,
//     property: value,
//     ...
//   ),
//   ...
// );
$-utility-map: ();
$-utility-map: map.deep-merge(
  $-utility-map,
  utility.generate-utility-map(
    $utility-properties,
    $utility-values,
    $selector-separator
  )
);
$utility-map: () !default;
$utility-map: map.deep-merge($-utility-map, $utility-map);
