// Variables referencing custom properties.

@use "defaults";
@use "sass:map";

// Layout properties.
$content-max-width: var(--#{defaults.$prefix}-content-max-width, defaults.$content-max-width);

// Spacing properties.
$gap: var(--#{defaults.$prefix}-gap, defaults.$gap);

// Border properties.
$border-radius: var(--#{defaults.$prefix}-border-radius, defaults.$border-radius);
$border-width: var(--#{defaults.$prefix}-border-width, defaults.$border-width);
$border-style: var(--#{defaults.$prefix}-border-style, defaults.$border-style);

// Font properties.
$font-size: (
  small: var(--#{defaults.$prefix}-font-size-small, map.get(defaults.$font-size, small)),
  default: var(--#{defaults.$prefix}-font-size-default, map.get(defaults.$font-size, default)),
  large: var(--#{defaults.$prefix}-font-size-large, map.get(defaults.$font-size, large)),
);
