// @graupl/core menu component default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;
@use "../../functions/theme";
@use "sass:map";

// Menu selectors.
$selector-base: root-defaults.$component-selector-base !default;
$modifier-selector-base: root-defaults.$modifier-selector-base !default;
$generate-base-theme-map: root-defaults.$generate-base-theme-maps !default;
$themeable: false !default;
$menu-selector-base: $selector-base !default;
$menu-selector: "menu" !default;
$menu-theme-selector-base: $modifier-selector-base !default;
$menu-theme-selector-prefix: "" !default;
$submenu-selector-base: $selector-base !default;
$submenu-selector: "submenu" !default;
$menu-item-selector-base: $selector-base !default;
$menu-item-selector: "menu-item" !default;
$menu-link-selector-base: $selector-base !default;
$menu-link-selector: "menu-link" !default;
$submenu-toggle-selector-base: $selector-base !default;
$submenu-toggle-selector: "submenu-toggle" !default;
$menu-show-selector-base: $modifier-selector-base !default;
$menu-show-selector: "show" !default;
$menu-hide-selector-base: $modifier-selector-base !default;
$menu-hide-selector: "hide" !default;

// Flex properties.
$menu-flex-direction: row !default;
$submenu-flex-direction: column !default;

// Visibility properties.
$menu-show-display: flex !default;
$menu-hide-display: none !default;
$submenu-show-display: $menu-show-display !default;
$submenu-hide-display: $menu-hide-display !default;

// Menu item properties.
$menu-item-min-width: min-content !default;
$menu-item-max-width: 100% !default;

// Submenu properties.
$submenu-position: absolute !default;
$submenu-z-index: 2 !default;
$submenu-top: 100% !default;
$submenu-right: auto !default;
$submenu-bottom: auto !default;
$submenu-left: 0 !default;

// Submenu item properties.
$submenu-item-width: 100% !default;

// Menu link properties.
$menu-link-initial-text-decoration: none !default;
$menu-link-final-text-decoration: $menu-link-initial-text-decoration !default;
$menu-link-disabled-text-decoration: $menu-link-initial-text-decoration !default;
$menu-link-initial-text-decoration-style: solid !default;
$menu-link-final-text-decoration-style: $menu-link-initial-text-decoration-style !default;
$menu-link-disabled-text-decoration-style: $menu-link-initial-text-decoration-style !default;
$menu-link-initial-transform: none !default;
$menu-link-final-transform: $menu-link-initial-transform !default;
$menu-link-disabled-transform: $menu-link-initial-transform !default;
$menu-border-width: 0 !default;
$menu-link-border-width: 0 !default;
$submenu-toggle-transform: rotate(0deg) !default;
$submenu-toggle-open-transform: rotate(-180deg) !default;
$submenu-toggle-content: "'↓'" !default;

// Menu state theme defaults.
// This map is used to define the default colour shades for the
// themed menu bases.
//
// e.g.
// Primary menus will use primary--900 as the text colour and primary--700 as the border colour.
//
// Secondary/tertiary menus will use the same shade for their respective colours.
$-menu-theme-mappings: (
  color: 900,
  border-color: 700,
  link-hover-background: 700,
  link-hover-color: 100,
);
$menu-theme-mappings: () !default;

// Merge the custom menu state theme map with the default one.
@if $generate-base-theme-map {
  $menu-theme-mappings: map.merge($-menu-theme-mappings, $menu-theme-mappings);
}

$-menu-theme-map: theme.generate-property-map($menu-theme-mappings);
$menu-theme-map: () !default;
$menu-theme-map: map.deep-merge($-menu-theme-map, $menu-theme-map);
