// @graupl/core order utilities default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;
@use "../../layout/columns/defaults" as columns-defaults;
@use "../../layout/flex-columns/defaults" as flex-columns-defaults;
@use "sass:map";
@use "sass:math";

// Utility modifiers.
$selector-base: root-defaults.$utility-selector-base !default;
$use-important: root-defaults.$use-important !default;
$generate-base-utilities: root-defaults.$generate-base-utilities !default;
$screen-aware: true !default;
$theme-aware: false !default;
$scheme-aware: false !default;
$state-aware: false !default;
$container-aware: true !default;
$screen-aware-selector-separator: root-defaults.$utility-screen-aware-selector-separator !default;
$theme-aware-selector-separator: root-defaults.$utility-theme-aware-selector-separator !default;
$scheme-aware-selector-separator: root-defaults.$utility-scheme-aware-selector-separator !default;
$state-aware-selector-separator: root-defaults.$utility-state-aware-selector-separator !default;
$container-aware-selector-separator: root-defaults.$utility-container-aware-selector-separator !default;
$screen-aware-selector-prefix: root-defaults.$utility-screen-aware-selector-prefix !default;
$theme-aware-selector-prefix: root-defaults.$utility-theme-aware-selector-prefix !default;
$scheme-aware-selector-prefix: root-defaults.$utility-scheme-aware-selector-prefix !default;
$state-aware-selector-prefix: root-defaults.$utility-state-aware-selector-prefix !default;
$container-aware-selector-prefix: root-defaults.$utility-container-aware-selector-prefix !default;
$screen-aware-selector-suffix: root-defaults.$utility-screen-aware-selector-suffix !default;
$theme-aware-selector-suffix: root-defaults.$utility-theme-aware-selector-suffix !default;
$scheme-aware-selector-suffix: root-defaults.$utility-scheme-aware-selector-suffix !default;
$state-aware-selector-suffix: root-defaults.$utility-state-aware-selector-suffix !default;
$container-aware-selector-suffix: root-defaults.$utility-container-aware-selector-suffix !default;

// Order properties.
$order-max-count: math.max(
  columns-defaults.$columns-max-count,
  flex-columns-defaults.$flex-columns-max-count
) !default;
$order-selector-prefix: "order-" !default;
$-order-properties: (
  "none": 0,
  "first": -9999,
  "last": 9999,
);

// Add the count values to the base order properties.
@for $i from 1 through $order-max-count {
  $-order-properties: map.merge(
    $-order-properties,
    (
      math.abs($i): $i,
    )
  );
}

$order-properties: () !default;

// Merge custom properties with base properties if generating base utilities.
@if $generate-base-utilities {
  $order-properties: map.merge($-order-properties, $order-properties);
}
