// @graupl/core align-content utilities default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../defaults" as alignment-defaults;
@use "../../../functions/utility";
@use "sass:map";

// Utility modifiers.
$selector-base: alignment-defaults.$selector-base !default;
$selector-prefix: alignment-defaults.$selector-prefix !default;
$selector-suffix: alignment-defaults.$selector-suffix !default;
$selector-separator: alignment-defaults.$selector-separator !default;
$use-important: alignment-defaults.$use-important !default;
$generate-base-utilities: alignment-defaults.$generate-base-utilities !default;
$screen-aware: alignment-defaults.$screen-aware !default;
$theme-aware: alignment-defaults.$theme-aware !default;
$scheme-aware: alignment-defaults.$scheme-aware !default;
$state-aware: alignment-defaults.$state-aware !default;
$container-aware: alignment-defaults.$container-aware !default;
$screen-aware-selector-separator: alignment-defaults.$screen-aware-selector-separator !default;
$theme-aware-selector-separator: alignment-defaults.$theme-aware-selector-separator !default;
$scheme-aware-selector-separator: alignment-defaults.$scheme-aware-selector-separator !default;
$state-aware-selector-separator: alignment-defaults.$state-aware-selector-separator !default;
$container-aware-selector-separator: alignment-defaults.$container-aware-selector-separator !default;
$screen-aware-selector-prefix: alignment-defaults.$screen-aware-selector-prefix !default;
$theme-aware-selector-prefix: alignment-defaults.$theme-aware-selector-prefix !default;
$scheme-aware-selector-prefix: alignment-defaults.$scheme-aware-selector-prefix !default;
$state-aware-selector-prefix: alignment-defaults.$state-aware-selector-prefix !default;
$container-aware-selector-prefix: alignment-defaults.$container-aware-selector-prefix !default;
$screen-aware-selector-suffix: alignment-defaults.$screen-aware-selector-suffix !default;
$theme-aware-selector-suffix: alignment-defaults.$theme-aware-selector-suffix !default;
$scheme-aware-selector-suffix: alignment-defaults.$scheme-aware-selector-suffix !default;
$state-aware-selector-suffix: alignment-defaults.$state-aware-selector-suffix !default;
$container-aware-selector-suffix: alignment-defaults.$container-aware-selector-suffix !default;

// Properties
$-utility-properties: (
  "align-content": align-content,
);
$utility-properties: () !default;

// Values.
$-utility-values: (
  normal: normal,
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
  baseline: baseline,
  stretch: stretch,
);
$utility-values: () !default;

// Merge custom and base properties/values if generating base utilities.
@if $generate-base-utilities {
  $utility-properties: map.merge($-utility-properties, $utility-properties);
  $utility-values: map.merge($-utility-values, $utility-values);
}

// Set up all utility classes and properties for cleaner generation in the index file.
//
// The end result of this map is something like:
// $-utility-map: (
//   class-name: (
//     property: value,
//     property: value,
//     ...
//   ),
//   class-name: (
//     property: value,
//     property: value,
//     ...
//   ),
//   ...
// );
$-utility-map: ();
$-utility-map: map.deep-merge(
  $-utility-map,
  utility.generate-utility-map(
    $utility-properties,
    $utility-values,
    $selector-separator
  )
);
$utility-map: () !default;
$utility-map: map.deep-merge($-utility-map, $utility-map);
