@use "../../../packages/core/src/scss/defaults" as graupl-defaults with (
  $id: "graupl-docs"
);
@use "../../../packages/core/src/scss/base/button/mixins" as
  graupl-button-mixins;
@use "../../../packages/core/src/scss" as graupl;

:root {
  --graupl-docs-content-max-width: 158ch;
  --graupl-docs-container-sidebar-width: 28ch;
  --graupl-docs-spacer: 1rem;
  --graupl-docs-root-background: var(--graupl-docs-theme-active--primary--100);
  --graupl-docs-root-color: var(--graupl-docs-theme-active--primary--900);
  --graupl-docs-background: var(--graupl-docs-theme-active--primary--100);
  --graupl-docs-color: var(--graupl-docs-theme-active--primary--900);
  --graupl-docs-navigation-background: transparent;
  --graupl-docs-menu-link-hover-background: transparent;
  --graupl-docs-menu-link-hover-color: var(
    --graupl-docs-theme-active--primary--700
  );
  --graupl-docs-menu-link-hover-text-decoration: underline;
  --graupl-docs-menu-link-hover-text-decoration-thickness: 0.125rem;
  --graupl-docs-menu-link-hover-text-decoration-color: var(
    --graupl-docs-theme-active--tertiary--600
  );

  @each $key, $value in graupl-defaults.$spacer-multipliers {
    --graupl-docs-spacer-#{$key}: calc(#{$value} * var(--graupl-docs-spacer));
  }

  @each $key, $value in graupl-defaults.$base-transition-durations {
    --graupl-docs-transition-duration-#{$key}: #{$value};
  }
}
.container {
  isolation: isolate;
}

.submenu-toggle::after {
  text-decoration: var(--graupl-docs-menu-link-hover-text-decoration);
  text-decoration-thickness: var(
    --graupl-docs-menu-link-hover-text-decoration-thickness
  );
  text-decoration-color: var(--graupl-docs-theme-active--secondary--100);
  padding: 0 var(--graupl-docs-spacer-2);
}

.sidebar-left .navigation {
  --graupl-docs-submenu-display: flex;
  --graupl-docs-submenu-border-color: transparent;
  --graupl-docs-submenu-position: relative;
  --graupl-docs-submenu-inset: auto;
  --graupl-docs-background: var(--graupl-docs-theme-active--primary--100);
  --graupl-docs-color: var(--graupl-docs-theme-active--primary--900);
  --graupl-docs-menu-link-hover-text-decoration-color: var(
    --graupl-docs-theme-active--tertiary--500
  );
  --graupl-docs-menu-link-hover-color: var(
    --graupl-docs-theme-active--primary--700
  );

  grid-template-columns: [branding-start menu-start] 1fr [menu-end branding-end];
  grid-template-rows: [branding-start] auto [branding-end menu-start] 1fr [menu-end];

  .submenu {
    --graupl-docs-menu-link-padding: var(--graupl-docs-spacer-3)
      var(--graupl-docs-spacer-5) var(--graupl-docs-spacer-3)
      var(--graupl-docs-spacer-6);

    width: 100%;
  }
}

code {
  background: var(--graupl-docs-theme-active--secondary--100);
  color: var(--graupl-docs-theme-active--secondary--800);
  display: inline;
  padding: 0 var(--graupl-docs-spacer-2);
}

pre code {
  display: block;
  padding: var(--graupl-docs-spacer-6);
  overflow-x: scroll;
  scrollbar-width: thin;
}

.vp-adaptive-theme[class*="language-"] {
  position: relative;

  .lang {
    position: absolute;
    right: var(--graupl-docs-spacer-3);
    top: var(--graupl-docs-spacer-1);
    height: var(--graupl-docs-spacer-6);
    opacity: 1;
    transition: opacity var(--graupl-docs-transition-duration-fast) ease-in-out;
  }

  .copy {
    @include graupl-button-mixins.apply-base;
    @include graupl-button-mixins.apply-theme;

    position: absolute;
    right: var(--graupl-docs-spacer-3);
    top: var(--graupl-docs-spacer-3);
    height: var(--graupl-docs-spacer-6);
    opacity: 0;
    transition: opacity var(--graupl-docs-transition-duration-fast) ease-in-out;
    z-index: 2;
  }

  &:hover {
    .copy {
      opacity: 1;
    }
    .lang {
      opacity: 0;
    }
  }

  span {
    color: var(--shiki-light);
  }
}

.dark-mode {
  .vp-adaptive-theme[class*="language-"] span {
    color: var(--shiki-dark);
  }
}

.border-top-none {
  border-top-width: 0;
}
.border-left-none {
  border-left-width: 0;
}
.border-bottom-none {
  border-bottom-width: 0;
}
.border-right-none {
  border-right-width: 0;
}
