// @graupl/core typography theme default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;
@use "sass:map";

// font properties.
$selector-base: root-defaults.$element-selector-base !default;
$modifier-selector-base: root-defaults.$modifier-selector-base !default;
$paragraph-selector-base: $selector-base !default;
$paragraph-selector: "p";
$small-selector-base: $selector-base !default;
$small-selector: "small";
$h1-selector-base: $selector-base !default;
$h1-selector: "h1" !default;
$h2-selector-base: $selector-base !default;
$h2-selector: "h2" !default;
$h3-selector-base: $selector-base !default;
$h3-selector: "h3" !default;
$h4-selector-base: $selector-base !default;
$h4-selector: "h4" !default;
$h5-selector-base: $selector-base !default;
$h5-selector: "h5" !default;
$h6-selector-base: $selector-base !default;
$h6-selector: "h6" !default;
$root-selector-base: root-defaults.$root-selector-base !default;
$root-selector: root-defaults.$root-selector !default;
$bold-selector-base: $selector-base !default;
$bold-selector: "b" !default;
$strong-selector-base: $selector-base !default;
$strong-selector: "strong" !default;
$emphasis-selector-base: $selector-base !default;
$emphasis-selector: "em" !default;
$italic-selector-base: $selector-base !default;
$italic-selector: "i" !default;
$generate-base-font-sizes: root-defaults.$generate-base-font-sizes !default;
$generate-base-font-weights: root-defaults.$generate-base-font-weights !default;
$font-size-base: 1rem !default;
$root-font-size: clamp(0.85rem, calc(0.8rem + 0.5vw), 1.25rem) !default;
$root-line-height: 1.2em !default;
$root-letter-spacing: normal !default;
$root-word-spacing: normal !default;
$root-font-style: normal !default;
$root-font-variant: normal !default;

// Multipliers for font sizes.
// This uses a minor third scale.
// See: https://typescale.com/?size=16&scale=1.250&text=A%20Visual%20Type%20Scale&font=Lato&fontweight=400&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.75&backgroundcolor=%23ffffff&fontcolor=%23000000
$-font-size-multipliers: (
  xs: 0.694,
  sm: 0.833,
  base: 1,
  lg: 1.2,
  xl: 1.44,
  2xl: 1.728,
  3xl: 2.074,
  4xl: 2.488,
  5xl: 2.986,
);
$font-size-multipliers: () !default;

// Merge the font size multipliers with the default ones.
@if $generate-base-font-sizes {
  $font-size-multipliers: map.merge(
    $-font-size-multipliers,
    $font-size-multipliers
  );
}

// Weights.
$-font-weights: (
  light: 300,
  normal: 400,
  bold: 700,
);
$font-weights: () !default;

// Merge the custom font weights with the default ones.
@if $generate-base-font-weights {
  $font-weights: map.merge($-font-weights, $font-weights);
}

/* stylelint-disable-next-line scss/dollar-variable-colon-space-after */
$root-font-family:
  system-ui,
  -apple-system,
  blinkmacsystemfont,
  "Segoe UI",
  roboto,
  "Helvetica Neue",
  arial,
  sans-serif !default;
