// Variables referencing custom properties.

@use "defaults";
@use "sass:map";

// A colour map of base colours and their shades.
$colors: ();

// Create a map for each colour.
@each $color, $map in defaults.$colors {
  // A map for the current colour.
  $color-map: ();

  @each $shade, $value in $map {
    // Set the custom prop name and fallback value.
    $color-property: var(--#{defaults.$prefix}-#{$color}--#{$shade}, $value);

    // Add the custom prop to the map.
    $color-map: map.merge(
      $color-map,
      (
        $shade: $color-property,
      )
    );
  }

  // Merge the colour map with the existing colours.
  $colors: map.merge(
    $colors,
    (
      $color: $color-map,
    )
  );
}

// Theme properties.
$theme-light: ();
$theme-dark: ();
$theme-active: ();

// Create a map for each colour theme.
@each $color, $map in $colors {
  // Maps for the current colour theme variants.
  $light-map: ();
  $dark-map: ();
  $active-map: ();

  @each $shade, $value in $map {
    // Get the dark shade and value.
    $dark-shade: map.get(defaults.$dark-map, $shade);
    $dark-value: map.get($map, $dark-shade);

    // Set the custom prop names and fallback values.
    $light-property: var(
      --#{defaults.$prefix}-theme-light--#{$color}--#{$shade},
      $value
    );
    $dark-property: var(
      --#{defaults.$prefix}-theme-dark--#{$color}--#{$shade},
      $dark-value
    );
    $active-property: var(
      --#{defaults.$prefix}-theme-active--#{$color}--#{$shade},
      $light-property
    );

    // Add the custom props to the maps.
    $light-map: map.merge(
      $light-map,
      (
        $shade: $light-property,
      )
    );
    $dark-map: map.merge(
      $dark-map,
      (
        $shade: $dark-property,
      )
    );
    $active-map: map.merge(
      $active-map,
      (
        $shade: $active-property,
      )
    );
  }

  // Merge the theme maps with the existing themes.
  $theme-light: map.merge(
    $theme-light,
    (
      $color: $light-map,
    )
  );
  $theme-dark: map.merge(
    $theme-dark,
    (
      $color: $dark-map,
    )
  );
  $theme-active: map.merge(
    $theme-active,
    (
      $color: $active-map,
    )
  );
}

// Font properties.
$font-family: var(--#{defaults.$prefix}-font-family, #{defaults.$font-family});
$font-size: var(--#{defaults.$prefix}-font-size, #{defaults.$font-size});
