// Variables referencing custom properties.

@use "defaults";
@use "sass:map";

// Primary theme colours.
$primary: (
  100: var(--#{defaults.$prefix}-primary--100, map.get(defaults.$primary, 100)),
  200: var(--#{defaults.$prefix}-primary--200, map.get(defaults.$primary, 200)),
  300: var(--#{defaults.$prefix}-primary--300, map.get(defaults.$primary, 300)),
  400: var(--#{defaults.$prefix}-primary--400, map.get(defaults.$primary, 400)),
  500: var(--#{defaults.$prefix}-primary--500, map.get(defaults.$primary, 500)),
  600: var(--#{defaults.$prefix}-primary--600, map.get(defaults.$primary, 600)),
  700: var(--#{defaults.$prefix}-primary--700, map.get(defaults.$primary, 700)),
  800: var(--#{defaults.$prefix}-primary--800, map.get(defaults.$primary, 800)),
  900: var(--#{defaults.$prefix}-primary--900, map.get(defaults.$primary, 900)),
);

// Secondary theme colours.
$secondary: (
  100: var(--#{defaults.$prefix}-secondary--100, map.get(defaults.$secondary, 100)),
  200: var(--#{defaults.$prefix}-secondary--200, map.get(defaults.$secondary, 200)),
  300: var(--#{defaults.$prefix}-secondary--300, map.get(defaults.$secondary, 300)),
  400: var(--#{defaults.$prefix}-secondary--400, map.get(defaults.$secondary, 400)),
  500: var(--#{defaults.$prefix}-secondary--500, map.get(defaults.$secondary, 500)),
  600: var(--#{defaults.$prefix}-secondary--600, map.get(defaults.$secondary, 600)),
  700: var(--#{defaults.$prefix}-secondary--700, map.get(defaults.$secondary, 700)),
  800: var(--#{defaults.$prefix}-secondary--800, map.get(defaults.$secondary, 800)),
  900: var(--#{defaults.$prefix}-secondary--900, map.get(defaults.$secondary, 900)),
);

// Theme colours.
$theme-light--primary: var(--#{defaults.$prefix}-theme-light--primary, map.get($primary, 700));
$theme-light--primary--dark: var(--#{defaults.$prefix}-theme-light--primary--dark, map.get($primary, 800));
$theme-light--primary--light: var(--#{defaults.$prefix}-theme-light--primary--light, map.get($primary, 600));
$theme-dark--primary: var(--#{defaults.$prefix}-theme-dark--primary, map.get($primary, 300));
$theme-dark--primary--dark: var(--#{defaults.$prefix}-theme-dark--primary--dark, map.get($primary, 200));
$theme-dark--primary--light: var(--#{defaults.$prefix}-theme-dark--primary--light, map.get($primary, 400));
$theme-active--primary: var(--#{defaults.$prefix}-theme-active--primary, $theme-light--primary);
$theme-active--primary--dark: var(--#{defaults.$prefix}-theme-active--primary--dark, $theme-light--primary--dark);
$theme-active--primary--light: var(--#{defaults.$prefix}-theme-active--primary--light, $theme-light--primary--light);

$theme-light--secondary: var(--#{defaults.$prefix}-theme-light--secondary, map.get($secondary, 700));
$theme-light--secondary--dark: var(--#{defaults.$prefix}-theme-light--secondary--dark, map.get($secondary, 800));
$theme-light--secondary--light: var(--#{defaults.$prefix}-theme-light--secondary--light, map.get($secondary, 600));
$theme-dark--secondary: var(--#{defaults.$prefix}-theme-dark--secondary, map.get($secondary, 300));
$theme-dark--secondary--dark: var(--#{defaults.$prefix}-theme-dark--secondary--dark, map.get($secondary, 200));
$theme-dark--secondary--light: var(--#{defaults.$prefix}-theme-dark--secondary--light, map.get($secondary, 400));
$theme-active--secondary: var(--#{defaults.$prefix}-theme-active--secondary, $theme-light--secondary);
$theme-active--secondary--dark: var(--#{defaults.$prefix}-theme-active--secondary--dark, $theme-light--secondary--dark);
$theme-active--secondary--light: var(--#{defaults.$prefix}-theme-active--secondary--light, $theme-light--secondary--light);

$theme-light--light: var(--#{defaults.$prefix}-theme-light--light, map.get($primary, 100));
$theme-dark--light: var(--#{defaults.$prefix}-theme-dark--light, map.get($primary, 900));
$theme-active--light: var(--#{defaults.$prefix}-theme-active--light, $theme-light--light);

$theme-light--dark: var(--#{defaults.$prefix}-theme-light--dark, map.get($primary, 900));
$theme-dark--dark: var(--#{defaults.$prefix}-theme-dark--dark, map.get($primary, 100));
$theme-active--dark: var(--#{defaults.$prefix}-theme-active--dark, $theme-light--dark);

// Font family.
$font-family: var(--#{defaults.$prefix}-font-family, defaults.$font-family);
$font-size: var(--#{defaults.$prefix}-font-size, defaults.$font-size);
