// @graupl/graupl spacing utilities styles.
//
// Responsive class must be within their own loop to prevent specificity issues.
// This keeps responsive specificity tied to screen size before property order.

@use "../../defaults" as root-defaults;
@use "../../functions/important";
@use "../../layout/columns/defaults" as columns-defaults;
@use "../../layout/flex-columns/defaults" as flex-columns-defaults;
@use "../../mixins/layer" as *;
@use "../../mixins/utility";
@use "../../theme/color/variables" as color;
@use "../../variables" as root-variables;
@use "defaults";
@use "sass:map";
@use "variables" as *;

@include layer(utilities) {
  $selector-prefix: root-defaults.$utility-selector-base;

  // For each spacing property, create a utility class.
  @each $name, $property in defaults.$spacing-properties {
    @each $key, $value in root-variables.$spacers {
      $selector: "#{$selector-prefix}#{$name}-#{$key}";

      // If we're dealing with gap, column-gap, or row-gap inside of #{columns-defaults.$columns-selector}, we should update
      // the columns-column-gap property instead of the raw property.
      @if $name == "g" {
        @include utility.create($selector, $property, $value) {
          &#{columns-defaults.$columns-selector} {
            --#{root-defaults.$prefix}columns-column-gap: #{important.insert(
                $value
              )};
            --#{root-defaults.$prefix}columns-row-gap: #{important.insert(
                $value
              )};
          }

          &#{flex-columns-defaults.$flex-columns-selector} {
            --#{root-defaults.$prefix}flex-columns-column-gap: #{important.insert(
                $value
              )};
            --#{root-defaults.$prefix}flex-columns-row-gap: #{important.insert(
                $value
              )};
          }
        }
      } @else if $name == "cg" {
        @include utility.create($selector, $property, $value) {
          &#{columns-defaults.$columns-selector} {
            --#{root-defaults.$prefix}columns-column-gap: #{important.insert(
                $value
              )};
          }

          &#{flex-columns-defaults.$flex-columns-selector} {
            --#{root-defaults.$prefix}flex-columns-column-gap: #{important.insert(
                $value
              )};
          }
        }
      } @else if $name == "rg" {
        @include utility.create($selector, $property, $value) {
          &#{columns-defaults.$columns-selector} {
            --#{root-defaults.$prefix}columns-row-gap: #{important.insert(
                $value
              )};
          }

          &#{flex-columns-defaults.$flex-columns-selector} {
            --#{root-defaults.$prefix}flex-columns-row-gap: #{important.insert(
                $value
              )};
          }
        }
      } @else {
        @include utility.create($selector, $property, $value);
      }
    }

    $selector: "#{$selector-prefix}#{$name}-auto";

    // Create the "auto" utility class.
    @include utility.create($selector, $property, auto);
  }

  // Generate screen-aware utilities.
  @if defaults.$screen-aware and root-defaults.$screen-aware-utilities {
    @each $screen-name in map.keys(root-defaults.$screen-sizes) {
      $selector-prefix: "#{root-defaults.$utility-selector-base}#{$screen-name}#{root-defaults.$utility-screen-aware-separator}";

      // For each spacing property, create a utility class.
      @each $name, $property in defaults.$spacing-properties {
        @each $key, $value in root-variables.$spacers {
          $selector: "#{$selector-prefix}#{$name}-#{$key}";

          // If we're dealing with gap, column-gap, or row-gap inside of #{columns-defaults.$columns-selector}, we should update
          // the columns-column-gap property instead of the raw property.
          @if $name == "g" {
            @include utility.create(
              $selector,
              $property,
              $value,
              $screen: $screen-name
            ) {
              &#{columns-defaults.$columns-selector} {
                --#{root-defaults.$prefix}columns-column-gap: #{important.insert(
                    $value
                  )};
                --#{root-defaults.$prefix}columns-row-gap: #{important.insert(
                    $value
                  )};
              }

              &#{flex-columns-defaults.$flex-columns-selector} {
                --#{root-defaults.$prefix}flex-columns-column-gap: #{important.insert(
                    $value
                  )};
                --#{root-defaults.$prefix}flex-columns-row-gap: #{important.insert(
                    $value
                  )};
              }
            }
          } @else if $name == "cg" {
            @include utility.create(
              $selector,
              $property,
              $value,
              $screen: $screen-name
            ) {
              &#{columns-defaults.$columns-selector} {
                --#{root-defaults.$prefix}columns-column-gap: #{important.insert(
                    $value
                  )};
              }

              &#{flex-columns-defaults.$flex-columns-selector} {
                --#{root-defaults.$prefix}flex-columns-column-gap: #{important.insert(
                    $value
                  )};
              }
            }
          } @else if $name == "rg" {
            @include utility.create(
              $selector,
              $property,
              $value,
              $screen: $screen-name
            ) {
              &#{columns-defaults.$columns-selector} {
                --#{root-defaults.$prefix}columns-row-gap: #{important.insert(
                    $value
                  )};
              }

              &#{flex-columns-defaults.$flex-columns-selector} {
                --#{root-defaults.$prefix}flex-columns-row-gap: #{important.insert(
                    $value
                  )};
              }
            }
          } @else {
            @include utility.create(
              $selector,
              $property,
              $value,
              $screen: $screen-name
            );
          }
        }

        $selector: "#{$selector-prefix}#{$name}-auto";

        // Create the "auto" utility class.
        @include utility.create(
          $selector,
          $property,
          auto,
          $screen: $screen-name
        );
      }
    }
  }

  // Generate theme-aware utilities.
  @if defaults.$theme-aware and root-defaults.$theme-aware-utilities {
    @each $theme-name, $colors in color.$themes {
      @if $theme-name != active {
        $selector-prefix: "#{root-defaults.$utility-selector-base}#{$theme-name}#{root-defaults.$utility-theme-aware-separator}";

        // For each spacing property, create a utility class.
        @each $name, $property in defaults.$spacing-properties {
          @each $key, $value in root-variables.$spacers {
            $selector: "#{$selector-prefix}#{$name}-#{$key}";

            // If we're dealing with gap, column-gap, or row-gap inside of #{columns-defaults.$columns-selector}, we should update
            // the columns-column-gap property instead of the raw property.
            @if $name == "g" {
              @include utility.create(
                $selector,
                $property,
                $value,
                $theme: $theme-name
              ) {
                &#{columns-defaults.$columns-selector} {
                  --#{root-defaults.$prefix}columns-column-gap: #{important.insert(
                      $value
                    )};
                  --#{root-defaults.$prefix}columns-row-gap: #{important.insert(
                      $value
                    )};
                }

                &#{flex-columns-defaults.$flex-columns-selector} {
                  --#{root-defaults.$prefix}flex-columns-column-gap: #{important.insert(
                      $value
                    )};
                  --#{root-defaults.$prefix}flex-columns-row-gap: #{important.insert(
                      $value
                    )};
                }
              }
            } @else if $name == "cg" {
              @include utility.create(
                $selector,
                $property,
                $value,
                $theme: $theme-name
              ) {
                &#{columns-defaults.$columns-selector} {
                  --#{root-defaults.$prefix}columns-column-gap: #{important.insert(
                      $value
                    )};
                }

                &#{flex-columns-defaults.$flex-columns-selector} {
                  --#{root-defaults.$prefix}flex-columns-column-gap: #{important.insert(
                      $value
                    )};
                }
              }
            } @else if $name == "rg" {
              @include utility.create(
                $selector,
                $property,
                $value,
                $theme: $theme-name
              ) {
                &#{columns-defaults.$columns-selector} {
                  --#{root-defaults.$prefix}columns-row-gap: #{important.insert(
                      $value
                    )};
                }

                &#{flex-columns-defaults.$flex-columns-selector} {
                  --#{root-defaults.$prefix}flex-columns-row-gap: #{important.insert(
                      $value
                    )};
                }
              }
            } @else {
              @include utility.create(
                $selector,
                $property,
                $value,
                $theme: $theme-name
              );
            }
          }

          $selector: "#{$selector-prefix}#{$name}-auto";

          // Create the "auto" utility class.
          @include utility.create(
            $selector,
            $property,
            auto,
            $theme: $theme-name
          );
        }
      }
    }
  }

  // Generate state-aware utilities.
  @if defaults.$state-aware and root-defaults.$state-aware-utilities {
    @each $state-name, $value in root-defaults.$state-selectors {
      $selector-prefix: "#{root-defaults.$utility-selector-base}#{$state-name}#{root-defaults.$utility-state-aware-separator}";

      // For each spacing property, create a utility class.
      @each $name, $property in defaults.$spacing-properties {
        @each $key, $value in root-variables.$spacers {
          $selector: "#{$selector-prefix}#{$name}-#{$key}";

          // If we're dealing with gap, column-gap, or row-gap inside of #{columns-defaults.$columns-selector}, we should update
          // the columns-column-gap property instead of the raw property.
          @if $name == "g" {
            @include utility.create(
              $selector,
              $property,
              $value,
              $state: $state-name
            ) {
              &#{columns-defaults.$columns-selector} {
                --#{root-defaults.$prefix}columns-column-gap: #{important.insert(
                    $value
                  )};
                --#{root-defaults.$prefix}columns-row-gap: #{important.insert(
                    $value
                  )};
              }

              &#{flex-columns-defaults.$flex-columns-selector} {
                --#{root-defaults.$prefix}flex-columns-column-gap: #{important.insert(
                    $value
                  )};
                --#{root-defaults.$prefix}flex-columns-row-gap: #{important.insert(
                    $value
                  )};
              }
            }
          } @else if $name == "cg" {
            @include utility.create(
              $selector,
              $property,
              $value,
              $state: $state-name
            ) {
              &#{columns-defaults.$columns-selector} {
                --#{root-defaults.$prefix}columns-column-gap: #{important.insert(
                    $value
                  )};
              }

              &#{flex-columns-defaults.$flex-columns-selector} {
                --#{root-defaults.$prefix}flex-columns-column-gap: #{important.insert(
                    $value
                  )};
              }
            }
          } @else if $name == "rg" {
            @include utility.create(
              $selector,
              $property,
              $value,
              $state: $state-name
            ) {
              &#{columns-defaults.$columns-selector} {
                --#{root-defaults.$prefix}columns-row-gap: #{important.insert(
                    $value
                  )};
              }

              &#{flex-columns-defaults.$flex-columns-selector} {
                --#{root-defaults.$prefix}flex-columns-row-gap: #{important.insert(
                    $value
                  )};
              }
            }
          } @else {
            @include utility.create(
              $selector,
              $property,
              $value,
              $state: $state-name
            );
          }
        }

        $selector: "#{$selector-prefix}#{$name}-auto";

        // Create the "auto" utility class.
        @include utility.create(
          $selector,
          $property,
          auto,
          $state: $state-name
        );
      }
    }
  }
}
