// @graupl/graupl flex columns layout styles.

@use "../../defaults" as root-defaults;
@use "../../mixins/layer" as *;
@use "../../mixins/screen";
@use "../../mixins/utility";
@use "defaults";
@use "sass:map";
@use "variables" as *;

@include layer(layout) {
  // Flex columns.
  #{defaults.$flex-columns-selector-base}#{defaults.$flex-columns-selector} {
    display: flex;
    flex-wrap: wrap;
    gap: $flex-columns-row-gap $flex-columns-column-gap;

    > * {
      flex: 1 1 $flex-columns-size;
      max-width: $flex-columns-max-width;
    }

    #{defaults.$flex-columns-fill-selector-base}#{defaults.$flex-columns-fill-selector} {
      --#{root-defaults.$prefix}flex-columns-max-width: unset;
    }
  }

  @for $i
    from defaults.$flex-columns-min-count
    through defaults.$flex-columns-max-count
  {
    #{defaults.$flex-columns-column-selector-base}#{defaults.$flex-columns-column-selector}#{$i} {
      /* stylelint-disable scss/operator-no-newline-after -- Prettier wants to format it this way. */
      --#{root-defaults.$prefix}flex-columns-size: calc(
        (100% / #{defaults.$flex-columns-max-count} * #{$i}) -
          #{$flex-columns-column-gap}
      );
      --#{root-defaults.$prefix}flex-columns-max-width: calc(
        100% / #{defaults.$flex-columns-max-count} * #{$i}
      );
      /* stylelint-enable  scss/operator-no-newline-after */
    }

    @include screen.trigger(force-single-column) {
      #{defaults.$flex-columns-column-selector-base}#{defaults.$flex-columns-column-selector}#{$i} {
        --#{root-defaults.$prefix}flex-columns-size: 100%;
        --#{root-defaults.$prefix}flex-columns-max-width: auto;
      }
    }
  }

  @each $screen-name in map.keys(root-defaults.$screen-sizes) {
    @for $i
      from defaults.$flex-columns-min-count
      through defaults.$flex-columns-max-count
    {
      /* stylelint-disable scss/operator-no-newline-after -- Prettier wants to format it this way. */
      @include utility.create-mapped(
        #{defaults.$flex-columns-column-selector-base}#{$screen-name}#{defaults.$flex-columns-screen-aware-separator}#{defaults.$flex-columns-column-selector}#{$i},
        (
          --#{root-defaults.$prefix}flex-columns-size: calc(
              (100% / #{defaults.$flex-columns-max-count} * #{$i}) -
                #{$flex-columns-column-gap}
            ),
          --#{root-defaults.$prefix}flex-columns-max-width: calc(
              100% / #{defaults.$flex-columns-max-count} * #{$i}
            )
        ),
        $screen: $screen-name
      ) {
        &#{defaults.$flex-columns-fill-selector-base}#{defaults.$flex-columns-fill-selector} {
          --#{root-defaults.$prefix}flex-columns-max-width: unset;
        }
      }
      /* stylelint-enable  scss/operator-no-newline-after */
    }
  }
}
