// Graupl color utilities.

@use "variables" as *;
@use "../../mixins/layer" as *;
@use "../../functions/important";
@use "../../theme/color/variables" as color;

@include layer(utilities) {
  @each $color, $map in color.$theme-active {
    @each $shade, $value in $map {
      $name: #{$color}-#{$shade};

      .bg-#{$name} {
        background: important.insert($value);
      }

      .text-#{$name} {
        color: important.insert($value);
      }
    }
  }
}
