// @graupl/core flex utilities default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;
@use "sass:map";

// Utility modifiers.
$selector-base: root-defaults.$utility-selector-base !default;
$use-important: root-defaults.$use-important !default;
$generate-base-utilities: root-defaults.$generate-base-utilities !default;
$screen-aware: false !default;
$theme-aware: false !default;
$state-aware: false !default;
$container-aware: false !default;
$screen-aware-separator: root-defaults.$utility-screen-aware-separator !default;
$theme-aware-separator: root-defaults.$utility-theme-aware-separator !default;
$state-aware-separator: root-defaults.$utility-state-aware-separator !default;
$container-aware-separator: root-defaults.$utility-container-aware-separator !default;
$screen-aware-selector-prefix: root-defaults.$utility-screen-aware-selector-prefix !default;
$theme-aware-selector-prefix: root-defaults.$utility-theme-aware-selector-prefix !default;
$state-aware-selector-prefix: root-defaults.$utility-state-aware-selector-prefix !default;
$container-aware-selector-prefix: root-defaults.$utility-container-aware-selector-prefix !default;

// Flex direction properties.
$flex-direction-selector-prefix: "flex-" !default;
$-flex-direction-properties: (
  row: row,
  row-reverse: row-reverse,
  col: column,
  col-reverse: column-reverse,
);
$custom-flex-direction-properties: () !default;
$flex-direction-properties: () !default;

// @todo remove this once $custom-flex-direction-properties is removed
@if $custom-flex-direction-properties != () {
  @warn "`$custom-flex-direction-properties` is deprecated and will be removed in a future release of Graupl. Use `$flex-direction-properties` instead.";

  $flex-direction-properties: map.merge(
    $flex-direction-properties,
    $custom-flex-direction-properties
  );
}

// Flex wrap properties.
$flex-wrap-selector-prefix: "flex-" !default;
$-flex-wrap-properties: (
  wrap: wrap,
  wrap-reverse: wrap-reverse,
  nowrap: nowrap,
);
$custom-flex-wrap-properties: () !default;
$flex-wrap-properties: () !default;

// @todo remove this once $custom-flex-wrap-properties is removed
@if $custom-flex-wrap-properties != () {
  @warn "`$custom-flex-wrap-properties` is deprecated and will be removed in a future release of Graupl. Use `$flex-wrap-properties` instead.";

  $flex-wrap-properties: map.merge(
    $flex-wrap-properties,
    $custom-flex-wrap-properties
  );
}

// Flex grow properties.
$flex-grow-selector-prefix: "flex-" !default;
$-flex-grow-properties: (
  grow: 1,
  no-grow: 0,
);
$custom-flex-grow-properties: () !default;
$flex-grow-properties: () !default;

// @todo remove this once $custom-flex-grow-properties is removed
@if $custom-flex-grow-properties != () {
  @warn "`$custom-flex-grow-properties` is deprecated and will be removed in a future release of Graupl. Use `$flex-grow-properties` instead.";

  $flex-grow-properties: map.merge(
    $flex-grow-properties,
    $custom-flex-grow-properties
  );
}

@if $generate-base-utilities {
  $flex-grow-properties: map.merge(
    $-flex-grow-properties,
    $flex-grow-properties
  );
}

// Flex shrink properties.
$flex-shrink-selector-prefix: "flex-" !default;
$-flex-shrink-properties: (
  shrink: 1,
  no-shrink: 0,
);
$custom-flex-shrink-properties: () !default;
$flex-shrink-properties: () !default;

// @todo remove this once $custom-flex-shrink-properties is removed
@if $custom-flex-shrink-properties != () {
  @warn "`$custom-flex-shrink-properties` is deprecated and will be removed in a future release of Graupl. Use `$flex-shrink-properties` instead.";

  $flex-shrink-properties: map.merge(
    $flex-shrink-properties,
    $custom-flex-shrink-properties
  );
}

// Flex basis properties.
$flex-basis-selector-prefix: "flex-" !default;
$-flex-basis-properties: (
  auto: auto,
  fit-content: fit-content,
  max-content: max-content,
  min-content: min-content,
  content: content,
  0: 0,
  full: 100%,
  quarter: 25%,
  half: 50%,
  three-quarters: 75%,
  third: calc(100% / 3),
  two-thirds: calc(100% / 1.5),
);
$custom-flex-basis-properties: () !default;
$flex-basis-properties: () !default;

// @todo remove this once $custom-flex-basis-properties is removed
@if $custom-flex-basis-properties != () {
  @warn "`$custom-flex-basis-properties` is deprecated and will be removed in a future release of Graupl. Use `$flex-basis-properties` instead.";

  $flex-basis-properties: map.merge(
    $flex-basis-properties,
    $custom-flex-basis-properties
  );
}

// Merge custom properties with base properties if generating base utilities.
@if $generate-base-utilities {
  $flex-direction-properties: map.merge(
    $-flex-direction-properties,
    $flex-direction-properties
  );
  $flex-wrap-properties: map.merge(
    $-flex-wrap-properties,
    $flex-wrap-properties
  );
  $flex-shrink-properties: map.merge(
    $-flex-shrink-properties,
    $flex-shrink-properties
  );
  $flex-basis-properties: map.merge(
    $-flex-basis-properties,
    $flex-basis-properties
  );
}
