// @graupl/core visibility utilities default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;
@use "../../functions/utility";
@use "../../variables" as root-variables;
@use "sass:map";

// Utility modifiers.
$selector-base: root-defaults.$utility-selector-base !default;
$selector-prefix: root-defaults.$utility-selector-prefix !default;
$selector-suffix: root-defaults.$utility-selector-suffix !default;
$selector-separator: root-defaults.$utility-selector-separator !default;
$use-important: root-defaults.$use-important !default;
$generate-base-utilities: root-defaults.$generate-base-utilities !default;
$screen-aware: true !default;
$theme-aware: false !default;
$scheme-aware: false !default;
$state-aware: false !default;
$container-aware: true !default;
$screen-aware-selector-prefix: root-defaults.$utility-screen-aware-selector-prefix !default;
$screen-aware-selector-suffix: root-defaults.$utility-screen-aware-selector-suffix !default;
$screen-aware-selector-separator: root-defaults.$utility-screen-aware-selector-separator !default;
$theme-aware-selector-prefix: root-defaults.$utility-theme-aware-selector-prefix !default;
$theme-aware-selector-suffix: root-defaults.$utility-theme-aware-selector-suffix !default;
$theme-aware-selector-separator: root-defaults.$utility-theme-aware-selector-separator !default;
$scheme-aware-selector-prefix: root-defaults.$utility-scheme-aware-selector-prefix !default;
$scheme-aware-selector-suffix: root-defaults.$utility-scheme-aware-selector-suffix !default;
$scheme-aware-selector-separator: root-defaults.$utility-scheme-aware-selector-separator !default;
$state-aware-selector-prefix: root-defaults.$utility-state-aware-selector-prefix !default;
$state-aware-selector-suffix: root-defaults.$utility-state-aware-selector-suffix !default;
$state-aware-selector-separator: root-defaults.$utility-state-aware-selector-separator !default;
$container-aware-selector-prefix: root-defaults.$utility-container-aware-selector-prefix !default;
$container-aware-selector-suffix: root-defaults.$utility-container-aware-selector-suffix !default;
$container-aware-selector-separator: root-defaults.$utility-container-aware-selector-separator !default;

// Properties.
$-utility-properties: (
  "visibility": visibility,
);
$utility-properties: () !default;

// Values.
$-utility-values: (
  visible: visible,
  hidden: hidden,
  collapse: collapse,
);
$utility-values: () !default;

@if $generate-base-utilities {
  $utility-properties: map.merge($-utility-properties, $utility-properties);
  $utility-values: map.merge($-utility-values, $utility-values);
}

// Set up all utility classes and properties for cleaner generation in the index file.
//
// The end result of this map is something like:
// $-utility-map: (
//   class-name: (
//     property: value,
//     property: value,
//     ...
//   ),
//   class-name: (
//     property: value,
//     property: value,
//     ...
//   ),
//   ...
// );
$-utility-map: ();
$-utility-map: map.deep-merge(
  $-utility-map,
  utility.generate-utility-map(
    $utility-properties,
    $utility-values,
    $selector-separator
  )
);
$utility-map: () !default;
$utility-map: map.deep-merge($-utility-map, $utility-map);
