// @gruapl/graupl navigation component styles.

@use "defaults";
@use "variables" as *;
@use "../../defaults" as root-defaults;
@use "../menu/defaults" as menu-defaults;
@use "../menu/variables" as menu-variables;
@use "../../mixins/layer" as *;
@use "../../mixins/media-queries" as *;

@include layer(component) {
  // Navigation.
  #{defaults.$navigation-selector} {
    display: grid;
    grid-template-areas:
      "branding - toggle"
      "menu menu menu";
    grid-template-columns: auto 1fr auto;
    isolation: isolate;

    #{menu-defaults.$menu-selector} {
      grid-area: menu;

      &#{menu-defaults.$menu-show-selector} {
        --#{root-defaults.$prefix}-menu-display: #{menu-variables.$menu-show-display};
      }

      &#{menu-defaults.$menu-hide-selector} {
        --#{root-defaults.$prefix}-menu-display: #{menu-variables.$menu-hide-display};
      }
    }
  }

  // Navigation toggle.
  #{defaults.$navigation-toggle-selector} {
    display: flex;
    grid-area: toggle;
    align-items: center;
    justify-content: center;
    min-width: $navigation-toggle-min-width;
    min-height: $navigation-toggle-min-height;
    padding: $navigation-toggle-padding;
    border-width: $navigation-toggle-border-width;
    border-style: $navigation-toggle-border-style;
    border-radius: $navigation-toggle-border-radius;

    &::before {
      content: "☰";
      display: block;
    }
  }

  // Navigation branding.
  #{defaults.$navigation-branding-selector} {
    display: flex;
    grid-area: branding;
    align-items: center;
    justify-content: flex-start;
  }

  @include screen(navigation-collapse) {
    // Navigation.
    #{defaults.$navigation-selector} {
      --#{root-defaults.$prefix}-menu-flex-direction: column;
      --#{root-defaults.$prefix}-submenu-position: relative;
      --#{root-defaults.$prefix}-menu-item-width: 100%;
      --#{root-defaults.$prefix}-submenu-inset: auto;
    }
  }

  @include screen(navigation-expand) {
    // Navigation.
    #{defaults.$navigation-selector} {
      --#{root-defaults.$prefix}-menu-hide-display: #{menu-variables.$menu-show-display};

      grid-template-areas: "branding - menu";
    }

    // Navigation toggle.
    #{defaults.$navigation-toggle-selector} {
      display: none;
    }
  }
}

@include layer(theme) {
  // Navigation.
  #{defaults.$navigation-selector} {
    --#{root-defaults.$prefix}-menu-background: #{$navigation-background};
    --#{root-defaults.$prefix}-menu-color: #{$navigation-color};
    --#{root-defaults.$prefix}-submenu-background: #{$navigation-background};
    --#{root-defaults.$prefix}-submenu-color: #{$navigation-color};

    background: $navigation-background;
    color: $navigation-color;
  }

  // Navigation toggle.
  #{defaults.$navigation-toggle-selector} {
    border-color: $navigation-toggle-border-color;
    background: $navigation-toggle-background;
    color: $navigation-toggle-color;

    &:hover {
      --#{root-defaults.$prefix}-navigation-toggle-background: #{$navigation-toggle-hover-background};
      --#{root-defaults.$prefix}-navigation-toggle-color: #{$navigation-toggle-hover-color};
    }
  }
}
