// @graupl/core tooltip component variables.
//
// These values are to be used to directly style components and provide a
// cleaner way to reference custom properties.

// Custom property defaults:
// | Custom property                           | Default                                                                                                                                                                             |
// | ----------------------------------------- | ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
// | --graupl-tooltip-padding-x                  | var(--graupl-spacer-5)                                                                                                                                                              |
// | --graupl-tooltip-padding-y                  | var(--graupl-spacer-5)                                                                                                                                                              |
// | --graupl-tooltip-padding                    | var(--graupl-tooltip-padding-y) var(--graupl-tooltip-padding-x)                                                                                                                         |
// | --graupl-tooltip-column-gap                 | var(--graupl-spacer-0)                                                                                                                                                              |
// | --graupl-tooltip-row-gap                    | var(--graupl-spacer-3)                                                                                                                                                              |
// | --graupl-tooltip-gap                        | var(--graupl-tooltip-column-gap) var(--graupl-tooltip-row-gap)                                                                                                                          |
// | --graupl-tooltip-background                 | var(--graupl-background)                                                                                                                                                            |
// | --graupl-tooltip-color                      | var(--graupl-color)                                                                                                                                                                 |
// | --graupl-tooltip-border-color               | var(--graupl-tooltip-color)                                                                                                                                                           |
// | --graupl-tooltip-border-top-left-radius     | var(--graupl-border-top-left-radius)                                                                                                                                                |
// | --graupl-tooltip-border-top-right-radius    | var(--graupl-border-top-right-radius)                                                                                                                                               |
// | --graupl-tooltip-border-bottom-left-radius  | var(--graupl-border-bottom-left-radius)                                                                                                                                             |
// | --graupl-tooltip-border-bottom-right-radius | var(--graupl-border-bottom-right-radius)                                                                                                                                            |
// | --graupl-tooltip-border-radius              | var(--graupl-tooltip-border-top-left-radius) var(--graupl-tooltip-border-top-right-radius) var(--graupl-tooltip-border-bottom-right-radius) var(--graupl-tooltip-border-bottom-left-radius) |
// | --graupl-tooltip-border-top-width           | var(--graupl-border-top-width)                                                                                                                                                      |
// | --graupl-tooltip-border-right-width         | var(--graupl-border-right-width)                                                                                                                                                    |
// | --graupl-tooltip-border-bottom-width        | var(--graupl-border-bottom-width)                                                                                                                                                   |
// | --graupl-tooltip-border-left-width          | var(--graupl-border-left-width)                                                                                                                                                     |
// | --graupl-tooltip-border-width               | var(--graupl-tooltip-border-top-width) var(--graupl-tooltip-border-right-width) var(--graupl-tooltip-border-bottom-width) var(--graupl-tooltip-border-left-width)                           |
// | --graupl-tooltip-border-top-style           | var(--graupl-border-top-style)                                                                                                                                                      |
// | --graupl-tooltip-border-right-style         | var(--graupl-border-right-style)                                                                                                                                                    |
// | --graupl-tooltip-border-bottom-style        | var(--graupl-border-bottom-style)                                                                                                                                                   |
// | --graupl-tooltip-border-left-style          | var(--graupl-border-left-style)                                                                                                                                                     |
// | --graupl-tooltip-border-style               | var(--graupl-tooltip-border-top-style) var(--graupl-tooltip-border-right-style) var(--graupl-tooltip-border-bottom-style) var(--graupl-tooltip-border-left-style)                           |
// | --graupl-tooltip-transition                 | opacity var(--graupl-transition-duration-fast) var(--graupl-transition-timing-function), transform var(--graupl-transition-duration-fast) var(--graupl-transition-timing-function)  |
// | --graupl-tooltip-transition-reduced-motion  | opacity var(--graupl-transition-duration-fast) var(--graupl-transition-timing-function)                                                                                             |
// | --graupl-tooltip-bubble-color                | var(--graupl-tooltip-color)                                                                                                                                                           |
// | --graupl-tooltip-bubble-font-size            | var(--graupl-small-font-size)                                                                                                                                                          |
// | --graupl-tooltip-bubble-font-weight          | var(--graupl-small-font-weight)                                                                                                                                                        |
// | --graupl-tooltip-bubble-font-family          | var(--graupl-small-font-family)                                                                                                                                                        |
// | --graupl-tooltip-bubble-line-height          | var(--graupl-small-line-height)                                                                                                                                                        |
// | --graupl-tooltip-bubble-margin               | 0 0 0 0                                                                                                                                                                             |
// | --graupl-tooltip-button-padding-x             | 0                                                                                                                                                                                   |
// | --graupl-tooltip-button-padding-y             | 0                                                                                                                                                                                   |
// | --graupl-tooltip-button-padding               | var(--graupl-tooltip-button-padding-y) var(--graupl-tooltip-button-padding-x)                                                                                                               |

@use "defaults";
@use "../../defaults" as root-defaults;
@use "../../variables" as root-variables;
@use "../../theme/color/variables" as color;
@use "../../base/button/variables" as button;
@use "../../theme/typography/variables" as typography;
@use "sass:map";

// Tooltip properties.
// --graupl-tooltip-padding-x
$tooltip-padding-x: var(--#{root-defaults.$prefix}tooltip-padding-x, 0);

// --graupl-tooltip-padding-y
$tooltip-padding-y: var(--#{root-defaults.$prefix}tooltip-padding-y, 0);

// --graupl-tooltip-padding
$tooltip-padding: var(
  --#{root-defaults.$prefix}tooltip-padding,
  #{$tooltip-padding-y} #{$tooltip-padding-x}
);

// Tooltip gap properties.
// --graupl-tooltip-column-gap
$tooltip-column-gap: var(
  --#{root-defaults.$prefix}tooltip-column-gap,
  #{map.get(root-variables.$spacers, 0)}
);

// --graupl-tooltip-row-gap
$tooltip-row-gap: var(
  --#{root-defaults.$prefix}tooltip-row-gap,
  #{map.get(root-variables.$spacers, 3)}
);

// --graupl-tooltip-gap
$tooltip-gap: var(
  --#{root-defaults.$prefix}tooltip-gap,
  #{$tooltip-column-gap} #{$tooltip-row-gap}
);

// Tooltip color properties.
// --graupl-tooltip-background
$tooltip-background: var(
  --#{root-defaults.$prefix}tooltip-background,
  transparent
);

// --graupl-tooltip-color
$tooltip-color: var(--#{root-defaults.$prefix}tooltip-color, #{color.$color});

// Tooltip border-properties.
// --graupl-tooltip-border-color
$tooltip-border-color: var(
  --#{root-defaults.$prefix}tooltip-border-color,
  #{$tooltip-color}
);

// --graupl-tooltip-border-top-left-radius
$tooltip-border-top-left-radius: var(
  --#{root-defaults.$prefix}tooltip-border-top-left-radius,
  #{root-variables.$border-top-left-radius}
);

// --graupl-tooltip-border-top-right-radius
$tooltip-border-top-right-radius: var(
  --#{root-defaults.$prefix}tooltip-border-top-right-radius,
  #{root-variables.$border-top-right-radius}
);

// --graupl-tooltip-border-bottom-left-radius
$tooltip-border-bottom-left-radius: var(
  --#{root-defaults.$prefix}tooltip-border-bottom-left-radius,
  #{root-variables.$border-bottom-left-radius}
);

// --graupl-tooltip-border-bottom-right-radius
$tooltip-border-bottom-right-radius: var(
  --#{root-defaults.$prefix}tooltip-border-bottom-right-radius,
  #{root-variables.$border-bottom-right-radius}
);

// --graupl-tooltip-border-radius
$tooltip-border-radius: var(
  --#{root-defaults.$prefix}tooltip-border-radius,
  #{$tooltip-border-top-left-radius} #{$tooltip-border-top-right-radius}
    #{$tooltip-border-bottom-right-radius} #{$tooltip-border-bottom-left-radius}
);

// --graupl-tooltip-border-top-width
$tooltip-border-top-width: var(
  --#{root-defaults.$prefix}tooltip-border-top-width,
  #{root-variables.$border-top-width}
);

// --graupl-tooltip-border-right-width
$tooltip-border-right-width: var(
  --#{root-defaults.$prefix}tooltip-border-right-width,
  #{root-variables.$border-right-width}
);

// --graupl-tooltip-border-bottom-width
$tooltip-border-bottom-width: var(
  --#{root-defaults.$prefix}tooltip-border-bottom-width,
  #{root-variables.$border-bottom-width}
);

// --graupl-tooltip-border-left-width
$tooltip-border-left-width: var(
  --#{root-defaults.$prefix}tooltip-border-left-width,
  #{root-variables.$border-left-width}
);

// --graupl-tooltip-border-width
$tooltip-border-width: var(
  --#{root-defaults.$prefix}tooltip-border-width,
  #{$tooltip-border-top-width} #{$tooltip-border-right-width}
    #{$tooltip-border-bottom-width} #{$tooltip-border-left-width}
);

// --graupl-tooltip-border-top-style
$tooltip-border-top-style: var(
  --#{root-defaults.$prefix}tooltip-border-top-style,
  #{root-variables.$border-top-style}
);

// --graupl-tooltip-border-right-style
$tooltip-border-right-style: var(
  --#{root-defaults.$prefix}tooltip-border-right-style,
  #{root-variables.$border-right-style}
);

// --graupl-tooltip-border-bottom-style
$tooltip-border-bottom-style: var(
  --#{root-defaults.$prefix}tooltip-border-bottom-style,
  #{root-variables.$border-bottom-style}
);

// --graupl-tooltip-border-left-style
$tooltip-border-left-style: var(
  --#{root-defaults.$prefix}tooltip-border-left-style,
  #{root-variables.$border-left-style}
);

// --graupl-tooltip-border-style
$tooltip-border-style: var(
  --#{root-defaults.$prefix}tooltip-border-style,
  #{$tooltip-border-top-style} #{$tooltip-border-right-style}
    #{$tooltip-border-bottom-style} #{$tooltip-border-left-style}
);

// Tooltip transition properties.
// --graupl-tooltip-transition
$tooltip-transition: var(
  --#{root-defaults.$prefix}tooltip-transition,
  opacity #{map.get(root-variables.$transition-durations, fast)}
    #{root-variables.$transition-timing-function},
  transform #{map.get(root-variables.$transition-durations, fast)}
    #{root-variables.$transition-timing-function}
);

// --graupl-tooltip-transition-reduced-motion
$tooltip-transition-reduced-motion: var(
  --#{root-defaults.$prefix}tooltip-transition-reduced-motion,
  opacity #{map.get(root-variables.$transition-durations, fast)}
    #{root-variables.$transition-timing-function}
);

// Tooltip bubble properties.
// --graupl-tooltip-bubble-color
$tooltip-bubble-color: var(
  --#{root-defaults.$prefix}tooltip-bubble-color,
  #{color.$color}
);

// --graupl-tooltip-bubble-background
$tooltip-bubble-background: var(
  --#{root-defaults.$prefix}tooltip-bubble-background,
  #{color.$background}
);

// --graupl-tooltip-bubble-font-size
$tooltip-bubble-font-size: var(
  --#{root-defaults.$prefix}tooltip-bubble-font-size,
  #{typography.$small-font-size}
);

// --graupl-tooltip-bubble-font-weight
$tooltip-bubble-font-weight: var(
  --#{root-defaults.$prefix}tooltip-bubble-font-weight,
  #{typography.$small-font-weight}
);

// --graupl-tooltip-bubble-font-family
$tooltip-bubble-font-family: var(
  --#{root-defaults.$prefix}tooltip-bubble-font-family,
  #{typography.$small-font-family}
);

// --graupl-tooltip-bubble-line-height
$tooltip-bubble-line-height: var(
  --#{root-defaults.$prefix}tooltip-bubble-line-height,
  #{typography.$small-line-height}
);

// --graupl-tooltip-bubble-margin
$tooltip-bubble-margin: var(
  --#{root-defaults.$prefix}tooltip-bubble-margin,
  0 0 0 0
);

// --graupl-tooltip-bubble-padding-x
$tooltip-bubble-padding-x: var(
  --#{root-defaults.$prefix}tooltip-bubble-padding-x,
  #{map.get(root-variables.$spacers, 1)}
);

// --graupl-tooltip-bubble-padding-y
$tooltip-bubble-padding-y: var(
  --#{root-defaults.$prefix}tooltip-bubble-padding-y,
  #{map.get(root-variables.$spacers, 1)}
);

// --graupl-tooltip-bubble-padding
$tooltip-bubble-padding: var(
  --#{root-defaults.$prefix}tooltip-bubble-padding,
  #{$tooltip-bubble-padding-y} #{$tooltip-bubble-padding-x}
);

// --graupl-tooltip-bubble-border-color
$tooltip-bubble-border-color: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-color,
  #{$tooltip-color}
);

// --graupl-tooltip-bubble-border-top-left-radius
$tooltip-bubble-border-top-left-radius: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-top-left-radius,
  #{root-variables.$border-top-left-radius}
);

// --graupl-tooltip-bubble-border-top-right-radius
$tooltip-bubble-border-top-right-radius: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-top-right-radius,
  #{root-variables.$border-top-right-radius}
);

// --graupl-tooltip-bubble-border-bottom-left-radius
$tooltip-bubble-border-bottom-left-radius: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-bottom-left-radius,
  #{root-variables.$border-bottom-left-radius}
);

// --graupl-tooltip-bubble-border-bottom-right-radius
$tooltip-bubble-border-bottom-right-radius: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-bottom-right-radius,
  #{root-variables.$border-bottom-right-radius}
);

// --graupl-tooltip-bubble-border-radius
$tooltip-bubble-border-radius: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-radius,
  #{$tooltip-bubble-border-top-left-radius}
    #{$tooltip-bubble-border-top-right-radius}
    #{$tooltip-bubble-border-bottom-right-radius}
    #{$tooltip-bubble-border-bottom-left-radius}
);

// --graupl-tooltip-bubble-border-top-width
$tooltip-bubble-border-top-width: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-top-width,
  #{root-variables.$border-top-width}
);

// --graupl-tooltip-bubble-border-right-width
$tooltip-bubble-border-right-width: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-right-width,
  #{root-variables.$border-right-width}
);

// --graupl-tooltip-bubble-border-bottom-width
$tooltip-bubble-border-bottom-width: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-bottom-width,
  #{root-variables.$border-bottom-width}
);

// --graupl-tooltip-bubble-border-left-width
$tooltip-bubble-border-left-width: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-left-width,
  #{root-variables.$border-left-width}
);

// --graupl-tooltip-bubble-border-width
$tooltip-bubble-border-width: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-width,
  #{$tooltip-bubble-border-top-width} #{$tooltip-bubble-border-right-width}
    #{$tooltip-bubble-border-bottom-width} #{$tooltip-bubble-border-left-width}
);

// --graupl-tooltip-bubble-border-top-style
$tooltip-bubble-border-top-style: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-top-style,
  #{root-variables.$border-top-style}
);

// --graupl-tooltip-bubble-border-right-style
$tooltip-bubble-border-right-style: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-right-style,
  #{root-variables.$border-right-style}
);

// --graupl-tooltip-bubble-border-bottom-style
$tooltip-bubble-border-bottom-style: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-bottom-style,
  #{root-variables.$border-bottom-style}
);

// --graupl-tooltip-bubble-border-left-style
$tooltip-bubble-border-left-style: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-left-style,
  #{root-variables.$border-left-style}
);

// --graupl-tooltip-bubble-border-style
$tooltip-bubble-border-style: var(
  --#{root-defaults.$prefix}tooltip-bubble-border-style,
  #{$tooltip-bubble-border-top-style} #{$tooltip-bubble-border-right-style}
    #{$tooltip-bubble-border-bottom-style} #{$tooltip-bubble-border-left-style}
);

// Tooltip button properties.
// --graupl-tooltip-button-background
$tooltip-button-background: var(
  --#{root-defaults.$prefix}tooltip-button-background,
  #{color.$color}
);

// --graupl-tooltip-button-hover-background
$tooltip-button-hover-background: var(
  --#{root-defaults.$prefix}tooltip-button-hover-background,
  #{color.$color}
);

// --graupl-tooltip-button-color
$tooltip-button-color: var(
  --#{root-defaults.$prefix}tooltip-button-color,
  #{color.$background}
);

// --graupl-tooltip-button-border-color
$tooltip-button-border-color: var(
  --#{root-defaults.$prefix}tooltip-button-border-color,
  #{button.$button-border-color}
);

// --graupl-tooltip-button-font-family
$tooltip-button-font-family: var(
  --#{root-defaults.$prefix}tooltip-button-font-family,
  serif
);

// --graupl-tooltip-button-font-size
$tooltip-button-font-size: var(
  --#{root-defaults.$prefix}tooltip-button-font-size,
  #{map.get(typography.$font-sizes, sm)}
);

// --graupl-tooltip-button-font-weight
$tooltip-button-font-weight: var(
  --#{root-defaults.$prefix}tooltip-button-font-weight,
  #{typography.$font-weight-bold}
);

// --graupl-tooltip-button-padding-x
$tooltip-button-padding-x: var(
  --#{root-defaults.$prefix}tooltip-button-padding-x,
  #{map.get(root-variables.$spacers, 1)}
);

// --graupl-tooltip-button-padding-y
$tooltip-button-padding-y: var(
  --#{root-defaults.$prefix}tooltip-button-padding-y,
  #{map.get(root-variables.$spacers, 1)}
);

// --graupl-tooltip-button-padding
$tooltip-button-padding: var(
  --#{root-defaults.$prefix}tooltip-button-padding,
  #{$tooltip-button-padding-y} #{$tooltip-button-padding-x}
);

// --graupl-tooltip-button-border-top-left-radius
$tooltip-button-border-top-left-radius: var(
  --#{root-defaults.$prefix}tooltip-button-border-top-left-radius,
  #{map.get(root-variables.$spacers, 7)}
);

// --graupl-tooltip-button-border-top-right-radius
$tooltip-button-border-top-right-radius: var(
  --#{root-defaults.$prefix}tooltip-button-border-top-right-radius,
  #{map.get(root-variables.$spacers, 7)}
);

// --graupl-tooltip-button-border-bottom-left-radius
$tooltip-button-border-bottom-left-radius: var(
  --#{root-defaults.$prefix}tooltip-button-border-bottom-left-radius,
  #{map.get(root-variables.$spacers, 7)}
);

// --graupl-tooltip-button-border-bottom-right-radius
$tooltip-button-border-bottom-right-radius: var(
  --#{root-defaults.$prefix}tooltip-button-border-bottom-right-radius,
  #{map.get(root-variables.$spacers, 7)}
);

// --graupl-tooltip-button-border-radius
$tooltip-button-border-radius: var(
  --#{root-defaults.$prefix}tooltip-button-border-radius,
  #{$tooltip-button-border-top-left-radius}
    #{$tooltip-button-border-top-right-radius}
    #{$tooltip-button-border-bottom-right-radius}
    #{$tooltip-button-border-bottom-left-radius}
);
