// @graupl/graupl default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "sass:map";

// Prefix for custom properties and other naming conventions.
$prefix: "graupl" !default;

// Settings.
$use-important: true !default;
$responsive-utilities: true !default;

// Layout properties.
$content-max-width: 96ch !default;

// Screen sizes.
$base-screen-sizes: (
  xs: 0,
  sm: 48ch,
  md: 72ch,
  lg: 108ch,
  xl: 156ch,
);
$custom-screen-sizes: () !default;
$screen-sizes: map.merge($base-screen-sizes, $custom-screen-sizes);
$base-screen-size-triggers: (
  navigation-collapse: (
    mixin: "down",
    args: (
      "sm",
    ),
  ),
  navigation-expand: (
    mixin: "up",
    args: (
      "md",
    ),
  ),
  force-vertical-card: (
    mixin: "down",
    args: (
      "sm",
    ),
  ),
  force-single-column: (
    mixin: "down",
    args: (
      "xs",
    ),
  ),
);
$custom-screen-size-triggers: () !default;
$screen-size-triggers: map.merge(
  $base-screen-size-triggers,
  $custom-screen-size-triggers
);

// Spacing properties.
$spacer: 1rem !default;
$base-spacer-multipliers: (
  0: 0,
  1: 0.125,
  2: 0.25,
  3: 0.5,
  4: 0.75,
  5: 1,
  6: 1.5,
  7: 2,
  8: 3,
  9: 5,
  10: 10,
);
$custom-spacer-multipliers: () !default;
$spacer-multipliers: map.merge(
  $base-spacer-multipliers,
  $custom-spacer-multipliers
);

// Size properties.
$interactive-min-width: 44px !default;
$interactive-min-height: 44px !default;

// Border properties.
$border-radius: 0.125rem !default;
$border-width: 2px !default;
$border-style: solid !default;

// Transition properties.
$transition-duration-base: 100 !default;
$transition-timing-function: ease !default;
$base-transition-durations: (
  fast: #{$transition-duration-base * 1.5}ms,
  default: #{$transition-duration-base * 2.5}ms,
  slow: #{$transition-duration-base * 3}ms,
);
$custom-transition-durations: () !default;
$transition-durations: map.merge(
  $base-transition-durations,
  $custom-transition-durations
);

// State selectors.
$base-state-selectors: (
  visited: (
    ".visited",
    ":visited",
  ),
  focus: (
    ".focus",
    ":focus-visible",
  ),
  hover: (
    ".hover",
    ":hover",
  ),
  active: (
    ".active",
    ":active",
  ),
  disabled: (
    ".disabled",
    ":disabled",
    "[disabled]",
    "[aria-disabled=true]",
  ),
);
$custom-state-selectors: () !default;
$state-selectors: map.merge($base-state-selectors, $custom-state-selectors);
