// @graupl/core button base mixins.

@use "defaults";
@use "../../defaults" as root-defaults;
@use "../../theme/color/variables" as color;
@use "variables" as *;
@use "../../mixins/layer" as *;
@use "../../mixins/animation";
@use "../../mixins/state";
@use "../../mixins/theme";
@use "sass:map";

/// Mixin to apply base styles for buttons.
@mixin apply-base() {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $button-min-width;
  min-height: $button-min-height;
  padding: $button-padding;
  transform: $button-transform;
  transition: $button-transition;
  border-width: $button-border-width;
  border-style: $button-border-style;
  border-radius: $button-border-radius;
  font-size: $button-font-size;
  cursor: pointer;

  @include state.generate-modifiers(
    (
      transform: $button-transform-states,
    )
  );

  @each $selector in map.get(root-defaults.$state-selectors, "disabled") {
    &#{$selector} {
      cursor: not-allowed;
    }
  }

  @include animation.off {
    --#{root-defaults.$prefix}button-transition: #{$button-transition-reduced-motion};
  }
}

/// Mixin to apply theme styles for buttons.
@mixin apply-theme() {
  border-color: $button-border-color;
  background: $button-background;
  color: $button-color;

  @include state.generate-modifiers(
    (
      border-color: $button-border-color-states,
      background: $button-background-states,
      color: $button-color-states,
    )
  );

  @if root-defaults.$themeable-components and defaults.$themeable {
    @include theme.generate-modifiers(
      defaults.$button-theme-map,
      defaults.$button-theme-selector-base,
      defaults.$button-theme-selector-prefix,
      "button-"
    );
  }
}

@mixin apply() {
  @include apply-base;
  @include apply-theme;
}
