// @graupl/core button base styles.

@use "defaults";
@use "../../defaults" as root-defaults;
@use "../../theme/color/variables" as color;
@use "variables" as *;
@use "../../mixins/layer" as *;
@use "../../mixins/animation";
@use "../../functions/theme";
@use "sass:map";

/// Mixin to apply base styles for buttons.
@mixin apply-base() {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $button-min-width;
  min-height: $button-min-height;
  padding: $button-padding;
  transform: $button-transform;
  transition: $button-transition;
  border-width: $button-border-width;
  border-style: $button-border-style;
  border-radius: $button-border-radius;
  font-size: $button-font-size;
  cursor: pointer;

  @each $state, $selectors in root-defaults.$state-selectors {
    @each $selector in $selectors {
      // e.g &:visited, &:focus-visible, &:hover, &:active, &:disabled
      &#{$selector} {
        transform: map.get($button-transform-states, $state);

        // If the state is disabled, we want that to supersede all other states.
        @if $state == "disabled" {
          cursor: not-allowed;

          @each $sub-state, $sub-selectors in root-defaults.$state-selectors {
            @if $sub-state != $state {
              @each $sub-selector in $sub-selectors {
                // e.g &:visited, &:focus-visible, &:hover, &:active
                &#{$sub-selector} {
                  transform: map.get($button-transform-states, $state);
                }
              }
            }
          }
        }
      }
    }
  }

  @include animation.off {
    --#{root-defaults.$prefix}button-transition: #{$button-transition-reduced-motion};
  }
}

/// Mixin to apply theme styles for buttons.
@mixin apply-theme() {
  border-color: $button-border-color;
  background: $button-background;
  color: $button-color;

  @each $color, $map in defaults.$button-theme-map {
    // e.g. &.primary, &.secondary, &.tertiary
    &#{defaults.$button-theme-selector-base}#{defaults.$button-theme-selector-prefix}#{$color} {
      @each $prop, $value in $map {
        --#{root-defaults.$prefix}button-#{$prop}: #{theme.get(
            map.get($value, color),
            map.get($value, shade)
          )};
      }
    }
  }

  @each $state, $selectors in root-defaults.$state-selectors {
    @each $selector in $selectors {
      // e.g &:visited, &:focus-visible, &:hover, &:active, &:disabled
      &#{$selector} {
        border-color: map.get($button-border-color-states, $state);
        background: map.get($button-background-states, $state);
        color: map.get($button-color-states, $state);

        // If the state is disabled, we want that to supersede all other states.
        @if $state == "disabled" {
          @each $sub-state, $sub-selectors in root-defaults.$state-selectors {
            @if $sub-state != $state {
              @each $sub-selector in $sub-selectors {
                // e.g &:visited, &:focus-visible, &:hover, &:active
                &#{$sub-selector} {
                  border-color: map.get($button-border-color-states, $state);
                  background: map.get($button-background-states, $state);
                  color: map.get($button-color-states, $state);
                }
              }
            }
          }
        }
      }
    }
  }
}

@mixin apply() {
  @include apply-base;
  @include apply-theme;
}
