// @graupl/graupl position utilities default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "sass:map";

$position-class-prefix: "position-" !default;
$base-position-properties: (
  static: static,
  fixed: fixed,
  absolute: absolute,
  relative: relative,
  sticky: sticky,
);
$custom-position-properties: () !default;
$position-properties: map.merge(
  $base-position-properties,
  $custom-position-properties
);
