// @graupl/core carousel component default values.
//
// Generally, these should not be used directly when styling components unless a static value is needed.
// They are mainly used to provide class selectors, fallbacks for custom properties, or loop values.
//
// They should not be used to define direct property values (i.e. font-size, color, etc.).
// Those should be defined as custom properties in the `_variables.scss` file.

@use "../../defaults" as root-defaults;
@use "../../functions/theme";
@use "sass:map";

// Carousel selectors.
$selector-base: root-defaults.$component-selector-base !default;
$modifier-selector-base: root-defaults.$modifier-selector-base !default;
$generate-base-theme-map: root-defaults.$generate-base-theme-maps !default;
$themeable: false !default;
$carousel-selector-base: $selector-base !default;
$carousel-selector: "carousel" !default;
$carousel-theme-selector-base: $modifier-selector-base !default;
$carousel-theme-selector-prefix: "" !default;
$carousel-control-container-selector-base: $selector-base !default;
$carousel-control-container-selector: "carousel-control-container" !default;
$carousel-control-selector-base: $selector-base !default;
$carousel-control-selector: "carousel-control" !default;
$carousel-pause-selector-base: $modifier-selector-base !default;
$carousel-pause-selector: "pause" !default;
$carousel-play-selector-base: $modifier-selector-base !default;
$carousel-play-selector: "play" !default;
$carousel-autoplay-selector-base: $modifier-selector-base !default;
$carousel-autoplay-selector: "autoplay" !default;
$carousel-previous-selector-base: $modifier-selector-base !default;
$carousel-previous-selector: "previous" !default;
$carousel-next-selector-base: $modifier-selector-base !default;
$carousel-next-selector: "next" !default;
$carousel-item-container-selector-base: $selector-base !default;
$carousel-item-container-selector: "carousel-item-container" !default;
$carousel-item-selector-base: $selector-base !default;
$carousel-item-selector: "carousel-item" !default;
$carousel-tab-container-selector-base: $selector-base !default;
$carousel-tab-container-selector: "carousel-tab-container" !default;
$carousel-tab-selector-base: $selector-base !default;
$carousel-tab-selector: "carousel-tab" !default;
$carousel-active-item-selector-base: $modifier-selector-base !default;
$carousel-active-item-selector: "active" !default;

// Carousel grid area properties.
$carousel-controls-height: auto !default;
$carousel-tabs-width: 1fr !default;
$carousel-tabs-height: auto !default;
$carousel-slide-height: 1fr !default;
$carousel-control-height: 3rem !default;
$carousel-control-width: 4rem !default;

// Carousel slide properties.
$carousel-item-max-width: 100% !default;

// Carousel control properties.
$carousel-play-content: "'▶'" !default;
$carousel-pause-content: "'❚❚'" !default;
$carousel-next-content: "'▶'" !default;
$carousel-previous-content: "'◀'" !default;

// Carousel state theme defaults.
// This map is used to define the default colour shades for the
// themed carousel bases.
//
// e.g.
// Primary carousels will use primary--900 as the text colour and primary--700 as the border colour.
//
// Secondary/tertiary carousels will use the same shade for their respective colours.
$-carousel-theme-mappings: (
  color: 900,
  border-color: 700,
  control-hover-color: 100,
  control-hover-background: 700,
  control-hover-border-color: 700,
  tab-hover-color: 100,
  tab-hover-background: 700,
  tab-hover-border-color: 700,
  disabled-color: 200,
  disabled-border-color: 200,
);
$carousel-theme-mappings: () !default;

// Merge the custom carousel state theme map with the default one.
@if $generate-base-theme-map {
  $carousel-theme-mappings: map.merge(
    $-carousel-theme-mappings,
    $carousel-theme-mappings
  );
}

$-carousel-theme-map: theme.generate-property-map($carousel-theme-mappings);
$carousel-theme-map: () !default;
$carousel-theme-map: map.deep-merge($-carousel-theme-map, $carousel-theme-map);
