// Graupl Button Component.

@use "defaults";
@use "../../defaults" as root-defaults;
@use "../../theme/color/variables" as color;
@use "variables" as *;
@use "../../mixins/layer" as *;
@use "../../mixins/media-queries" as *;
@use "sass:map";

@include layer(component) {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $button-min-width;
    min-height: $button-min-height;
    padding: $button-padding;
    transition: $button-transition;
    border-width: $button-border-width;
    border-style: $button-border-style;
    border-radius: $button-border-radius;
    font-size: $button-font-size;
    cursor: pointer;

    &:hover {
      transform: $button-hover-transform;
    }

    &:active {
      transform: $button-active-transform;
    }

    &:disabled {
      cursor: not-allowed;

      &:hover,
      &:active {
        transform: none;
      }
    }
  }

  @include animation-off {
    .button {
      transition: $button-transition-reduced-motion;

      &:hover {
        transform: $button-hover-transform-reduced-motion;
      }

      &:active {
        transform: $button-active-transform-reduced-motion;
      }
    }
  }
}

@include layer(theme) {
  .button {
    border-color: $button-border-color;
    background: $button-background;
    color: $button-color;

    &:hover {
      border-color: $button-hover-border-color;
      background: $button-hover-background;
      color: $button-hover-color;
    }

    &:active {
      border-color: $button-active-border-color;
      background: $button-active-background;
      color: $button-active-color;
    }

    &:disabled {
      border-color: $button-disabled-border-color;
      background: $button-disabled-background;
      color: $button-disabled-color;

      &:hover,
      &:active {
        border-color: $button-disabled-border-color;
        background: $button-disabled-background;
        color: $button-disabled-color;
      }
    }

    @each $color, $map in color.$theme-active {
      &.#{$color} {
        @each $prop, $shade in defaults.$button-state-theme-map {
          --#{root-defaults.$prefix}-button-#{$prop}: #{map.get($map, $shade)};
        }
      }
    }
  }
}
