// @graupl/graupl carousel component styles.

@use "defaults";
@use "variables" as *;
@use "../../defaults" as root-defaults;
@use "../../mixins/layer" as *;
@use "../../base/button/variables" as button-variables;
@use "../../base/button/mixins" as button-mixins;

#{defaults.$carousel-selector} {
  @include layer(component) {
    display: grid;
    position: relative;
    grid-template-columns: [slide-start autoplay-start] $carousel-control-width [autoplay-end tabs-start] $carousel-tab-width [tabs-end previous-start] $carousel-control-width [previous-end next-start] $carousel-control-width [next-end slide-end];
    grid-template-rows: [slide-start controls-start] $carousel-control-height [controls-end] $carousel-slide-height [tabs-start] $carousel-tab-height [tabs-end slide-end];
    isolation: isolate;

    &[data-graupl-action="next"] {
      #{defaults.$carousel-item-selector} {
        &#{defaults.$carousel-previous-item-selector} {
          transform: translateX(calc(-1 * $carousel-item-max-width));

          &#{defaults.$carousel-active-item-selector} {
            transform: translateX(0);
          }
        }

        &#{defaults.$carousel-next-item-selector} {
          transform: translateX($carousel-item-max-width);

          &#{defaults.$carousel-active-item-selector} {
            transform: translateX(0);
          }
        }
      }
    }

    &[data-graupl-action="previous"] {
      #{defaults.$carousel-item-selector} {
        &#{defaults.$carousel-previous-item-selector} {
          transform: translateX($carousel-item-max-width);

          &#{defaults.$carousel-active-item-selector} {
            transform: translateX(0);
          }
        }

        &#{defaults.$carousel-next-item-selector} {
          transform: translateX(calc(-1 * $carousel-item-max-width));

          &#{defaults.$carousel-active-item-selector} {
            transform: translateX(0);
          }
        }
      }
    }
  }
}

#{defaults.$carousel-control-container-selector} {
  @include layer(component) {
    display: contents;
  }
}

#{defaults.$carousel-control-selector} {
  @include button-mixins.apply-button;

  @include layer(component) {
    &#{defaults.$carousel-autoplay-selector} {
      grid-column: autoplay;
      grid-row: controls;
    }

    &#{defaults.$carousel-play-selector}::before {
      content: $carousel-play-content;
      display: inline-block;
    }

    &#{defaults.$carousel-pause-selector}::before {
      content: $carousel-pause-content;
      display: inline-block;
    }

    &#{defaults.$carousel-next-selector} {
      grid-column: next;
      grid-row: controls;

      &::before {
        content: $carousel-next-content;
        display: inline-block;
      }
    }

    &#{defaults.$carousel-previous-selector} {
      grid-column: previous;
      grid-row: controls;

      &::before {
        content: $carousel-previous-content;
        display: inline-block;
      }
    }
  }
}

#{defaults.$carousel-item-container-selector} {
  @include layer(component) {
    display: grid;
    z-index: -1;
    grid-area: slide;
    grid-template-areas: "items";
    overflow-x: hidden;
    isolation: isolate;
  }
}

#{defaults.$carousel-item-selector} {
  @include layer(component) {
    z-index: -1;
    grid-area: items;
    max-width: $carousel-item-max-width;
    opacity: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &#{defaults.$carousel-active-item-selector} {
      z-index: 1;
      transform: translateX(0);
      transition: transform
        var(--#{root-defaults.$prefix}-carousel-transition-duration, 500ms)
        ease-in-out;
      opacity: 1;
    }

    &#{defaults.$carousel-previous-item-selector} {
      z-index: 1;
      transform: translateX(calc(-1 * $carousel-item-max-width));
      transition: transform
        var(--#{root-defaults.$prefix}-carousel-transition-duration, 500ms)
        ease-in-out;
      opacity: 1;

      &#{defaults.$carousel-active-item-selector} {
        transform: translateX(0);
      }
    }

    &#{defaults.$carousel-next-item-selector} {
      z-index: 1;
      transform: translateX($carousel-item-max-width);
      opacity: 1;

      &#{defaults.$carousel-active-item-selector} {
        transform: translateX(0);
      }
    }
  }
}

#{defaults.$carousel-tab-container-selector} {
  @include layer(component) {
    display: flex;
    grid-area: tabs;
    justify-content: center;
    gap: 0.5rem;
  }
}

#{defaults.$carousel-tab-selector} {
  @include button-mixins.apply-button;

  @include layer(component) {
    --#{root-defaults.$prefix}-button-border-radius: 50%;
  }
}
